
.logo_info{ float:right; width:270px; padding:0 95px 0 20px;  }

.logo_info ul, ol, dl, li{    
    list-style:none;
}

.logo_info img, fieldset {border:0;}
.logo_info input {vertical-align:middle;}
.logo_info legend {display:none;}
.logo_info a:link {color:#1e4674;text-decoration:none;}
.logo_info a:visited {color:#1e4674;;text-decoration:none;}
.logo_info a:hover {color:#cc0000;text-decoration:underline;}
.logo_info .bt_page{width:950px;margin:0 auto;text-align:left;}
.logo_info .clear {clear:both;height:0;overflow:hidden;}
.logo_info table {border-collapse:collapse;border-spacing:0;}

.logo_info ul.list {
    margin: 0 0 50px 5px;
}

.logo_info ul.list li{ padding:0 0 10px; font-size:14px; font-family:microsoft yahei; position:relative;  }
.logo_info ul.list li.two{ padding:0 0 10px 53px;}
.logo_info ul.list li i{ font-style:normal; padding:0 10px 0 0;}
.logo_info em{ color:#ff0000; font-style:normal;  display:block; margin-left:53px; font-size:13px; padding-bottom:5px;}
.fxk{ margin:0 5px 0 0; *margin:2px 2px 0 -5px;}

.k205{ width:205px;}
.inputborder{ border-left:1px solid #808080;border-top:1px solid #808080;border-right:1px solid #d4d0c8; border-bottom:1px solid #d4d0c8; 
              height:23px; padding:3px 0 0 5px; font-family:microsoft yahei; font-size:13px;}
.hui{ color:#cccccc; }

