<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="邀请有礼分享出去之后的html">
                    <match url="^(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^hd.wxtest-ct.qichedaquan.com$" />
                    </conditions>
                    <action type="Rewrite" url="http://wxtest-ct.qichedaquan.com/{R:1}" />
                </rule>
				
				<rule name="邀请有礼分享出去之后_api">
                    <match url="^(.*?)/?api/(.*?)$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^hd.wxtest-ct.qichedaquan.com$" />
                        <add input="{URL}" pattern="/api/(.*?)" />
                    </conditions>
                    <action type="Rewrite" url="http://wxtest-ct.qichedaquan.com/api/{R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
