<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

  </configSections>
  <connectionStrings>
    <add name="Chitunion2017" connectionString="data source=192.168.3.152\DEV,4000;initial catalog=Chitunion2017;user id=sa;password=123.abc;MultipleActiveResultSets=True;App=EntityFramework,Application Name=ef" providerName="System.Data.SqlClient" />
    <!--<add name="Chitunion2017" connectionString="data source=192.168.3.152\TEST,5000;initial catalog=Chitunion2017;user id=sa;password=123.abc;MultipleActiveResultSets=True;App=EntityFramework,Application Name=ef" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <appSettings>

    <add key="SignOrderCount" value="12" />

    <add key="ConfigWithdrawalsPrice" value="50" />
    <!--详情页域名配置-->
    <add key="DominArticle" value="http://wxtest-ct.qichedaquan.com" />
    <!-- 订单接口-->
    <add key="GetOrderUrlByPost" value="http://www1.chitunion.com/api/ThirdBusiness/ReceiveByWx" />
    <!--微信渠道-->
    <add key="WeiXinChannelId" value="101003" />
    <!--IT-发送短信接口URL-->
    <add key="SMSServiceURL" value="http://api.sys.xingyuanauto.com/sms/SendSMS" />
    <!--IT-发送短信验证码——模板-->
    <add key="SendSMS_ModifyMobileContentTemp" value="您正在修改手机号，验证码：{0}，请在5分钟内按页面提示提交验证码，切勿将验证码泄露给他人" />
    <add key="SendSMS_WithdrawContentTemp" value="您正在进行提现操作，验证码：{0}，请在5分钟内按页面提示提交验证码，切勿将验证码泄露给他人" />
    <add key="SendSMS_BindingContentTemp" value="您正在绑定手机号，验证码：{0}，请在1分钟内按页面提示提交验证码，切勿将验证码泄露给他人" />
  
  
    <add key="DominArticleShare" value="news.app1.chitunion.com,news1.chitu.qichedaquan.com" />
    <add key="ConfigArgsPath" value="D:\项目文件\信息系统研发\销售业务\Chitu2018_Csharp\XYAuto.ChiTu2018\XYAuto.ChiTu2018.API.Tests" />
    <add key="Domin" value="http://wxtest-ct.qichedaquan.com" />
    <!--微信-模版-跳转url：1:提现成功,2:用户审核-->
    <add key="WxNoticeTemplateUrl" value="[{'type':1,'RedirectUrl':'/pages/cashDetail.html'},{'type':2,'RedirectUrl':'/userManager/userInfo.html'}]" />
    <!--分享奖励配置-->
    <add key="ShareSuccessTips" value="[{'ShareType':202004,'ShareName':'','MsgTips':'恭喜您!,{0}元已经到账'},{'ShareType':202005,'ShareName':'','MsgTips':'恭喜您!,{0}元已经到账'},{'ShareType':202006,'ShareName':'提现分享','MsgTips':'恭喜您!,{0}元已经到账'}]"/>
    <!--app消息推送设置开关-->
    <add key="AppPushSwitchConfig" value="true|7"/>
  </appSettings>

  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="BaseLog" />
    </root>
    <appender name="BaseLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="10MB" />
      <!--可以为:Once|Size|Date|Composite-->
      <!--Composite为Size和Date的组合-->
      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;ChiTu2018_Service_Test&quot;/yyyy-MM-dd&quot;.log&quot;" />
      <!--置为true,当前最新日志文件名永远为file节中的名字CC_yyyy-MM-dd.LOG-->
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>