<?xml version="1.0" encoding="utf-8" ?>
<APPConfiguration>
  <!--欢迎弹窗配置-->
  <WelcomeSettings>
    <!--欢迎标题-->
    <HeadTitle>欢迎您的到来</HeadTitle>
    <HeadContent>
      分享的内容有阅读就会有收益！
      新用户分享如下文章， 不仅有阅读
      收益， 我们还额外奖励您
    </HeadContent>
    <!--额外奖励金额（单位：元）-->
    <BountyPrice>2</BountyPrice>
    <!--分享优先级-->
    <!--<ShareOrder>QQ空间</ShareOrder><ShareOrder>微信</ShareOrder><ShareOrder>微博</ShareOrder>-->
    <!--分享出去后的分享语-->
    <ShareContent>感谢您的支持,{0}元奖励已到账</ShareContent>
    <IsDefault>N</IsDefault>
    <!--中间内容-->
    <MiddleContent>
      <TaskID>14322</TaskID>
      <MiddleTitle>【存照】这些大咖，早年都拍过画风清奇的MV</MiddleTitle>
      <MediaUrl>http://news1.chitu.qichedaquan.com/ct_m/20180427/298.html</MediaUrl>
      <ImgUrl>http://192.168.3.76/group4/M00/1A/A9/pIYBAFri_heAWDRQAAC7nfn47Bw199.jpg</ImgUrl>
      <Synopsis>【存照】这些大咖，早年都拍过画风清奇的MV</Synopsis>
      <ContentRead>{0}毛/有效阅读</ContentRead>
      <ContentShare>已分享{0}次</ContentShare>
      <CustomTitle>【存照】这些大咖，早年都拍过画风清奇的MV</CustomTitle>
      <CPCPrice>0.1</CPCPrice>
    </MiddleContent>
  </WelcomeSettings>

  <!--签到弹窗配置-->
  <DaySignSettings>
    <!--欢迎标题-->
    <HeadTitle>签到有奖</HeadTitle>
    <HeadContent>连续签到{0}天可得{1}元,已连续签到{2}天,今日签到可得收益{3}元</HeadContent>

    <!--海报-->
    <Poster>http://baidu.com</Poster>
    <Poster>http://baidu.com</Poster>
    <Poster>http://baidu.com</Poster>
    <!--中间内容-->
    <MiddleContent>
      <TaskID>1</TaskID>
      <MiddleTitle>标题</MiddleTitle>
      <MediaUrl>http://baidu.com</MediaUrl>
      <ContentRead>{0}毛/毛有效阅读</ContentRead>
      <ContentShare>已分享{0}次</ContentShare>
    </MiddleContent>
  </DaySignSettings>

  <!--提现弹窗配置-->
  <WithdrawSettings>
    <Methods>支付宝</Methods>
    <Methods>微信</Methods>
    <LimitPrice>50</LimitPrice>
    <LimitPrice>100</LimitPrice>
    <LimitPrice>200</LimitPrice>
  </WithdrawSettings>

  <!--炫耀弹窗配置-->
  <FlauntSettings>
    <!--欢迎标题-->
    <HeadTitle>签到有奖</HeadTitle>
    <HeadContent>炫耀分享有奖励,提现金额7个工作日内到账</HeadContent>
    <!--额外奖励金额（单位：元）-->
    <BountyPrice>0.1</BountyPrice>
    <!--海报-->
    <Poster>http://app1.chitunion.com/images/poster.png</Poster>
    <!--分享出去后的分享语-->
    <ShareContent>分享成功，恭喜获得0.1元奖励</ShareContent>
  </FlauntSettings>

  <!--其他配置-->
  <RestsSettings>
    <!--渠道审核，用户数配置（单位：人）-->
    <ChannelAuditUser>5</ChannelAuditUser>
    <!--全局开关配置-->
    <On-Off>ON</On-Off>
  </RestsSettings>

</APPConfiguration>

