<?xml version="1.0" encoding="utf-8" ?>
<AppClientConfig>
  <ServiceBusUrl>http://preonline.api.pay.xingyuanauto.com/servicebus/api</ServiceBusUrl>
  <ServiceBusAppKey>ChitulianmengInvoker</ServiceBusAppKey>
  <ServiceBusAppSecret>15c40207bdde423b9485a4e8fa1bbcf8</ServiceBusAppSecret>
</AppClientConfig>

<!--
测试环境:http://preonline.api.pay.xingyuanauto.com/servicebus/api
线上环境:http://payapi.xingyuanauto.com/servicebus/api

线上环境
资金付款接口授权：
ServiceBusUrl：http://api.kr.xingyuanauto.com/ServiceBus/api
AppId:chitulianmeng
AppKey:ChitulianmengInvoker
AppSecret:bd3c7c7aeeeb420db2f9245e5a5cb852



这是线上接口地址
服务总线：ServiceBusUrl：http://payapi.xingyuanauto.com/servicebus/api
消息总线：serverUrl：http://payapi.xingyuanauto.com/messagebus/api/Open/Publish
-->

<!--


这是测试接口地址
服务总线：ServiceBusUrl：http://preonline.api.pay.xingyuanauto.com/servicebus/api
消息总线：serverUrl：http://preonline.api.pay.xingyuanauto.com/messagebus/api/Open/Publish
-->