<?xml version="1.0" encoding="utf-8" ?>
<StorageGroupConfig>
  <!--测试环境：group1；线上环境：group4-->
  <Groups GroupName="group1">
    <!--测试环境 IP=192.168.3.71，Port=22122;线上环境 IP=192.168.105.9，Port=22122-->
    <add AppKey="Point1" IpAddress="192.168.3.71" Port="22122" />
  </Groups>
</StorageGroupConfig>