html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit; 
}
body { background:#e0e0e0; margin:0; padding:0; font-size:14px; color:#595959; font-family:"微软雅黑" }
input,select,textarea { font-family:"微软雅黑"  }
.clearfix, .clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.hide {display: none}
.clear_hh { clear:both;}
input,select,textarea { font-size:14px; color:#595959;}
.cc{float:inherit; clear:none; width:1600px; margin:0 auto;background:#FFF; }
.left { float:left;}
.right { float:right;}
ul li { list-style:none; margin:0; padding:0;}
*{margin:0;padding:0;list-style-type:none;}
/*在IE7下，会出现js错误，先注释掉了。
a{blr:expression(this.onFocus=this.blur())}去掉a标签的虚线框，避免出现奇怪的选中区域
a{outline:none; star:expresion(this.onFocus=this.blur());}
*/
:focus{outline:0;}
img{vertical-align:middle;}
ul, menu, dir {display: block;}
li { display: list-item;}
 :focus { outline-style: none; }
 .mt5 { margin-top:5px;}
 
 a { /*color:#63adc9;*/color:#00a8d6; text-decoration:none;}
 a:hover { color:#ff6347; text-decoration:none;}