/*2016-06-15 工单 by chengxianghua*/
.head { background:#00a8d6; height:45px; color:#FFF; line-height:40px; padding-left:25px; font-size:21px;}
.cont { float:inherit; clear:both; border:#cbcacf 1px solid; background:#f5f5f5; height:830px; padding-top:10px;}
.leftcon { float:left; clear:none; width:475px; padding-left:5px;}
.leftcon_up .border_up { background:url(../images/border_up.png) no-repeat; width:474px; height:10px;}
.leftcon_up .border_center { background:url(../images/border_center.png) repeat-y; width:474px; height:154px;} 
.leftcon_up .border_center2 { height:618px;}
.leftcon_up .border_bottom { background:url(../images/border_bottom.png) no-repeat; width:474px; height:10px;}
/*左上开始*/
.border_center ul  { margin:0 12px;float:left; clear:none; width:456px;}
.border_center ul li span{ float:left;color:#ff6347;position:relative; top:6px; right:5px;}
.border_center ul li span.call_time { margin-left:20px; top:5px;}
.border_center ul li .bor_kun { float:left; clear:none;  }
.border_center ul li .bor_kun2 { margin-left:4px;}
.border_center ul li .bor_kun3 { margin-left:6px;}
.border_center ul li .borleft { float:left; clear:none; background:url(../images/borleft.jpg) no-repeat; width:5px; height:32px;}
.border_center ul li .borcenter { float:left; clear:none; background:url(../images/borcenter.jpg) repeat-x; width:305px; height:32px;}
.border_center ul li .borright { float:left; clear:none; background:url(../images/borright.jpg) no-repeat; width:4px; height:32px;}
.border_center ul li .borcenter input,.border_center ul li .borcenter2 input { background:none; border:none; line-height:32px; padding-left:2px; width:196px; height:30px;text-indent:5px;*text-indent:3px;}
.border_center ul li .borcenter  img,.border_center ul li .borcenter3  img { border-left:#b5b5b5 1px solid; margin:0; padding:0; height:30px; width:24px; position:relative; top:-1px; *top:-5px; padding-left:5px; cursor:pointer;}
.border_center ul li.mt8 { margin-top:8px;}
.border_center ul li.pt5 { padding-top:2px;}
.border_center ul li.name { float:left; width:220px;}
.border_center ul li.name2 { width:300px;}
.border_center ul li.w120 { width:185px; margin-left:40px; margin-top:10px; }
.border_center ul li .borleft2 { float:left; clear:none; background:url(../images/borleft2.jpg) no-repeat; width:5px; height:32px;}
.border_center ul li .borcenter2 { float:left; clear:none; background:url(../images/borcenter2.jpg) repeat-x; width:200px; height:32px;}
.border_center ul li .borcenter21 { width:58px; }
.border_center ul li .borcenter22 { width:58px; }
.border_center ul li .borcenter23 { width:58px;}
.border_center ul li .borcenter3 { float:left; clear:none; background:url(../images/borcenter2.jpg) repeat-x; width:270px; height:32px;}
.border_center ul li .borright2 { float:left; clear:none; background:url(../images/borright2.jpg) no-repeat; width:4px; height:32px;}

.border_center ul li.name label { margin:0 20px 0 0px; position:relative; top:5px; cursor:pointer;}
.border_center ul li.name label em{ margin-left:5px; font-style:normal;  }

.border_center ul li .borcenter,.border_center ul li .borcenter2,.border_center2 ul li .textarea_center {position:relative;}
.border_center ul li .iebor{*position:static;}

.border_center ul li label.u-label    {position: absolute;z-index: 100;top: 6px; cursor: text;}
.border_center2 ul li .textarea_center label.u-label { top:0; left:8px;}
.border_center ul li label.f_dn { display:block;color:#bdbdbd;text-indent:5px;*text-indent:2px; }


/*公共下拉框样式*/
.cui_selectBox{vertical-align:top; margin-right:10px; overflow:hidden; float:left;}
.cui_selectTitle,.cui_selectTitle2,.cui_selectTitle3,.cui_selectTitle4,.cui_selectTitle5,.cui_selectTitle6,.cui_selectTitle7,.cui_selectTitle8,.cui_selectTitle9,.cui_selectTitle21{ height:30px; line-height:32px;cursor:pointer; margin:0; padding:0; text-indent:5px;width:58px; background:url(../images/arrow_down.jpg) 99% 60% no-repeat; font-size:14px; position:relative;}
.cui_selectTitle4{ width:200px;}
.cui_selectSub,.cui_selectSub2,.cui_selectSub3,.cui_selectSub4,.cui_selectSub5,.cui_selectSub6,.cui_selectSub7,.cui_selectSub8,.cui_selectSub9,.cui_selectSub21{background:#fff;border:1px solid #ddd;position:absolute;margin:0; padding-bottom:5px; min-width:130px; margin-left:-5px; display:none; margin-top:0px;z-index:999; font-size:14px;}
.cui_selectSub2,.cui_selectSub3{ min-width:75px;}
.cui_selectSub4 { min-width:206px;}
.cui_selectSub p,.cui_selectSub2 p,.cui_selectSub3 p,.cui_selectSub4 p,.cui_selectSub5 p,.cui_selectSub6 p,.cui_selectSub7 p,.cui_selectSub8 p,.cui_selectSub9 p,.cui_selectSub21 p{list-style:none; text-indent:10px; border-bottom:0px dotted #ddd; margin:0; padding:0;}
.cui_selectSub p a,.cui_selectSub2 p a,.cui_selectSub3 p a,.cui_selectSub4 p a,.cui_selectSub5 p a,.cui_selectSub6 p a,.cui_selectSub7 p a,.cui_selectSub8 p a,.cui_selectSub9 p a,.cui_selectSub21 p a{display:block;height:20px;color:#666;text-decoration:none; padding-right:20px; padding:5px 0; *min-width:206px;overflow: hidden;white-space: nowrap;}
.cui_selectSub p a,.cui_selectSub2 p a,.cui_selectSub3 p a{ min-width:130px;}
.cui_selectSub p a:hover,.cui_selectSub2 p a:hover,.cui_selectSub3 p a:hover,.cui_selectSub4 p a:hover,.cui_selectSub5 p a:hover,.cui_selectSub6 p a:hover,.cui_selectSub7 p a:hover,.cui_selectSub8 p a:hover,.cui_selectSub9 p a:hover,.cui_selectSub21 p a:hover{background:#f5f5f5;color:#666}
.cui_selectTitle span.sf_xz,.cui_selectTitle2 span.sf_xz,.cui_selectTitle3 span.sf_xz { width:48px; overflow: hidden;white-space: nowrap; position:relative; top:0px; color:#595959;text-indent:5px;left: 0px;}
.cui_selectTitle4 span.sf_xz { max-width:188px; overflow: hidden;white-space: nowrap; position:relative; top:0px; color:#595959;text-indent:5px;left: 0px;}
.cui_selectSub,.cui_selectSub2,.cui_selectSub3 { max-height:300px; overflow-y:auto; overflow-x:hidden;}
.colorgray {color:#999999 !important;}

/*左下开始*/
.border_center2 ul li label { cursor:pointer; margin-left:10px;}
.border_center2 ul li input.check{ position:relative; top:2px; margin-left:4px;}
.border_center2 ul li.ml15 { margin-left:15px;}
.border_center2 ul li.ml6 { margin-left:6px;}
.border_center2 ul li .add_lxr { *margin-bottom:10px;}
.border_center2 ul li .add_lxr a { margin-left:20px; position:relative; top:8px;}
.border_center2 ul li .textarea_top { background:url(../images/textarea_top.png) no-repeat; width:442px; height:9px;}
.border_center2 ul li .textarea_center { background:url(../images/textarea_center.png) repeat-y; width:442px; height:240px;}
.border_center2 ul li .textarea_bottom { background:url(../images/textarea_bottom.png) no-repeat; width:442px; height:8px;}
.border_center ul li .bor_kun4 {/* position:relative; top:-18px; *top:-20px;  left:7px;*/margin-top:-18px; *margin-top:-20px;  margin-left:7px;}
.border_center2 ul li .textarea_center textarea{ border:none; width:420px; height:240px; padding:0 5px; margin-left:5px;}
.border_center2 ul li .kj_option { margin-left:5px; margin-top:5px; font-size:14px; color:#00a8d6;}
.border_center2 ul li .kj_option2 { margin-right:10px; color:#595959;}
.border_center2 ul li .kj_option2 label em { font-style:normal; position:relative; top:-2px; *top:0;}
/*上传图片*/
.border_center2 ul.upload_pic  li{ float:left; clear:none; width:56px; margin:20px 5px 0 4px; position:relative;}
.border_center2 ul.upload_pic  li.last_pic { margin-right:0;}
.border_center2 ul.upload_pic  li span { background:url(../images/delete.png) no-repeat; width:14px; height:14px; position:absolute;  top:36px; right:-2px; cursor:pointer;}
/*按钮*/
.btn { margin-top:25px; margin-right:14px; *margin-right:7px;}
.btn input { border:none;  font-weight:bold; cursor:pointer;}
.btn input.btn_gary{ background:url(../images/btn_gray.png) no-repeat; width:80px; height:35px; margin-right:5px;}
.btn input.btn_blue{ background:url(../images/btn_blue.png) no-repeat; width:80px; height:35px; color:#FFF;}

/*右边开始*/
.rightcon { float:left; clear:none; margin-left:8px;}
.rightcon .r_bor_left{ float:left; clear:none; background:url(../images/r_bor_left.png) no-repeat; width:3px; height:817px;}
.rightcon .r_bor_center{ float:left; clear:none; background:url(../images/r_bor_center.png) repeat-x; width:1100px; height:817px;}
.rightcon .r_bor_right{ float:left; clear:none; background:url(../images/r_bor_right.png) no-repeat; width:4px; height:817px;}
/*导航开始*/
.mail_nav li{ float:left; clear:none;}
.mail_nav li a { float:left; clear:none; width:90px; color:#FFF; font-size:15px; font-weight:bold; padding:10px; text-align:center;}
.mail_nav li a.call_center,.mail_nav li a.yipai,.mail_nav li a.ershouche,.mail_nav li a.huimaiche,.mail_nav li  a.yichehui { background:url(../images/arrow_down.png) 85% 50% no-repeat;}
.mail_nav li a.call_center {background:url(../images/arrow_down.png) 90% 50% no-repeat;}
.mail_nav li a.current { color:#666;background:url(../images/arrow_down2.png) #fff 90% 50% no-repeat; padding-left:0;}
.cui_selectTitle21 { width:90px; color:#666;background:url(../images/arrow_down2.png) #fff 85% 50% no-repeat; padding:5px 10px;font-size:15px; font-weight:bold;}
.cui_selectTitle21_yipai {background:url(../images/arrow_down2.png) #fff 80% 50% no-repeat; }
.cui_selectTitle21_yipai span { padding-left:20px;}
.cui_selectSub21{ border:1px solid #ddd;position:absolute;margin:0; padding-bottom:0; width:110px;display:none; margin-top:0px;z-index:999; font-size:14px; box-shadow:2px 2px #eee;}
.cui_selectSub21 p a { color:#999; text-align:left; padding:8px; width:94px;}
.cui_selectSub21 p a:hover { background:#f5f5f5; color:#666;}

/*查询开始*/
.search { float:left; margin:20px 10px 0 10px;}
.search ul li { float:left; clear:none; width:310px; margin:5px 0;}
.search ul li label { float:left; width:90px; text-align:right; line-height:25px;}
.search ul li input.w200 { width:200px; padding:4px; border:#CCC 1px solid;}
.search ul li select.w65 { width:70px; padding:2px; border:#CCC 1px solid; margin-right:2px;}
.search ul li span label { width:auto; cursor:pointer; margin-right:20px; position:relative; top:2px; *top:-2px;}
.search ul li span label em { font-style:normal; position:relative; top:-2px; *top:0; left:2px;}
.search ul li.button input { background:url(../images/search_btn.png) no-repeat; width:70px; height:27px; border:none; color:#FFF;}
.search ul li.button input:hover { background:url(../images/search_btn_hover.png) no-repeat;}
.search ul li.w600 { text-align:right; width:615px;}
.search_list {height:682px; overflow-y:auto; margin-top:20px; overflow-x:hidden;}
.search_list_ywjl { height:735px;}
.search_list_jxs { height:640px;}
.search_list table{ border-top:#efeaea 1px solid; border-right:#efeaea 1px solid; width:1062px; margin:0 20px; line-height:25px; }
.search_list table th,.search_list table td { border-left:#efeaea 1px solid; border-bottom:1px solid #efeaea; padding:8px 5px; text-align:center;}
.search_list table th { background:#f5f5f5; font-weight:bold; color:#666;}
.search_list table td.ldq { text-align:left;}
.search_list table tr:hover {background:#f7f7f7;}
.search_list_ywjl table td.option_img a,.search_list_jxs table td.option_img a{ margin:0 4px;} 


/*工单审核*/
.redColor { color:#C00; margin-right:2px; }
.w980 { width:1000px; margin:0 auto 10px auto; background:#FFF; border:#e9e9e9 1px solid; position:relative;}
.w980 .title { background:#00a8d6; height:45px; line-height:40px; color:#FFF; font-size:21px; padding-left:25px; font-family:"微软雅黑"; }
.w980 .content { background:#FFF; padding:15px 20px; }
.w980 .content .btn  input { margin-right:5px;}
.w980 .content .titles { height:35px;line-height:30px;background:#f5f5f5; padding-left:10px; margin-top:5px; color:#333; font-weight:bold; font-size:14px;}
.w980 .content .titles span,.popup .infoC .baseInfo span {*margin-top:-22px; margin-right:10px;}
table.xm_View_bs {border-right:1px solid #E6E6E6;  border-top:1px solid #E6E6E6;  *border-collapse:collapse;  width:100%; line-height:35px; margin:10px 0 20px 0;}
table.xm_View_bs th,table.xm_View_bs td {border-left: 1px solid #E6E6E6;  border-bottom: 1px solid #E6E6E6;color: #333333;}
table.xm_View_bs td  { height:22px; line-height:22px; padding:5px 0; width:286px; padding-left:5px; color: #595959; }
table.xm_View_bs th {background:#F2F2F2; color:#000; height:35px; line-height:35px;font-weight:normal; text-align:right; padding-right:10px;}
table.xm_View_bs td input.w265{width:261px; *width:250px;padding:0 2px;height:22px;line-height:22px;border:1px solid #ccc; margin-right:4px;}
table.xm_View_bs td select.w265{width:268px; *width:257px;padding:0 2px;height:24px;line-height:24px;border:1px solid #ccc; margin-right:4px;}
table.xm_View_bs td  label { margin-right:40px; cursor:pointer; }
table.xm_View_bs td input.dx { position:relative; right:2px; vertical-align:baseline;}
table.xm_View_bs td .coupon-box02 { width:262px; *width:250px; background:#FAFAFA;border: 1px solid #ccc;height: 22px;padding:0 2px;position:absolute;margin-top:-12px; overflow:hidden; *margin-top:-15px;}
table.xm_View_bs td .coupon-box02 input.text02  { border:none;width:262px;*width:250px; *height:22px; line-height:22px;}
table.xm_View_bs td .coupon-box02 b { border-left: 1px solid #ccc; color: #666666;display: inline-block; line-height: 22px; position: absolute;right: 0; text-align: center;  top: 0;*top:1px; width: 50px; background:url(img/xuanzhe1.png) no-repeat; width:41px; height:22px;}
table.xm_View_bs td .coupon-box02 b a { color:#666; font-weight:normal;}
table.czr_list th,table.czr_list td { text-align:center; padding-right:0;}
table.czr_list td.l_dq { text-align:left; }
table.xm_View_bs td .bzh {word-wrap: break-word; break-word: break-all; float:left; *width:600px; color:#595959;}
table.xm_View_bs td .bzh img { margin-right:10px;}
table.xm_View_bs td.textarea textarea { width:734px; height:50px; border:#CCC 1px solid; padding:5px;}

/*上传图片*/
table.xm_View_sh th ul.sh_con  li span.add_attach ul.upload_pic { float:left; clear:none; width:700px;}
table.xm_View_sh th ul.sh_con  li span.add_attach ul.upload_pic  li{ float:left; clear:none; width:56px; margin:0px 5px 0 0; position:relative; }
table.xm_View_sh th ul.sh_con  li span.add_attach ul.upload_pic  li.last_pic { margin-right:0;}
table.xm_View_sh th ul.sh_con  li span.add_attach ul.upload_pic  li span { background:url(../images/delete.png) no-repeat; width:14px; height:14px; position:absolute;  top:36px; right:-2px; cursor:pointer;}
/*按钮*/
table.xm_View_bs th.btn { padding:15px 0; text-align:center;}
table.xm_View_bs th.btn input{ background:url(../images/search_btn.png) no-repeat; width:69px; height:27px; color:#FFF;}
table.xm_View_bs th.btn input:hover { background:url(../images/search_btn_hover.png) no-repeat;}
/*审核*/
table.xm_View_sh th ul.sh_con { float:left; clear:none; margin:15px 0;}
table.xm_View_sh th ul.sh_con  li { float:left; clear:none; width:470px;}
table.xm_View_sh th ul.sh_con  li label { float:left; clear:none; width:132px;}
table.xm_View_sh th ul.sh_con  li span.hf_con { float:left; clear:none;width:290px; text-align:left; margin-left:10px; position:relative; top:5px;}
table.xm_View_sh th ul.sh_con  li span.hf_con input.w265{width:320px;padding:0 2px;height:22px;line-height:22px;border:1px solid #ccc; margin-right:4px;}
table.xm_View_sh th ul.sh_con  li span.hf_con select.w265{width:328px;padding:0 2px;height:24px;line-height:24px;border:1px solid #ccc; margin-right:4px;}
table.xm_View_sh th ul.sh_con  li span.hf_con textarea {float:left; height:50px; border:#CCC 1px solid; padding:5px;  width:785px; margin-top:5px; }
table.xm_View_sh th ul.sh_con  li span.add_attach { display:block; clear:both; text-align:left; margin-left:142px;}

table.xm_View_bs th.gongdanjilu {padding:5px 0 10px 40px; }
table.xm_View_bs th.gongdanjilu ul li { float:left; clear:none; width:275px; text-align:left; padding:0 15px;}
table.xm_View_bs th.gongdanjilu ul li span { color:#999;}
/*回访*/
table.xm_View_hf th ul { margin-top:10px;}
table.xm_View_hf th ul li { padding-bottom:10px; *padding-bottom:0px;}
table.xm_View_hf th ul li label { float:left; clear:none; width:132px;}
table.xm_View_hf th ul li span.hf_con { float:left; clear:none; width:800px;} 
table.xm_View_hf th ul li span.hf_con label {  width:auto; margin:0 10px; cursor:pointer;}
table.xm_View_hf th ul li span.hf_con label input { margin-right:2px;}
table.xm_View_hf th ul li span.hf_con textarea {float:left; height:50px; border:#CCC 1px solid; padding:5px;  width:785px; margin-left:10px; margin-top:10px;}
table.xm_View_hf th ul li.btn,table.xm_View_sh th ul.sh_con  li.btn { margin:15px 5px 0 0; text-align:right; *margin-top:5px; width:945px;}
table.xm_View_hf th ul li.btn input,table.xm_View_sh th ul.sh_con  li.btn input{ background:url(../images/search_btn.png) no-repeat; width:69px; height:27px; color:#FFF; margin-top:10px; *margin-top:0;}
table.xm_View_hf th ul li.btn input:hover,table.xm_View_sh th ul.sh_con  li.btn input:hover { background:url(../images/search_btn_hover.png) no-repeat;}

table.xm_View_bs th.gongdanjilu ul li.status{ text-align:right;}
table.xm_View_bs th.gongdanjilu ul li.time { text-align:right;}
table.xm_View_bs th.gongdanjilu ul li.w800 { width:890px; line-height:22px; color:#666;}
table.xm_View_bs th.gongdanjilu ul li.attach span { display:block;clear:both; padding-top:5px;}
table.xm_View_bs th.gongdanjilu ul li.attach span img { margin-right:10px;}

/*个人用户信息页*/
.Menubox { float:left;}
.Menubox ul{margin:0px;padding:0px; float:left;}
.Menubox li{float:left; display:block;cursor:pointer;text-align:center; width:100px; height:30px; padding:2px 4px; line-height:30px; border:#E6E6E6 1px solid; margin-left:-1px;background:#f2f2f2;  position:relative; border-bottom:none; z-index:999; *top:4px; }
.Menubox li.hover {background:#fff; *margin-top:4px;border-right:#E6E6E6 1px solid; border-bottom:none;position:relative; z-index:999; top:1px; font-weight:bold; border-top:#00a8d6 2px solid;}
.Contentbox{ clear:both;width:960px; border-top:#E6E6E6 1px solid; padding:15px 0; margin-left:-1px;}
/*
.Contentbox .jl_talk { padding:10px;}
.Contentbox .jl_talk #faq { float:left; clear:none;}
.Contentbox .jl_talk #faq li { float:left; clear:both; margin: 0 0 5px;border:#eeeaeb 1px solid;width:928px;}
.Contentbox .jl_talk #faq dl { margin: 0;padding:0;display:inline; float:left; clear:both; }
.Contentbox .jl_talk #faq dt {float:left; clear:none; cursor:pointer;line-height:25px;padding: 8px 0 8px 30px; border-left:3px #fafafa solid; background:url(../images/arrow_down3.png) 1% 50% #fafafa no-repeat; width:895px; }
.Contentbox .jl_talk #faq dt.choose {float:left; clear:none; cursor:pointer;line-height:25px;padding: 8px 0 8px 30px; border-left:3px #01a8d5 solid; background:url(../images/arrow_down2.png) 1% 50% #fafafa no-repeat; width:895px; }
.Contentbox .jl_talk #faq dt div { float:left; clear:none; width:115px;}
.Contentbox .jl_talk #faq dt div.gd_type { width:100px; padding-left:10px;}
.Contentbox .jl_talk #faq dt div.gd_time { width:180px;} 
.Contentbox .jl_talk #faq dt div.gd_task { width:180px;}
.Contentbox .jl_talk #faq dt div.gd_name{ width:150px;}
.Contentbox .jl_talk #faq dt div.gd_xs { width:150px;}
.Contentbox .jl_talk #faq dt div.gd_option {  text-align:right; position:relative; top:5px;}
.Contentbox .jl_talk #faq dt div.gd_option img { margin:0 10px;}
.Contentbox .jl_talk #faq dd {display:block; clear:both; margin:0;padding: 10px 0 10px 20px;line-height: 180%;}
.Contentbox .jl_talk #faq dd.displaynone{ display:none;}*/
table.yw_jl{ border-top:#efeaea 1px solid; border-right:#efeaea 1px solid;width:960px;line-height:25px; }
table.yw_jl th,table.yw_jl td { border-left:#efeaea 1px solid; border-bottom:1px solid #efeaea; padding:5px; text-align:center;}
table.yw_jl td a img { margin:0 4px;}
table.yw_jl th { background:#f5f5f5; font-weight:bold; color:#666;}
table.yw_jl td.ldq { text-align:left;}
table.yw_jl tr:hover {background:#f7f7f7;}

/*弹层*/
.w600 { width:600px;}
.w900 { width:900px;}
.pop_new { border:#00a8d6 1px solid; background:#FFF; padding-bottom:20px;}
.pop_new .title {background:#00a8d6; color:#FFF; border:#09F 1px solid;border-bottom:#00a8d6 1px solid; height:36px; line-height:36px; font-size:15px; font-weight:bold; padding-left:5px;}
.pop_new .title a { background:url(../images/close.png) right no-repeat;  display: block; height: 20px; position: relative; top:8px;width: 20px;float:right;right:10px; border:none; *top:-28px;}
.pop_new .title a:hover { background:url(../images/close_hr.png) right no-repeat; }
.pop_new ul li { float:left; clear:none; width:280px;}
.pop_new ul li select { *height:25px;}
.pop_new ul li select.w180 {width:180px; padding:2px; border:#CCC 1px solid; margin-right:2px;}
.pop_new .option_button{ background:#f2f2f2;float:right; width:600px; text-align:right; margin:10px 0; padding:5px 10px; *width:580px;}
.pop_new .option_button2 { width:900px;}
.pop_new .option_button input { background:url(../images/search_btn.png) no-repeat; width:69px; height:27px; color:#FFF; border:none; margin-left:5px;}
.pop_new .option_button input:hover { background:url(../images/search_btn_hover.png) no-repeat;}
table.bq_list {border-top:#efeaea 1px solid; border-right:#efeaea 1px solid;width:580px;line-height:25px; margin:0 10px; }
table.bq_list th,table.bq_list td { border-left:#efeaea 1px solid; border-bottom:1px solid #efeaea; padding:5px; text-align:center;}
table.bq_list th { background:#f5f5f5; font-weight:bold; color:#666;}
table.bq_list td input.w150 { border:#CCC 1px solid; padding:2px; width:160px;}
table.bq_list tr:hover {background:#f7f7f7;}
/*接收人设置*/
.pop_new .set_edit{ float:left; margin:25px;}
.pop_new .set_edit ul li { float:left; clear:both;width:500px; padding:5px 0;}
.pop_new  ul li label,.pop_new .set_edit ul li label { float:left; clear:none; width:80px; text-align:right; line-height:25px; position:relative; *top:-2px; }
.pop_new .set_edit ul li label span.redcolor { color:#C00;}
.pop_new .set_edit ul li select.w136 { width:136px;padding:2px; border:#CCC 1px solid; margin-right:2px;}
.pop_new .set_edit ul li input.w300 { width:300px;  padding:4px; border:#CCC 1px solid;}
.pop_new .set_edit ul li input.w200 { width:200px;}
.pop_new .set_edit ul li textarea { width:400px; height:50px; padding:4px; border:#CCC 1px solid; vertical-align:top;}
.pop_new .set_edit ul li span p { clear:both; margin-left:80px; margin-top:5px; color:#C00;}
.pop_new .btn { float:left; clear:both; background:none; margin:0 auto; text-align:center; padding:0;}
.pop_new .btn input { margin:0 5px;}
 
/*经销商查询*/
.pop_new .set_edit ul li.jxs_title { }
.pop_new .set_edit ul li.jxs_title label { width:90px;}
.pop_new .set_edit ul li.jxs_title span.cx_btn input,.pop_new .search_ry ul li span.cx_btn input{  background:url(../images/search_btn.png) no-repeat; width:69px; height:27px; color:#FFF; border:none; margin-left:5px; }
.pop_new .set_edit ul li.jxs_title span.cx_btn input:hover { background:url(../images/search_btn_hover.png) no-repeat;}
.pop_new .set_edit ul li.jxs_title span.cx_btn a { margin-left:5px; position:relative; *top:-4px;}
table.jxs_list { width:880px;}
table.jxs_list td.ldq { text-align:left;}

/*标签选择*/
.biaoqian_xz { float:inherit; clear:none; margin:0; padding:0;}
.biaoqian_xz .Menubox_left { float:left; clear:both;width:114px;background:#f2f2f2;height:100%; min-height:260px;}
.biaoqian_xz .Menubox_left ul{margin:0px;padding:0px; padding-top:15px;}
.biaoqian_xz .Menubox_left li{ float:left; display:block; clear:both; cursor:pointer; width:104px;color:#949694; font-weight:bold; text-align:right; padding-right:10px; line-height:35px; }
.biaoqian_xz .Menubox_left li.hover{ background:#fff; width:104px;  color:#666;;font-weight:bold;}
.biaoqian_xz .Contentbox_right{ float:left; clear:none;  padding-top:8px;width:745px; margin:10px 20px;}
.biaoqian_xz .Contentbox_right ul li { float:left; clear:none; width:228px; margin-right:10px; padding:5px; }
.biaoqian_xz .Contentbox_right ul li:hover,.biaoqian_xz .Contentbox_right ul li.current { background:#00a8d6;}
.biaoqian_xz .Contentbox_right ul li:hover a,.biaoqian_xz .Contentbox_right ul li.current a { color:#FFF;}

/*查看附件*/
.attach_view_img {display:block; clear:both; width:1200px; border:#CCC 1px solid; background:#FFF; position:relative;  height:600px; overflow:hidden; background:#f5f5f5; margin:0 auto;}
.attach_view_img ul li { margin-left:100px;}
.attach_view_img a.left_btn, .attach_view_img a.right_btn{width:20px;height:36px;background:url(../images/foucs_btn.png) 0 0 no-repeat;position:absolute;top:300px;text-indent:-999px;overflow:hidden;}
.attach_view_img a.left_btn{background-position:0 0;left:20px;}
.attach_view_img a.left_btn:hover{background-position:0px -36px;left:20px;}
.attach_view_img a.right_btn{background-position:-20px -36px;right:20px;}
.attach_view_img a.right_btn:hover,.attach_view_img a.current:hover{background-position:-20px -36px;right:20px;}
.attach_view_img .close { background:#999; width:30px; height:30px; position:relative; float:right;}
.attach_view_img .close  a img { position:relative; top:5px; left:5px;}

 /*-------------------- loading -----------------*/
 .blue-loading
{
	background-image:url(/images/blue-loading.gif);
	background-repeat:no-repeat;
	background-position:center;
	height:100%;
	padding-top:20px;
}

/*人员设置*/
.pop_new .search_ry{ margin-bottom:15px;}
.pop_new .search_ry ul li { float:left; clear:none; width:350px;}
.pop_new .search_ry ul li.name_xm { width:230px;}
.pop_new .search_ry ul li input.w120{width:120px;  padding:4px; border:#CCC 1px solid;}

/*分页*/
.pagesnew { margin-left:5px; margin-right:10px; *margin-right:12px; margin-top:10px; font-size:12px;}
.pagesnew a{ border:#CCC 1px solid; display: inline-block; font-family: Tahoma,SimSun,Arial; height: 22px; line-height: 22px;min-width:16px; padding: 0 5px; text-align: center;text-decoration: none;}
.pagesnew span.pre { border:#CCC 1px solid; padding:0 5px; display: inline-block; height:22px; line-height:22px; position:relative; color:#999;}
.pagesnew a:hover,.pagesnew a.active { border:#00a8d6 1px solid; background:#00a8d6; color:#FFF;}
.pagesnew input { height:22px; line-height:22px; padding:0 5px; margin:0 2px; width:25px; position:relative; *top:2px;}
.pagesnew .curren_ry_xz a { border:none;}
.pagesnew .curren_ry_xz a:hover { background:none; color:#C00;}

/*新增免打扰*/
.pop_new .set_edit ul li select.w410 { width:410px;padding:2px; border:#CCC 1px solid; margin-right:2px;}
.pop_new .set_edit ul li span label { text-align:left; padding-left:2px;}
.pop_new .set_ndr ul li.ndr_tel,.pop_new .set_ndr ul li.ndr_hw { float:left; clear:none;width:252px; padding:5px 0;}
.pop_new .set_ndr ul li.ndr_tel input.w150,.pop_new .set_ndr ul li.ndr_hw input.w150{width:150px;  padding:4px; border:#CCC 1px solid;}

