<?xml version="1.0" encoding="utf-8"?>

<AppPostThirdApiConfig
  PostWithdrawalsUrl="http://wx-ct.qichedaquan.com/api/ThirdBusiness/Withdrawals"
  PostVerifyWithdrawalsClickUrl=""
  PostWithdrawalsPriceCalcUrl=""
  />

<!--
PostWithdrawalsUrl:提现接口url
PostVerifyWithdrawalsClickUrl：提现校验接口url
PostWithdrawalsPriceCalcUrl：提现个税计算接口url
-->