/* fonts */

  li.jqcloud {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 10px;
    line-height: normal;
  }

  div.jqcloud a {
    font-size: inherit;
    text-decoration: none;
  }

  li.jqcloud span.w10 { font-size: 550%; }
  li.jqcloud span.w9 { font-size: 500%; }
  li.jqcloud span.w8 { font-size: 450%; }
  li.jqcloud span.w7 { font-size: 400%; }
  li.jqcloud span.w6 { font-size: 350%; }
  li.jqcloud span.w5 { font-size: 300%; }
  li.jqcloud span.w4 { font-size: 250%; }
  li.jqcloud span.w3 { font-size: 200%; }
  li.jqcloud span.w2 { font-size: 150%; }
  li.jqcloud span.w1 { font-size: 100%; }

  /* colors */

  li.jqcloud { color: #09f; }
  li.jqcloud a { color: inherit; }
  li.jqcloud a:hover { color: #0df; }
  li.jqcloud a:hover { color: #0cf; }
  li.jqcloud span.w10 { color: #0cf; }
  li.jqcloud span.w9 { color: #0cf; }
  li.jqcloud span.w8 { color: #0cf; }
  li.jqcloud span.w7 { color: #39d; }
  li.jqcloud span.w6 { color: #90c5f0; }
  li.jqcloud span.w5 { color: #90a0dd; }
  li.jqcloud span.w4 { color: #90c5f0; }
  li.jqcloud span.w3 { color: #a0ddff; }
  li.jqcloud span.w2 { color: #99ccee; }
  li.jqcloud span.w1 { color: #aab5f0; }

  /* layout */

  li.jqcloud {
    overflow: hidden;
    position: relative;
  }

  li.jqcloud span { padding: 0; }
