<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CCDataInterfaceServiceSoap"/>
        <binding name="DealerInfoServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ncc.sys1.bitauto.com/CallRecordService/CCDataInterfaceService.asmx" binding="basicHttpBinding" bindingConfiguration="CCDataInterfaceServiceSoap" contract="CCDataInterfaceService.CCDataInterfaceServiceSoap" name="CCDataInterfaceServiceSoap"/>
      <endpoint address="http://easyop.bitauto.com/DMS/OuterService/DealerInfoService.asmx" binding="basicHttpBinding" bindingConfiguration="DealerInfoServiceSoap" contract="DealerInfoService.DealerInfoServiceSoap" name="DealerInfoServiceSoap"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <!--调用接口授权码-->
    <add key="AgentInfoAuthorizeCode" value="B8C9EC64-0B98-4C59-B423-C68B0854E3A6"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
