<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="描述文字，字数200内？">
<meta name="keywords" content="网站相关关键字，字数200内？">
<title>赤兔联盟平台</title>
    <link rel="stylesheet" type="text/css" href="../css/resetNew.css"/>
    <link rel="stylesheet" type="text/css" href="../css/layoutNew.css"/>
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <script type="text/javascript" src="../js/jquery.1.11.3.min.js"></script>
    <script type="text/javascript" src="../js/laydate.js"></script>
    <script type="text/javascript" src="../js/ejs.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="../js/Common_chitu.js"></script>
    <script type="text/javascript" src="../js/common_authority.js"></script>
    <script type="text/javascript" src="../js/Common_IE.js"></script>
    <script type="text/javascript" src="../js/layer/layer.js"></script>
    <script language="javascript" src="/api/check.ashx?NotCheckModule=true" type="text/javascript"></script>
    <script type="text/javascript" src="../js/jquery.pagination.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/ListManager.js"></script>
    <script type="text/javascript" src="js/ListOfOrder.js"></script>
    <!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
    <script type="text/javascript">
    console.log(CTLogin.RoleIDs)
    var RoleID = CTLogin.RoleIDs;
    </script>
</head>

<body>

<!--#include file="/base/header.html" -->

<div class="list_main">
<!--中间内容-->
<div class="order">
    <!--左侧菜单-->
    <!--#include file="/base/Menu.html" -->
    <div class="order_r">

        <div class="list_box">
            <div class="list">
                <h2 class="menu_nav"></h2>
            </div>
            <div id="list_switching">
                <ul class="tab_menu" id="SelectItems"></ul>
                <div class="clear"></div>
                <ul class="state" id="SearchSection"></ul>
            </div>
        </div>

        <!--导航标签的模板-->
        <script type="text/template" id="SelectItemsTemplate">
            <% SelectItems.forEach(function(item,index){ %>
            <% if(index == 0){ %>
            <li class="selected"><%= item%></li>
            <% }else{ %>
            <li><%= item%></li>
            <% } %>
            <% }) %>
        </script>

        <!--搜索框部分的模板-->
        <script type="text/template" id="SearchSectionTemplate">
            <% if(CTLogin.RoleIDs != "SYS001RL00003"){%>
            <li style='margin-left: 8px'><div class="ins_c">项目编号：</div>
                <input data-type="OrderNum" type="text" style="width:150px;" value="<%= SearchOptions.OrderNum%>">
            </li>
            <%} %>
            <li style='margin-left: 8px'><div class="ins_c">订单编号：</div>
                <input data-type="SubOrderNum" type="text" style="width:150px;" value="<%= SearchOptions.SubOrderNum %>">
            </li>
            <li><div class="ins_c">订单名称：</div>
                <input data-type="DemandDescribe" type="text" style="width:150px;" value="<%= SearchOptions.DemandDescribe%>">
            </li>
            <!--<li style="margin-right: 0"><div class="ins_c">执行周期：</div>
                <input class="laydate-iconNew" id="startTime" data-type="StartTime" type="text" style="width:120px;" value="<%= SearchOptions.StartTime%>">
                至
                <input class="laydate-iconNew" id="endTime" data-type="EndTime" type="text" style="width:120px;" value="<%= SearchOptions.EndTime%>">
            </li>-->
            <li style='margin-left: 8px'><div class="ins_c">订单资源：</div>
                <select data-type="MediaType" style="width:150px">
                    <option value="0">全部</option>
                    <option value="14001">微信公众号</option>
                    <option value="14002">APP广告</option>
                    <option value="14003">新浪微博</option>
                    <option value="14004">视频</option>
                    <option value="14005">直播</option>
                </select>
            </li>
            <% if(CTLogin.RoleIDs != "SYS001RL00002"){%>
            <li style='margin-left: 8px'><div class="ins_c">广告主：</div>
                <input data-type="CustomerID" type="text" style="width:150px;" value="<%= SearchOptions.CustomerID%>" id="AdventerMaster">
            </li>
            <%} %>
            <li class=" but_query but_add" style="width:70px;margin-right:0">查询</li>
            <div class="clear"></div>
        </script>

        <div class="list_box mt20">
            <div class="tab_box">
                <div class="box">
                    <div class="table">
                        <!--AE、超管、运营订单列表模板-->
                        <script type="text/template" id="ListTemplate-1">
                            <tr>
                                <th width="12%">订单编号</th>
                                <th width="10%">订单名称</th>
                                <th width="9%">广告主</th>
                                <th width="9%">媒体名称</th>
                                <th width="12%">执行时间</th>
                                <th width="13%">订单金额（元）</th>
                                <th width="8%">资源类型</th>
                                <th width="9%">订单类型</th>
                                <th width="9%">下单人</th>
                                <th width="14%">操作</th>
                            </tr>
                            <% OrderList.forEach(function(item){ %>
                            <tr data-type="<%= item.MediaType%>" OrderSource='<%= item.OrderSource %>'>
                                <td><%= item.OrderNum%></td>
                                <td><%= item.OrderName%></td>
                                <td><%= item.CustomerName%></td>
                                <td><%= item.MediaAccount%></td>
                                <td><%= item.CreateTime%></td>
                                <td><%= formatMoney(item.OrderMoney,2)%></td>
                                <td><%= item.MediaName%></td>
                                <td><%= item.OrderSource%></td>
                                <td><%= item.Creater%></td>
                                <% if(item.OrderCreatSource == "1"){%>
                                    <% if(OrderState == "16003"){ %>
                                    <td>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_execute_btn">执行</a>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_cancel_btn">取消订单</a>
                                    </td>
                                    <% }else if(OrderState == "16004"){ %>
                                    <td>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_uploadData_btn">上传数据</a>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_confirm_btn">已完成</a>
                                    </td>
                                    <% }else if(OrderState =="16009"){ %>
                                    <td>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                    </td>
                                    <% }else if(OrderState =="16005"){ %>
                                    <td>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                    </td>
                                    <% } %>
                                <%}else{%>
                                    <% if(OrderState == "16003"){ %>
                                    <td><a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a></td>
                                    <% }else if(OrderState == "16004"){ %>
                                    <td><a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a></td>
                                    <% }else if(OrderState =="16009"){ %>
                                    <td><a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a></td>
                                    <% }else if(OrderState =="16005"){ %>
                                    <td><a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a></td>
                                    <% } %>
                                <%} %>
                            </tr>
                            <% })%>
                        </script>
                        <!--广告主订单列表模板-->
                        <script type="text/template" id="ListTemplate-2">
                            <tr>
                                <th width="12%">订单编号</th>
                                <th width="16%">订单名称</th>
                                <th width="9%">媒体名称</th>
                                <th width="16%">执行时间</th>
                                <th width="12%">订单金额（元）</th>
                                <th width="8%">资源类型</th>
                                <th width="12%">操作</th>
                            </tr>
                            <% OrderList.forEach(function(item){ %>
                            <tr data-type="<%= item.MediaType%>" OrderSource='<%= item.OrderSource %>'>
                                <td><%= item.OrderNum%></td>
                                <td><%= item.OrderName%></td>
                                <td><%= item.MediaAccount%></td>
                                <td><%= item.CreateTime%></td>
                                <td><%= formatMoney(item.OrderMoney,2)%></td>
                                <td><%= item.MediaName%></td>
                                <% if(OrderState == "16003"){ %>
                                <td>
                                    <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                </td>
                                <% }else if(OrderState == "16004"){ %>
                                <td>
                                    <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                </td>
                                <% }else if(OrderState =="16009"){ %>
                                <td>
                                    <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                </td>
                                <% }else if(OrderState =="16005"){ %>
                                <td>
                                    <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                </td>
                                <% } %>
                            </tr>
                            <% })%>
                        </script>
                        <!--销售订单列表模板-->
                        <script type="text/template" id="ListTemplate-3">
                            <tr>
                                <th width="12%">订单编号</th>
                                <th width="8%">订单名称</th>
                                <th width="9%">广告主</th>
                                <th width="9%">媒体名称</th>
                                <th width="12%">执行时间</th>
                                <th width="13%">订单金额（元）</th>
                                <th width="8%">资源类型</th>
                                <!-- <th width="8%">订单类型</th>
                                <th width="8%">下单人</th> -->
                                <th width="18%">操作</th>
                            </tr>
                            <% OrderList.forEach(function(item){ %>
                            <tr data-type="<%= item.MediaType%>" OrderSource='<%= item.OrderSource %>'>
                                <td><%= item.OrderNum%></td>
                                <td><%= item.OrderName%></td>
                                <td><%= item.CustomerName%></td>
                                <td><%= item.MediaAccount%></td>
                                <td><%= item.CreateTime%></td>
                                <td><%= formatMoney(item.OrderMoney,2)%></td>
                                <td><%= item.MediaName%></td>
                                <!-- <td><%= item.OrderSource%></td>
                                <td><%= item.Creater%></td> -->
                                <% if(OrderState == "16003"){ %>
                                <td>
                                    <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                </td>
                                <% }else if(OrderState == "16004"){ %>
                                <td>
                                    <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                </td>
                                <% }else if(OrderState =="16009"){ %>
                                <td>
                                    <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                </td>
                                <% }else if(OrderState =="16005"){ %>
                                <td>
                                    <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                </td>
                                <% } %>
                            </tr>
                            <% })%>
                        </script>
                        <!--媒体主订单模板-->
                        <script type="text/template" id="ListTemplate-4">
                            <tr>
                                <th width="12%">订单编号</th>
                                <th width="12%">订单名称</th>
                                <th width="9%">广告主</th>
                                <th width="9%">媒体名称</th>
                                <th width="14%">执行时间</th>
                                <th width="12%">订单金额（元）</th>
                                <th width="8%">资源类型</th>
                                <th width="18%">操作</th>
                            </tr>
                            <% OrderList.forEach(function(item){ %>
                            <tr data-type="<%= item.MediaType%>" OrderSource='<%= item.OrderSource %>'>
                                <td><%= item.OrderNum%></td>
                                <td><%= item.OrderName%></td>
                                <td><%= item.CustomerName%></td>
                                <td><%= item.MediaAccount%></td>
                                <td><%= item.CreateTime%></td>
                                <td><%= formatMoney(item.OrderMoney,2)%></td>
                                <td><%= item.MediaName%></td>
                                <% if(OrderState == "16003"){ %>
                                    <td>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_execute_btn">执行</a>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_cancel_btn">取消订单</a>
                                    </td>
                                    <% }else if(OrderState == "16004"){ %>
                                    <td>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_uploadData_btn">上传数据</a>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_confirm_btn">已完成</a>
                                    </td>
                                    <% }else if(OrderState =="16009"){ %>
                                    <td>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                    </td>
                                    <% }else if(OrderState =="16005"){ %>
                                    <td>
                                        <a data-id="<%= item.OrderNum%>" href="javascript:;" class="order_look_btn">查看</a>
                                    </td>
                                <% } %>
                            </tr>
                            <% })%>
                        </script>
                        <table id="List" width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="javascript:;ddd" ></table>

                        <!--分页-->
                        <div id="pageContainer" class="green-black"></div>
                        <!--无数据时显示的无内容图片-->
                        <div id="No_Data"></div>
                        <script type="text/template" id="No_DataTemplate">
                            <div style="text-align: center">
                                <img src="../images/no_data.png" alt="">
                            </div>
                        </script>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

    </div>

</div>
</div>


<!--javascript:;include file="/base/footer.html" -->
</body>
</html>
