<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="描述文字，字数200内？">
    <meta name="keywords" content="网站相关关键字，字数200内？">
    <title>赤兔联盟平台</title>
    <link rel="stylesheet" type="text/css" href="../css/resetNew.css"/>
    <link rel="stylesheet" type="text/css" href="../css/layoutNew.css"/>
    <script type="text/javascript" src="../js/jquery.1.11.3.min.js"></script>
    <script language="javascript" src="/api/check.ashx?NotCheckModule=true" type="text/javascript"></script>
    <script type="text/javascript" src="../js/jquery.jmpopups-0.5.1.pack.js"></script>
    <script type="text/javascript" src="../js/jquery.browser.js"></script>
    <script type="text/javascript" src="../js/tab.js"></script>
    <script type="text/javascript" src="../js/ejs.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="../js/Common_chitu.js"></script>
    <script type="text/javascript" src="../js/Common_IE.js"></script>
    <script type="text/javascript" src="../js/laydate.js"></script>
    <script type="text/javascript" src="../js/layer/layer.js"></script>
    <script type="text/javascript" src="js/DetailOfProject.js"></script>
    <script>
        console.log(CTLogin.RoleIDs);
    </script>
    <style>
        .to_b_list table .date_input{
            width: 80px;
            height: 26px;
            border: none;
            background: none;
        }
        .to_b_list table .holiday_icon{
            display: inline-block;
            width: 30px;
            height: 20px;
            color: #fff;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            background:  #f77777;
            border-radius: 4px
        }
        .to_b_list table .everyHoliday{
            font-size: 12px;
            line-height: 24px
        }
        .to_b_list table .appTime,.day_bottom{
            height: auto;
            border-bottom: dashed #CBCBCB 1px;
        }

        .to_b_list table .look_holidays{
            font-size: 12px;
            width: 70px;
            height: 20px;
            background: #f77777;
            color: #fff;
            display: inline-block;
            line-height: 20px;
            border-radius: 3px;
        }
    

        .to_b_list table .appTime:last-of-type,.day_bottom:last-of-type{
            border:none;
            margin-bottom: 0;
        }
        .to_b_list table .SuspensionElements{
            position: absolute;
            width: 200px;
            height: auto;
            background: #fff;
            left: 35px;
            top: 22px;
            border: 1px solid #ccc;
            border-radius: 6px;
            pointer-events: none;
            z-index: 99;
        }

        .to_b_list .portrait{
            position: relative;
        }

        .to_b_list .portrait .xj {
            background-color: rgba(0,0,0,0.5);
            background-color: #000;
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
        }
        .main_message  li{
            width:30%;
            float: left;
            margin-right: 10px;
            line-height: 35px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .react_reason{
            background: #f5f5f5;
            padding: 15px 0;
            margin:0 24px;
            border:solid  #E9E9E9 1px;
            margin-bottom: 15px;
        }
        .react_reason span{
            display: inline-block;
            padding-left: 8px;
        }
        .react_reason p{
            float: right;
            width: 92%;
        }
        .but_query{
            border-radius: 0;
        }

    </style>
</head>
<body>

<!--#include file="/base/header.html" -->

<div class="order">

    <!--左侧菜单-->
    <!--#include file="/base/Menu.html" -->

    <div class="order_r">
        <div class="install">
            <h2 class='menu_nav'></h2>
            <div class="clear"></div>
            <div class="install_box"></div>
        </div>
    </div>

    <script type="text/template" id="DetailOfProjectForWeChat">            
        
        <% if(data.ADOrderInfo.Status == 16006){%>
            <div class="react_reason">    
                <span>驳回原因：</span>
                <p><%= data.ADOrderInfo.RejectMsg %></p>
            </div>
        <%} %>

        <div class="clear"></div>

        <ul style="padding-left: 24px;" class="main_message">
            <li>项目编号：<%= data.ADOrderInfo.OrderID %></li> 
            <li>项目名称：<%= data.ADOrderInfo.OrderName %></li>
            <li>项目类型：<% if(data.ADOrderInfo.OrderType == 1){%> 待客下单 <%}else if(data.ADOrderInfo.OrderType == 2){%> 自助下单  <%}else if(data.ADOrderInfo.OrderType == 3){%> 代客下单-智投 <%} %></li>

            <!-- 媒体主取CustomerUserName  AE超管销售取CustomerName -->
            <% if(CTLogin.RoleIDs == "SYS001RL00003"){%>
                <li>广告主：<%= data.ADOrderInfo.CustomerUserName %></li>
            <%}else{%>
                <li>广告主：<%= data.ADOrderInfo.CustomerName %></li>
            <%} %>

            <li>下单人：<%= data.ADOrderInfo.CreatorName %></li>            
            <!-- <li>创建人：<% if(data.ADOrderInfo.CreatorUserName != ''){%>
                <%= data.ADOrderInfo.CreatorUserName %>
            <%}else if(data.ADOrderInfo.CreatorName != ''){%>
                <%= data.ADOrderInfo.CreatorName %>
            <%} %></li> -->
            <li>创建时间：<%= data.ADOrderInfo.CreateTime %></li>
            <li>销售参考价总价：<%= formatMoney(data.ADOrderInfo.TotalAmount,2) %></li>

            <li>项目状态：
                <span class="red orderStatus"></span>
                <% if(data.ADOrderInfo.Status == 16002){%>
                    <% if(CTLogin.RoleIDs == "SYS001RL00001" || CTLogin.RoleIDs == "SYS001RL00004" || CTLogin.RoleIDs == "SYS001RL00005"){%>
                        <a href="javascript:;" class="but_query audit_project" style="width:50px;height: 22px;line-height: 22px;" OrderID='<%= data.ADOrderInfo.OrderID %>'>审核</a>
                        <a href="javascript:;" class="but_query delete_project" style="width:50px;height: 22px;line-height: 22px;" OrderID='<%= data.ADOrderInfo.OrderID %>'>删除</a>
                    <%} %>
                <%}else if(data.ADOrderInfo.Status == 16005){%>
                    <a href="javascript:;" class="but_query delete_project" style="width:50px;height: 22px;line-height: 22px;" OrderID='<%= data.ADOrderInfo.OrderID %>'>删除</a>
                <%}else if(data.ADOrderInfo.Status == 16006){%>
                    <a href="javascript:;" class="but_query delete_project" style="width:50px;height: 22px;line-height: 22px;" OrderID='<%= data.ADOrderInfo.OrderID %>'>删除</a>
                <%}else{%>
                    <% if(CTLogin.RoleIDs == "SYS001RL00001" || CTLogin.RoleIDs == "SYS001RL00004" || CTLogin.RoleIDs == "SYS001RL00005"){%>
                        <a href="javascript:;" class="but_query delete_project" style="width:50px;height: 22px;line-height: 22px;" OrderID='<%= data.ADOrderInfo.OrderID %>'>删除</a>
                    <%} %>
                <%} %> 
            </li>

        </ul>

        <div class="clear"></div>

        <% data.SubADInfos.forEach(function(items){%>
        <div class="to_b_list">
            <% if(data.ADOrderInfo.Status != 16002 && data.ADOrderInfo.Status != 16001 ){%>
            <div class="title">
                <div class="fl">订单编号：<%= items.SubOrderID %></div>
                <div class="fr red">
                    <% if(items.Status == 16001){%>
                        <span class='subOrderStatus'>草稿</span>
                    <%}else if(items.Status == 16002){%>
                        <span class='subOrderStatus'>待审核</span>
                    <%}else if(items.Status == 16003){%>
                        <span class='subOrderStatus'>待执行</span>
                    <%}else if(items.Status == 16004){%>
                        <span class='subOrderStatus'>执行中</span>
                    <%}else if(items.Status == 16005){%>
                        <span class='subOrderStatus'>已取消</span>
                    <%}else if(items.Status == 16006){%>
                        <span class='subOrderStatus'>已驳回</span>
                    <%}else if(items.Status == 16007){%>
                        <span class='subOrderStatus'>已删除</span>
                    <%}else if(items.Status == 16008){%>
                        <span class='subOrderStatus'>执行完毕</span>
                    <%}else if(items.Status == 16009){%>
                        <span class='subOrderStatus'>已完成</span>
                    <%} %>
                </div>
                <div class="clear"></div>
            </div>
            <%} %>

            <!-- 自媒体 微信 -->
            <% if(items.SelfDetails != null){%>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ddd" class="data_table">
                <thead>
                    <th width="26%" style="text-align: left"><span class="self"><%= items.MediaOwner %></span></th>
                    <th width="22%">&nbsp;</th>
                    <th width="10%">投放次/天数</th>
                    <th width="24%">投放时间</th>
                    <th width="8%">参考价</th>
                    <th width="10%">总计</th>
                </thead>
                <tbody>
                    <% items.SelfDetails.forEach(function(item,i){%>
                        <!-- 微信过期或者失效或者被删除 -->
                        <% if(item.PublishStatus == '42001' || item.PublishStatus == '42003' || item.PublishStatus == '42012' || item.expired == '-1'){%>
                        <tr class="validAdv tr uselessTr" expired='<%= item.expired %>' HasOtherPublish='<%= item.HasOtherPublish %>' MediaType='14001'>
                            <td style="text-align: left;">
                                <div class="portrait"><img src="<%= item.ADMasterImage %>"></div>
                                <div class="content" style="margin-left: 5px;width: 125px">
                                    <div><a href="javascript:;"><%= item.ADMasterTitle %></a></div>
                                    <% if(item.ADMasterTitle != items.Name){%>
                                    <p><img src="/ImagesNew/collection04.png"><%= items.Name %></p>
                                    <%} %>
                                    <p><img src="/ImagesNew/collection01.png"></p>
                                </div>
                                <div class="clear"></div>
                            </td>
                            <td style="text-align: left;">
                                <p>广告位置：<%= item.ADPosition %></p>
                                <p>创作类型：<%= item.CreateType %></p>
                            </td>
                            <td style=""><p class='weChat_days'><%= item.ADLaunchDays %>天</p></td>
                            <!-- 排期展示 -->
                            <td class="wechat_list5" style="float: none;">
                                <ul BeginTime="<%= item.PubBeginTime %>" EndTime="<%= item.PubEndTime %>" style='width: 65%;margin: 0 auto;margin-right: 10px';>
                                <%for(var k = 0;k < item.ADSchedules.length;k++){%>
                                    <li class="Time">
                                        <span> <%=item.ADSchedules[k].BeginData.substr(0,16) %> </span>
                                    </li>
                                <%}%>
                                </ul>
                            </td>
                            <td style="">
                                <p><%= formatMoney(item.OriginalPrice,2) %></p>
                            </td>
                            <td style="">
                                <p class="pt30 red" lastMoney='<%= item.AdjustPrice %>'><span class='init_total'><%= formatMoney(item.AdjustPrice,2) %></span></p>
                            </td>
                        </tr>
                        <%}else{%>
                        <!-- 微信正常 -->
                        <tr class="validAdv tr usefulTr" scheduleDays="<%= item.ADLaunchDays %>" PubDetailID='<%= item.PublishDetailID %>' beginSchedule='' style='position: relative' OriginalPrice='<%= item.OriginalPrice %>' AdjustPrice='<%= item.OriginalPrice*item.ADLaunchDays %>'  MediaID='<%= items.MediaID %>' TemplateID='<%= item.TemplateID %>' expired='<%= item.expired %>' PublishStatus='<%= item.PublishStatus %>' MediaType='14001'>
                            <td style="text-align: left">
                                <div class="portrait"><img src="<%= item.ADMasterImage %>"></div>
                                <div class="content" style="margin-left: 5px;width: 125px">
                                    <div><a href="javascript:;"><%= item.ADMasterTitle %></a></div>
                                    <% if(item.ADMasterTitle != items.Name){%>
                                    <p><img src="/ImagesNew/collection04.png"><%= items.Name %></p>
                                    <%} %>
                                    <p><img src="/ImagesNew/collection01.png"></p>
                                </div>
                                <div class="clear"></div>
                            </td>
                            <td style="text-align: left">
                                <p>广告位置：<%= item.ADPosition %></p>
                                <p>创作类型：<%= item.CreateType %></p>
                            </td>
                            <td><p class='weChat_days'><%= item.ADLaunchDays %>天</p></td>
                            <!-- 排期展示 -->
                            <td class="wechat_list5" style="float: none;">
                                <ul BeginTime="<%= item.PubBeginTime %>" EndTime="<%= item.PubEndTime %>" style='width: 65%;margin: 0 auto;margin-right: 10px';>
                                <%for(var k = 0;k < item.ADSchedules.length;k++){%>
                                    <li class="Time">
                                        <span> <%=item.ADSchedules[k].BeginData.substr(0,16) %> </span>
                                    </li>
                                <%}%>
                                </ul>
                            </td>
                            <td>
                                <p><%= formatMoney(item.OriginalPrice,2) %></p>
                            </td>
                            <td>
                                <p class="pt30 red" lastMoney='<%= item.AdjustPrice %>'><span class='init_total totalPrices'><%= formatMoney(item.AdjustPrice,2) %></span></p>
                            </td>
                        </tr>
                        <%} %>
                    <%}) %>
                </tbody>
            </table>
            <%} %>


            <!-- 层级   items single each per -->
            <!-- app -->
            <% if(items.APPDetails != null){%>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ddd" style="margin-bottom: 10px">
                <thead>
                    <tr>
                        <th width="26%" style="text-align: left"><span class="self"><%= items.MediaOwner %></span></th>
                        <th width="22%">&nbsp;</th>
                        <th width="10%">投放次/天数</th>
                        <th width="24%">投放时间</th>
                        <th width="8%">参考价</th>
                        <th width="10%">总计</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.APPDetails.forEach(function(single,s){%>
                    <% if(single.CPDCPM == '11001'){%>
                        <!-- CPD   过期或者失效-->
                        <% if(single.PublishStatus == '49005' || single.expired == '-1' || single.expired == '1'){%>
                        <tr class='each_app cpdApp uselessTr' expired='<%= single.expired %>' HasOtherPublish='<%= single.HasOtherPublish %>' MediaType='14002'>
                            <td style="text-align: left;">
                                <div class="portrait"><img src="<%= single.ADMasterImage %>"></div>
                                <div class="content" style="margin-left: 5px;width: 125px">
                                    <div><a href="javascript:;"><%= single.ADMasterTitle %></a></div>
                                    <p><img src="/ImagesNew/collection04.png"><%= items.Name %></p>
                                    <p><img src="/ImagesNew/collection10.jpg"></p>
                                </div>
                                <div class="clear"></div>
                            </td>
                            <td style="text-align: left;">
                                <p>广告样式：<%= single.ADStyle %></p>
                                <% if(single.CarouselNumber > 0){%>
                                    <p>轮播位置：<%= single.CarouselNumber %></p>
                                <%} %>
                                <p>系统平台：<%= single.SalePlatform %></p>
                                <p>售卖区域：<%= single.SaleArea %></p>
                            </td>
                            <!--投放天数或者次数-->
                            <td style="">
                                <% single.ADSchedules.forEach(function(each,e){%>
                                <div class='day_bottom'>
                                    <p style='line-height: 24px'>
                                        <span><%= each.AllDays %></span>天<br>
                                        <% if(each.Holidays >= 1){%>
                                            <span class='look_holidays'>假期(<label><%= each.Holidays %></label>天)</span>
                                        <%}else{%>
                                            <span class='look_holidays' style='display: none'>假期(<label></label>天)</span>
                                        <%} %>
                                    </p>
                                </div>
                                <%}) %>
                            </td>
                            <!-- 投放时间 -->
                            <td style="">
                                <% single.ADSchedules.forEach(function(each,e){%>
                                <div class="appTime">
                                    <p style='font-size: 12px;line-height: 24px' BeginTime='<%=single.PubBeginTime%>' EndTime='<%=single.PubEndTime%>'>
                                        <span><%= each.BeginData.substr(0,10)%></span>至<span><%= each.EndData.substr(0,10)%></span>
                                    </p>
                                    <% if(each.Holidays >= 1){%>
                                    <p style="width: 90px;" class='look_holidays'>查看节假日</p>
                                    <div style="display: none">
                                        <% each.Holiday.forEach(function(per){%>
                                        <p class='everyHoliday'><span><%= per.BeginData.substr(0,10) %></span>至<span><%= per.EndData.substr(0,10) %></span><span class='holiday_icon'><%= per.Name %> </span> </p>
                                        <%}) %>
                                    </div>
                                    <%} %>
                                    <div class='SuspensionElements' style='display: none'></div>
                                </div>
                                <%}) %>
                            </td>
                            <!-- 单价 -->
                            <td style="">
                                <% if(single.HasHoliday == 0){%>
                                <p><span><%= formatMoney(single.OriginalPrice,2) %></span></p>
                                <%}else{%>
                                <p><span><%= formatMoney(single.OriginalPrice,2) %></span><br> <span style='font-size: 12px'>(<%= formatMoney(single.PriceHoliday,2) %>)</span>
                                </p>
                                <%} %>
                            </td>
                            <!-- 总价 -->
                            <td style="">
                                <p class="pt30 red" lastMoney='<%= single.AdjustPrice %>'><span class='init_total totalPrices'><%= formatMoney(single.AdjustPrice,2) %></span></p>
                            </td>
                        </tr>
                        <%}else{%>
                        <!-- CPD   正常-->
                        <tr class='each_app cpdApp usefulTr' OriginalPrice='<%= single.OriginalPrice %>' PriceHoliday='<%= single.PriceHoliday %>' PubDetailID='<%= single.PublishDetailID %>'  MediaID='<%= items.MediaID %>' TemplateID='<%= single.TemplateID %>' expired='<%= single.expired %>' PublishStatus='<%= single.PublishStatus %>' MediaType='14002' CPDCPM='<%= single.CPDCPM%>' SaleAreaID='<%= single.SaleAreaID %>'>
                            <td style="text-align: left">
                                <div class="portrait"><img src="<%= single.ADMasterImage %>"></div>
                                <div class="content" style="margin-left: 5px;width: 125px">
                                    <div><a href="javascript:;"><%= single.ADMasterTitle %></a></div>
                                    <p><img src="/ImagesNew/collection04.png"><%= items.Name %></p>
                                    <p><img src="/ImagesNew/collection10.jpg"></p>
                                </div>
                                <div class="clear"></div>
                            </td>
                            <td style="text-align: left">
                                <p>广告样式：<%= single.ADStyle %></p>
                                <% if(single.CarouselNumber > 0){%>
                                    <p>轮播位置：<%= single.CarouselNumber %></p>
                                <%} %>
                                <p>系统平台：<%= single.SalePlatform %></p>
                                <p>售卖区域：<%= single.SaleArea %></p>
                            </td>
                            <!--投放天数或者次数-->
                            <td>
                                <% single.ADSchedules.forEach(function(each,e){%>
                                <div class='day_bottom'>
                                    <p style='line-height: 24px'>
                                        <span><%= each.AllDays %></span>天<br>
                                        <% if(each.Holidays >= 1){%>
                                            <span class='look_holidays'>假期(<label><%= each.Holidays %></label>天)</span>
                                        <%}else{%>
                                            <span class='look_holidays' style='display: none'>假期(<label></label>天)</span>
                                        <%} %>
                                    </p>
                                </div>
                                <%}) %>
                            </td>
                            <!-- 投放时间 -->
                            <td>
                                <% single.ADSchedules.forEach(function(each,e){%>
                                <div class="appTime">
                                    <p style='font-size: 12px;line-height: 24px' BeginTime='<%=single.PubBeginTime%>' EndTime='<%=single.PubEndTime%>'>
                                        <span><%= each.BeginData.substr(0,10)%></span>至<span><%= each.EndData.substr(0,10)%></span>
                                    </p>
                                    <% if(each.Holidays >= 1){%>
                                    <p style="width: 90px;" class='look_holidays'>查看节假日</p>
                                    <div style="display: none">
                                        <% each.Holiday.forEach(function(per){%>
                                        <p class='everyHoliday'><span><%= per.BeginData.substr(0,10) %></span>至<span><%= per.EndData.substr(0,10) %></span><span class='holiday_icon'><%= per.Name %> </span> </p>
                                        <%}) %>
                                    </div>
                                    <%} %>
                                    <div class='SuspensionElements' style='display: none'></div>
                                </div>
                                <%}) %>
                            </td>
                            <!-- 单价 -->
                            <td>
                                <% if(single.HasHoliday == 0){%>
                                <p><span><%= formatMoney(single.OriginalPrice,2) %></span></p>
                                <%}else{%>
                                <p><span><%= formatMoney(single.OriginalPrice,2) %></span><br> <span style='font-size: 12px'>(<%= formatMoney(single.PriceHoliday,2) %>)</span>
                                </p>
                                <%} %>
                            </td>
                            <!-- 总价 -->
                            <td>
                                <p class="pt30 red" lastMoney='<%= single.AdjustPrice %>'><span class='init_total totalPrices'><%= formatMoney(single.AdjustPrice,2) %></span></p>
                            </td>
                        </tr>
                        <%} %>
                    <%}else{%>
                        <!-- CPM   过期或者失效-->
                        <% if(single.PublishStatus == '49005' || single.expired == '-1' || single.expired == '1'){%>
                        <tr class='each_app uselessTr' expired='<%= single.expired %>' HasOtherPublish='<%= single.HasOtherPublish %>' MediaType='14002'>
                            <td style="text-align: left;">
                                <div class="portrait"><img src="<%= single.ADMasterImage %>"><div class="xj"><% if(single.PublishStatus == '49005'){%>下架<%}else if(single.expired == '-1'){%>已删除<%}else if(single.expired == '1'){%>过期<%} %></div></div>
                                <div class="content" style="margin-left: 5px;width: 125px">
                                    <div><a href="javascript:;"><%= single.ADMasterTitle %></a></div>
                                    <p><img src="/ImagesNew/collection04.png"><%= items.MediaOwner %></p>
                                    <p><img src="/ImagesNew/collection07.png"></p>
                                </div>
                                <div class="clear"></div>
                            </td>
                            <td style="text-align: left;">
                                <p>广告样式：<%= single.ADStyle %></p>
                                <% if(single.CarouselNumber > 0){%>
                                    <p>轮播位置：<%= single.CarouselNumber %></p>
                                <%} %>
                                <p>系统平台：<%= single.SalePlatform %></p>
                                <p>售卖区域：<%= single.SaleArea %></p>
                            </td>
                            <!--投放天数或者次数-->
                            <td style="">
                                <p><span><%= single.ADLaunchDays %></span>千次</p>
                            </td>
                            <!-- 投放时间 -->
                            <td style="">
                                <% single.ADSchedules.forEach(function(each,e){%>
                                <div class="appTime">
                                    <p style='font-size: 12px;line-height: 24px' BeginTime='<%=single.PubBeginTime%>' EndTime='<%=single.PubEndTime%>'>
                                        <span><%= each.BeginData.substr(0,10)%></span>至<span><%= each.EndData.substr(0,10)%></span>
                                    </p>
                                </div>
                                <%}) %>
                            </td>
                            <!-- 单价 -->
                            <td style="">
                                <p><span><%= formatMoney(single.OriginalPrice,2) %></span></p>
                            </td>
                            <!-- 总价 -->
                            <td style="">
                                <p class="pt30 red" lastMoney='<%= single.AdjustPrice %>'><span class='init_total totalPrices'><%= formatMoney(single.AdjustPrice,2) %></span></p>
                            </td>                            
                        </tr>  
                        <%}else{%>
                        <!-- CPM  正常-->
                        <tr class='each_app usefulTr' OriginalPrice='<%= single.OriginalPrice %>' PriceHoliday='<%= single.PriceHoliday %>' PubDetailID='<%= single.PublishDetailID %>'  MediaID='<%= items.MediaID %>' TemplateID='<%= single.TemplateID %>' expired='<%= single.expired %>' PublishStatus='<%= single.PublishStatus %>' MediaType='14002' CPDCPM='<%= single.CPDCPM%>' SaleAreaID='<%= single.SaleAreaID %>'>
                            <td style="text-align: left">
                                <div class="portrait"><img src="<%= single.ADMasterImage %>"></div>
                                <div class="content" style="margin-left: 5px;width: 125px">
                                    <div><a href="javascript:;"><%= single.ADMasterTitle %></a></div>
                                    <p><img src="/ImagesNew/collection04.png"><%= items.MediaOwner %></p>
                                    <p><img src="/ImagesNew/collection07.png"></p>
                                </div>
                                <div class="clear"></div>
                            </td>
                            <td style="text-align: left">
                                <p>广告样式：<%= single.ADStyle %></p>
                                <% if(single.CarouselNumber > 0){%>
                                    <p>轮播位置：<%= single.CarouselNumber %></p>
                                <%} %>
                                <p>系统平台：<%= single.SalePlatform %></p>
                                <p>售卖区域：<%= single.SaleArea %></p>
                            </td>
                            <!--投放天数或者次数-->
                            <td>
                                <p><span class='qianCount'><%= single.ADLaunchDays %></span>千次</p>
                            </td>
                            <!-- 投放时间 -->
                            <td>
                                <% single.ADSchedules.forEach(function(each,e){%>
                                <div class="appTime">
                                    <p style='font-size: 12px;line-height: 24px' BeginTime='<%=single.PubBeginTime%>' EndTime='<%=single.PubEndTime%>'>
                                        <span><%= each.BeginData.substr(0,10)%></span>至<span><%= each.EndData.substr(0,10)%></span>
                                    </p>
                                </div>
                                <%}) %>
                            </td>
                            <!-- 单价 -->
                            <td>
                                <p><span><%= formatMoney(single.OriginalPrice,2) %></span></p>
                            </td>
                            <!-- 总价 -->
                            <td>
                                <p class="pt30 red" lastMoney='<%= single.AdjustPrice %>'><span class='init_total totalPrices'><%= formatMoney(single.AdjustPrice,2) %></span></p>
                            </td>
                        </tr>
                        <%} %>
                    <%} %>
                    <%}) %>
                </tbody>
            </table>
            <%} %>
            
        </div>
        <%}) %>

        <div class="to_b_ad">
            <div class="fr">
                <span>共 <em class="allPositionCount"></em> 个广告位</span>
                <span>总价 <em class="allMoney"></em></span>
            </div>
            <div class="clear"></div>
        </div>

        <div class="demand">
            <% data.MediaOrderInfos.forEach(function(single){%>
            <div>
                <% if(single.MediaType == '14001'){%>
                <h3>微信公众号广告需求</h3>
                <%}else if(single.MediaType == '14002'){%>
                <h3>APP广告需求</h3>
                <%} %>
                <ul>
                    <li class="ins_a">项目需求：</li>
                    <li><%= single.Note %></li>
                    <div class="clear"></div>
                </ul>
                <ul>
                    <li class="ins_a">上传物料：</li>
                    <!-- <li><a href="<%= single.UploadFileURL %>" class="red" target='_blank'><%= single.UploadFileName %></a></li> -->
                    <li class='uploadShow'><span style='padding-right: 10px' class='uploadName'><%= single.UploadFileName %></span> <a href="<%= single.UploadFileURL %>" class='uploadFile' target='_blank'><img src="/ImagesNew/icon19.png" alt=""></a></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <%}) %>
        </div> 
         
    </script>
    <div class="clear"></div>
</div>


<!--#include file="/base/footer.html" -->


</body>
</html>