<?xml version="1.0" encoding="utf-8" ?>
<AppClientConfig>
  <ServiceBusUrl>http://preonline.api.pay.xingyuanauto.com/servicebus/api</ServiceBusUrl>
  <ServiceBusAppKey>ChitulianmengInvoker</ServiceBusAppKey>
  <ServiceBusAppSecret>15c40207bdde423b9485a4e8fa1bbcf8</ServiceBusAppSecret>
</AppClientConfig>

<!--<AppClientConfig>
  <ServiceBusUrl>http://payapi.xingyuanauto.com/servicebus/api</ServiceBusUrl>
  <ServiceBusAppKey>chitulianmeng</ServiceBusAppKey>
  <ServiceBusAppSecret>bd3c7c7aeeeb420db2f9245e5a5cb852</ServiceBusAppSecret>
</AppClientConfig>-->

<!--
测试环境:http://preonline.api.pay.xingyuanauto.com/servicebus/api

线上环境
资金付款接口授权：
ServiceBusUrl：http://payapi.xingyuanauto.com/servicebus/api
AppId:chitulianmeng
AppKey:ChitulianmengInvoker
AppSecret:bd3c7c7aeeeb420db2f9245e5a5cb852
-->