<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!--慧微店物料数据统计服务AtEveryHoursForMinutes：每个小时的在固定几分钟开始，SelectOffsetNum：最近几天-->
  <add key="SettlementConfig" value="{'AtEveryDayHourRange':'10:00','IsStart':true,'AtStartDateOffest':-20,'SelectTopSize':2}"/>

  <!--发送邮件模板-->
  <add key="MailTemplatePath" value="MailTemplat" />
  <add key="MailServerAddress" value="smtp.xingyuanauto.com" />
  <add key="MailSendAddress" value="buoc@xingyuanauto.com" />
  <add key="MailSendPassword" value="@WSX2wsx" />

  <!--员工统计接收者,用"；"分隔-->
  <add key="ReceiveErrorEmail" value="lix@xingyuanauto.com" />
</appSettings>