<?xml version="1.0" encoding="utf-8" ?>
<MessageBusConfig>
  <ServerUrl>http://preonline.api.pay.xingyuanauto.com/messagebus/api/Open/Publish</ServerUrl>
  <AppId>39</AppId>
  <AppKey>ChitulianmengApp</AppKey>
  <AppSecret>1746881A-823B-4A59-A0A8-0E7B785CCDD5</AppSecret>
</MessageBusConfig>


<!--
测试环境:http://preonline.api.pay.xingyuanauto.com/messagebus/api/Open/Publish

线上环境
ServerUrl：http://payapi.xingyuanauto.com/messagebus/api/Open/Publish
AppId:31
AppKey:ChitulianmengApp
AppSecret:1746881A-823B-4A59-A0A8-0E7B785CCDD5

-->