<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <!--数据库连接串-->
    <add key="Sys_ConnectionStrings" value="server=192.168.15.62\test;uid=sa;pwd=sa;database=SysRightsManager;Max Pool Size=300;"/>
    <add key="ConnectionStrings_IMDMS2014" value="server=192.168.15.62\test;uid=sa;pwd=sa;database=IM_2015;Max Pool Size=300;"/>
    <add key="ConnectionStrings_CC" value="server=192.168.15.62\test;uid=sa;pwd=sa;database=CC2012;Max Pool Size=300;"/>
    <add key="ConnectionStrings_CRM" value="server=192.168.15.62\DEVELOP;uid=sa;pwd=sa;database=CRM2009;Max Pool Size=300;"/>
    <add key="BD_ConnectionStrings" value="server=192.168.0.143;uid=sa;pwd=Sa123456;database=BusinessDataStatistics;Max Pool Size=300;" />
    <add key="WorkOrderUrl" value="http://ncc.sys1.bitauto.com/CustBaseInfo/AddCustBaseInfo.aspx"/>
    <add key="EditCustBaseInfoUrl" value="http://ncc.sys1.bitauto.com/CustBaseInfo/EditCustBaseInfo.aspx"/>
    <add key="WorkOrderViewUrl" value="http://ncc.sys1.bitauto.com/WorkOrder/WorkOrderViewPersonal.aspx"/>
    <add key="WorkOrderViewUrlNew" value="http://ncc.sys1.bitauto.com/WOrderV2/WorkOrderView.aspx"/>
    <add key="CrmMemberDetail" value="http://ncc.sys1.bitauto.com/CustCheck/CrmCustSearch/MemberDetail.aspx"/>
    <!--<add key="IsDebug" value="true"/>-->


    <!--Hbase拉取数据接口——工单记录查询用-->
    <!--<add key="HbaseInterface" value="http://192.168.15.46:8080/queryServer/qryorder"/>-->
    <add key="HbaseInterface" value="http://192.168.104.246:8080/queryServer/qryorder"/>
    <!-- 外网正式服务地址 -->
    <add key="OrganizationService" value="tcp://192.168.91.111:20007/OrganizationService"/>
    <!--易湃签入CC页面惠买车，APPID-->
    <add key="EPEmbedCCHBuyCar_APPID" value="2"/>
    <!--易湃签入CC页面惠买车，URL地址-->
    <add key="EPEmbedCCHBugCar_URL" value="http://op.maiche.biz/customerservice/login.aspx"/>
    <!--易湃返现接口-->
    <add key="YPFanXianURL" value="http://test.fanxian.bitauto.com/api/FaixianForCC.svc?wsdl"/>
    <!--CC系统编号-->
    <add key="CCSysID" value="SYS024"/>

    <!--易湃签入CC页面，授权MD5加密串-->
    <add key="EPEmbedCC_AuthMD5" value="!@#$%^&amp;*()_+QWERaSDFXsdfghxcvb"/>
    <!--易湃签入CC页面，生成URL参数时，加密DES字符串-->
    <add key="EPEmbedCC_DesStr" value="#*d@_c&amp;?"/>
    <!--易湃签入CC页面，生成URL参数时，跳转加密MD5加密串-->
    <add key="EPEmbedCC_GenURLParaMD5" value="WR#%^&amp;*()_(_*(%^&amp;*UYUIOad"/>

    <!--汽车金融签入CC页面易车车贷，URL地址-->
    <add key="CarFinancial_URL" value="http://testcc.chedai.bitauto.com/Account/LogOn"/>



    <!--长连接超时时间(秒)-->
    <add key="TimeOut" value="5"/>
    <!--网友空闲时间,也就是多久网友无发送消息 网友对象将被清除(秒)-->
    <add key="TimeidleSendMessage" value="480"/>
    <!--网友空闲时间,也就是没有长连接多久网友对象将被清除(秒)-->
    <add key="TimeidleUser" value="60"/>
    <!--坐席空闲时间,也就是没有长连接多久坐席对象将被清除(秒)-->
    <add key="TimeidleAgent" value="320"/>
    <!--聊天记录多久插入一次数据库，单位秒(秒)-->
    <add key="TimeInDB" value="10"/>
    <!--客服最大同时排队量-->
    <add key="MaxQueue" value="3100"/>
    <!--客服最大同时会话量-->
    <add key="MaxDialogueN" value="5"/>
    <!--系统编号-->
    <add key="ThisSysID" value="SYS032"/>
    <!-- 外网正式服务地址 -->
    <add key="OrganizationService" value="tcp://192.168.91.111:20007/OrganizationService"/>
    <!--提示“没有权限访问”的页面地址-->
    <add key="NotAccessMsgPagePath" value="~/ErrorPage/NotAccessMsgPage.aspx"/>
    <!-- 系统登录操作日志模块ID -->
    <add key="LoginLogModuleID" value="LM034001"/>
    <!--调用接口授权码-->
    <add key="AgentInfoAuthorizeCode" value="B8C9EC64-0B98-4C59-B423-C68B0854E3A6"/>
    <!--lihf授权码-->
    <add key="AgentInfoAuthorizeCode1" value="B8C9EC64-0B98-4C59-B423-C68B0854E3A6"/>
    <!--模拟登陆域账号-->
    <add key="SimulateADName" value="qizq"/>
    <!--退出系统地址-->
    <add key="ExitAddress" value="/Login.aspx"/>
    <!--易湃解密秘钥-->
    <add key="EPDESEncryptorKey" value="tcim!@#$"/>
    <!--发送邮件模板-->
    <add key="MailTemplatePath" value="~/MailTemplat"/>
    <add key="MailServerAddress" value="mail.hd.bitauto.com"/>
    <add key="MailSendAddress" value="isdc@bitauto.com"/>
    <add key="MailSendPassword" value="@WSX2wsx2012"/>
    <!--系统报错邮件接收者masj@bitauto.com;liuxuewen@bitauto.com;qizq@bitauto.com;yangyh@bitauto.com;weisz@bitauto.com;liuping@bitauto.com-->
    <add key="ReceiveErrorEmail" value="qizq@bitauto.com"/>
    <!--业务线-->
    <add key="SourceType" value="易车网,1|惠买车,2|易车商城,3|二手车,6|易车视频,4|易车报价,5|易车贷款,7|易车问答,8|易车口碑,9|易车养护,10|易车论坛,11|易车车友会,12|我的易车,13|易车购车类,15|易车惠,16"/>
    <!--发送短信接口-->
    <add key="SMSServiceURL" value="http://mobile.bitauto.com/smsplatform/interface/MsgService.asmx"/>
    <add key="SMSKey" value="Ytt1TEy3hnYIgqTOOIGEc0MFL9wrN0yJJuUUPVfjyM+dkY3ei/8WUc8L7qFqgCbp"/>
    <!--惠买车用户信息地址-->
    <add key="HMC_CookieURL" value="http://ycajax.maiche.biz/GetUserInfo.ashx"/>
    <!--商城用户信息地址-->
    <add key="SC_CookieURL" value="http://demowww.yichemall.com/api/im"/>
    <!--商城获取Token地址-->
    <add key="SC_TokenURL" value="http://demowww.yichemall.com/api/token"/>
    <!--商城appid-->
    <add key="SC_AppID" value="ycnl84qoiybj2qu8tv"/>
    <!--商城Appsecret-->
    <add key="SC_Appsecret" value="LaROTSN4bST8uQbMb1AUOZFvkq8BLpkcXKkHg10qYXcXi33GEAaJCivTZriwqSK2"/>
    <!--共享目录-->
    <add key="CommonLoadFile" value="\\192.168.26.36\Upload"/>
    <!--虚拟目录-->
    <add key="CommonLoadDomain" value="shangchuan"/>
    <!--域名验证-->
    <add key="DomainName" value=".huimaiche.com,.maiche.biz,.maiche.cn,.yichemall.com,.yiche.com,192.168.0.130,.taoche.com,.bitauto.com,.cheyisou.com"/>
    <!--网友最大接待量-->
    <add key="MaxNetFriend" value="3"/>

    <!--人员选择的部门ID-->
    <add key="PartID" value="DP00323,DP00805,DP00528" />
    <!--不包含的分组-->
    <add key="NoBGID" value="1,2"/>
    <!--易车网旗下各频道标识-->
    <add key="YiCheLine" value="1,4,5,7,8,9,10,11,12,13,15"/>
    <!--每天上传文件个数限制-->
    <add key="WenJianSum" value="100"/>
    <!--CC回写IM工单key-->
    <add key="CC_WorkOrder_Key" value="hnYIgqTOOIGEc0MFL9wrN0yJJuUUPVfjyM"/>
  </appSettings>
  <log4net>
    <root>
      <level value="All"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\Log.Log"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->

    <authentication mode="Forms">
      <forms protection="Encryption" domain=".bitauto.com" enableCrossAppRedirects="true"/>
    </authentication>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1"/>




    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpHandlers>
      <!--<add verb="POST" path="DefaultChannel.ashx" type="BitAuto.DSC.IM_2015.Web.Channels.DefaultChannelHandler"/>-->

      <!--<add  verb="POST" path="poll" type="BitAuto.DSC.IM_2015.Web.Channels.DefaultChannelHandler" validate="false"/>
      <add  verb="*" path="post.action" type="BitAuto.DSC.IM_2015.Web.AjaxServers.Handler" validate="false"/>-->
    </httpHandlers>
    <sessionState mode="InProc" cookieless="false" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" timeout="800"/>
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="800"/>-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>

    <handlers>

      <add name="DefaultChannel" verb="POST" path="poll" type="BitAuto.DSC.IM_2015.Web.Channels.DefaultChannelHandler" />
      <add name="CommonChannel" verb="*" path="post.action" type="BitAuto.DSC.IM_2015.Web.AjaxServers.Handler" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CCDataInterfaceServiceSoap" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="AuthServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IIMServices" closeTimeout="00:05:00"
          openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://ncc.sys1.bitauto.com/CallRecordService/CCDataInterfaceService.asmx" binding="basicHttpBinding" bindingConfiguration="CCDataInterfaceServiceSoap" contract="CCDataInterfaceService.CCDataInterfaceServiceSoap" name="CCDataInterfaceServiceSoap"/>
      <endpoint address="http://api.sas.easypass.cn/fanxian/AuthService.asmx" binding="basicHttpBinding" bindingConfiguration="AuthServiceSoap" contract="HuiMaiChe.ServiceReference.AuthServiceSoap" name="AuthServiceSoap"/>

      <endpoint address="net.tcp://127.0.0.1:8104/TcpService/TcpAddr"
     binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IIMServices"
     contract="BitAuto.DSC.IM_2015.MainInterface.IIMServices" name="NetTcpBinding_IIMServices" />

    </client>
  </system.serviceModel>

</configuration>