body { margin:0; padding:0; font-size:12px; font-family:"微软雅黑";background:#e4e4e4; }
.crm {float:inherit; clear:none; width:1220px; margin:0 auto;background:#FFF; padding-bottom:10px;}
.left { float:left;}
.right { float:right;}
.mt16 { margin-top:16px;}
ul li { list-style:none; margin:0; padding:0;}
*{margin:0;padding:0;list-style-type:none;}
a{blr:expression(this.onFocus=this.blur())}/*去掉a标签的虚线框，避免出现奇怪的选中区域*/
a{outline:none; star:expresion(this.onFocus=this.blur());}
:focus{outline:0;}
img{vertical-align:middle;}
ul, menu, dir {display: block;}
li { display: list-item;}
:focus { outline-style: none; }
.clearfix, .clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

a,a:link { color:#00769D;text-decoration:none;}
a.write,a.write:link { color:#FFF; text-decoration:none;}
a.write:hover { color:#FFF; text-decoration:underline;}
a,a.blue,a.blue:link { color:#00769D; text-decoration:none;}
a:hover,a.blue:hover{ color:#C00; }
a.user,a:link.user { text-decoration:underline;}

.ft14 { font-size:14px;}
/*在线客服*/
.online_kf { width:99%; border:#00769c 5px solid; display:block; float:inherit; clear:both; height:100%;}
.title_kf { background:url(../images/popT.jpg) repeat-x; height:33px; line-height:33px; padding-left:20px; color:#FFF; font-size:16px;}
.title_kf span { float:right; padding-right:20px; *margin-top:-35px;}
.title_kf span a img { vertical-align:middle; position:relative; top:8px;}
.content_kf { padding:10px; height:600px; padding-bottom:20px;}
.content_kf .left_c { float:left; clear:none; width:70%; height:100%;}
.answer { border:#ccc 1px solid; background:#FFF; padding:15px; font-size:14px; height:63%; }


/*在线客服*/

.title_kf_online { background:#1580a2; height:50px; line-height:50px; padding-left:20px; color:#FFF; font-size:16px;}
.title_kf_online span { float:right; padding-right:20px; *margin-top:-35px;}
.title_kf_online span a img { vertical-align:middle; position:relative; top:9px;*top:-5px}
/*.content_kf .left_c { float:left; clear:none; width:75%; height:100%; position:relative; right:350px; left:0;}*/
/*.answer { border:#ccc 1px solid; background:#fff; padding:15px;height:64%; }*/



/*2015-04-12*修改*/
.online_kf_online{ position:absolute;}
.content_kf_online { padding:10px; padding-bottom:20px; margin-top: 0px; position:absolute;top:50px;bottom:0;left:0;width:100%; height:660px; }
.content_kf_online  .left_c{ float:none;width:auto;position:relative; overflow:auto; z-index: 2;margin-right: 374px; margin-left:22px;}
.content_kf_online  .right_c{position: absolute;top:0px;bottom: 0px;right: 0px;z-index: 1;float: right;border: 1px solid #B4B4B4;width: 362px;background-color: #FFF;overflow: hidden;}



.answer2 { height:95%;}
.answer p { padding:5px 0; color:#999;}
.answer .hs { color:#333;}
.answer .hs .title { font-weight:bold;}
.answer .hs .dhc{ text-indent:25px;}

.answer .dh1 { margin:10px 0;}


.answer .dh1  .title{ background:none; padding-left:0; color:#069; border:none; font-weight:bold;}
.answer .dh1  .dhc,.answer  .dh2  .dhc  { color:#900; line-height:25px; text-indent:25px;}
.answer  .dh2  .title{ background:none; padding-left:0; color:#333; font-weight:bold; border:none;}
.answer  .dh2  .dhc { color:#333;}



.answer .scorll_gd {overflow-y:auto;  height:80%;}
.answer .scorll_gd2 { height:100%;}
.ask { margin:10px 0;  border:#ccc 1px solid; background:#FFF; height:20%; }
.ask .style_1 { background:#F5F5F5; height:30px; padding-left:20px; border-bottom:#D4D4D4  1px solid;}
.ask .ask_c { color:#999; padding:10px; height:90px;}
.ask .ask_c .ask_t { width:100%; font-size:12px; border:none; *border:0; color:#666; height:80%; overflow-y:auto; color:#333;}
.ask  .btn { clear:both; margin-top:20px;}
.content_kf .left_c  .btn .gray { color:#666;}

/*.content_kf .right_c{ float:right; clear:none;  border:#CCC 1px solid; margin-left:10px; background:#FFF;position:absolute; right:25px; top:50px; bottom:0; width:340px; height:600px;}*/
.content_kf .right_c  .person { margin:10px;  border:#e5e5e5 1px solid; text-align:center;}
.content_kf .right_c  .person .pic_t { background:url(../images/person1.png) center no-repeat;  height:116px; padding:20px 15px;}
.content_kf .right_c  .person .title { background:#F5F5F5; height:30px; line-height:30px; padding:0 15px;  border-top:#e5e5e5  1px solid;}
.content_kf .right_c  .question { padding:15px;  padding:14px 15px \9;}
.content_kf .right_c  .question ul { margin:0; _padding:0;}
.content_kf .right_c  .question ul li { padding:4px 0; list-style:disc; margin-left:15px; padding: 2px 0 \9;}
.content_kf .right_c  .question ul li.more { list-style:none; float:right;}

/*按钮统一样式*/
.btn input.w60,.btn input.w80,input.w80,.searchTj .tjBtn input.w60,.btn input.w85{ background:url(../images/btn_02.jpg) repeat-x; height:25px; width:60px; color:#FFF; border:none; border:#00769d 1px solid; *border:none;cursor:pointer; *padding-bottom:0px;*padding-top:2px;padding-bottom:0px \9;}
.btn input.w60:hover,.btn input.w80:hover,input.w80:hover,.searchTj .tjBtn input.w60:hover,.btn input.w85:hover{ background:url(../images/btn_04.jpg) repeat-x; border:#0090bf 1px solid; *border:none;}
.btn input.w80{ width:80px;}
.btn input.w85{ width:85px;}
.btn input.gray{ background:url(../images/btn_06.jpg) repeat-x; color:#666; border:#CCC 1px solid; cursor:pointer;}
.btn input.gray:hover{ background:url(../images/btn_08.jpg) repeat-x;  border:#787878 1px solid;}
.submit{ text-align:center; margin-top:20px;}
.btn input.endBtn { background:#fe8500; border:#ff6600 1px solid; color:#FFF;}
.btn input.endBtn:hover { background:#ff6600; border:#fe5301 1px solid; color:#FFF;}
/*在线留言*/
table.msg_lv { margin-top:20px;}
table.msg_lv  th span.red{ color:#C00;}
table.msg_lv  tr th,table.msg_lv  tr td { padding:10px 0;}
table.msg_lv  th { font-weight:normal; text-align:right;}
table.msg_lv  tr td { padding-left:15px;}
table.msg_lv  tr td label { margin-right:15px; cursor:pointer;}
table.msg_lv  tr td textarea { width:60%; padding:5px; font-size:12px; border:#CCC 1px solid;}
table.msg_lv  tr td input.w180 { width:180px; padding:4px 2px; border:#CCC 1px solid;}
table.msg_lv  tr td em { margin-left:10px; font-style:normal; color:#C00; position:relative; *top:-2px;}
table.msg_lv  tr td em span.tsy { position:relative; top:2px; *top:0;}

/*编辑表情等等*/
.kind_detail a { font-size: 0;height: 20px; line-height: 0; margin: 8px 10px 0 0; overflow: hidden; text-align: center; width: 25px;}
.fw_bq { background:url(../images/fw_pic.png) 0 0 no-repeat; display:block; float:left; display:inline;}
.fw_bq:hover { background:url(../images/fw_pic.png) -25px 0 no-repeat; display:block; float:left; display:inline;}
.fw_jl{ background:url(../images/fw_pic.png) 0 -25px no-repeat; display:block; float:left; display:inline;}
.fw_jl:hover{ background:url(../images/fw_pic.png) -25px -25px no-repeat; display:block; float:left; display:inline;}
.fw_sc{ background:url(../images/fw_pic.png) 0 -50px no-repeat; display:block; float:left; display:inline;}
.fw_sc:hover{ background:url(../images/fw_pic.png) -25px -50px no-repeat; display:block; float:left; display:inline;}
.fw_jp{ background:url(../images/fw_pic.png) 0 -75px no-repeat; display:block; float:left; display:inline;}
.fw_jp:hover{ background:url(../images/fw_pic.png) -25px -75px no-repeat; display:block; float:left; display:inline;}
.fw_my{ background:url(../images/fw_pic.png) 0 -100px no-repeat; display:block; float:left; display:inline;}
.fw_my:hover{ background:url(../images/fw_pic.png) -26px -100px no-repeat; display:block; float:left; display:inline;}
.fw_zy{ background:url(../images/fw_pic.png) 1px -124px no-repeat; display:block; float:left; display:inline;}
.fw_zy:hover{ background:url(../images/fw_pic.png) -23px -124px no-repeat; display:block; float:left; display:inline;}
/*表情弹出*/
.bq_list { width:400px; margin-left:100px; }
/*.bq_list .arrow{ background:url(../images/layer_arrow.png) no-repeat;   display: block;overflow: hidden; position: relative; width:14px; height:9px; top:-191px; z-index:99999; left:-65px; }*/
.bq_icon { border:#333 4px solid; background:#FFF;border-radius: 4px 4px 4px 4px; padding: 3px; top:-455px; position:relative; z-index:999; left:-106px; height:220px;}
.bq_icon table { padding:5px;}
.bq_icon table td { padding:3px; border:#F7F7F7 1px solid;text-align:center;}
.bq_icon table td:hover{ border:#D2F0FF 1px solid;}
.bq_list table td.fy { margin:0; padding:0; border:none; text-align:right; padding-right:10px;}
.bq_list table td.fy span { width:20px; float:right; clear:none; position:relative; top:22px; font-weight:bold; font-family:"微软雅黑;"}
.bq_list table td.fy2 span { top:25px;}

/*表情菜单*/
.bq_manger .Menubox {width:260px;height:35px;line-height:35px; position:relative; top:-217px; background:#fff; left:-76px; z-index:9999;}
.bq_manger .Menubox ul{margin:0px;padding:0px;}
.bq_manger .Menubox li{ float:left;display:block; cursor:pointer; width:84px;text-align:center; color:#787878; font-weight:bold; border-right:#E6E6E6 1px solid;;border-top:#E6E6E6 1px solid;}
.bq_manger .Menubox li.hover{ padding:0px; width:86px; border-right:#E6E6E6 1px solid;border-bottom:#E6E6E6 1px solid; border-top:none;background: #Fff;color:#787878; font-weight:bold; height:35px;line-height:35px; position:relative; top:-1px; z-index:999;}
.bq_manger .Contentbox{clear:both; border-right:#E6E6E6 1px solid;border-bottom:#E6E6E6 1px solid;position:relative;padding:10px 25px;}



/*历史记录*/
.his_jl { background:#FFF; height:93%; padding:25px 0;}
.his_jl .searchTj {margin:0 35px; font-family:"宋体"; color:#595959; border-bottom:#CCC 1px dotted; }
.his_jl .searchTj2{border-bottom:none; border-top:#CCC 1px dotted; margin-top:10px; padding-top:5px;}
.his_jl .searchTj .tjBtn  { display:inline; margin-right:101px;margin-right:101px \9; *margin-right:51px; }
.his_jl  h2 { margin:10px 0 0 40px;}
.his_jl .dialogue { float:left; font-size:14px; margin:10px 0 0 20px;}
.his_jl .dialogue .dh1,.his_jl .dialogue .dh2 { margin:5px 0;  padding:2px 20px;}
.his_jl .dialogue .dh1  .title{ background:none; padding-left:0; color:#069; font-weight:bold; border:none;}
.his_jl .dialogue .dh1  .dhc,.his_jl .dialogue .dh2  .dhc  { color:#900; line-height:25px; text-indent:25px;}
.his_jl .dialogue .dh2  .title{ background:none; padding-left:0; color:#333; font-weight:bold; border:none;}
.his_jl .dialogue .dh2  .dhc { color:#333;}

/*在线客服连接后显示历史记录样式*/
.answer p.his_more {color:#666;margin:0 auto; text-align:center; }
.answer p.his_more a { font-weight:bold;}
.answer  .fix_gd .dh1 .title,.answer  .fix_gd .dh1 .dhc { color:#999;}
.answer  .fix_gd p.myd { font-weight:bold; color:#666;}
.answer  .fix_gd p.myd  a { font-weight:bold;}

/*在线留言弹层*/
.online_kf2 { width:800px;}
.content_kf_ms { height:400px;}
.content_kf_ms .left_c { width:99%;}

/*用户界面-登录默认*/
.an_tip{ width:96%; border:#eee 1px solid; background:#FFFFE6; padding:5px 10px;  -moz-border-radius: 5px;      /* Gecko browsers */ -webkit-border-radius: 5px;   /* Webkit browsers */border-radius:5px;            /* W3C syntax */}
.an_tip .an_info img{ position:relative; top:-2px; right:5px;}

.dh_user1  table { margin:0; padding:0;font-size: 12px;}
.dh_user1  table td.top_dq { vertical-align:top; padding-top:20px;}
.dh_user1 {  margin:8px 0; font-family:"宋体"; }
.user_img {  border:#CCC 1px solid; position:relative; width:40px; margin-right:20px;}
.user_content { margin-left:25px; }
.dh_user1 .arrow  { background:url(../images/arrow.png) no-repeat; width:10px; height:9px; position:relative; top:15px; right:8px; z-index:99;}
.dh_user1 .arrow2 { background:url(../images/arrow2.png) no-repeat; width:10px; height:9px; position:absolute;   top:15px; right:-9px;}
.user_name { color:#ccc; font-family:Arial;}
.user_name span {  font-weight: bold; margin-right:10px;}
.user_name span2 { color:#999;}
.user_con {  border:#adcae3 1px solid; background:#f5f9fe;  -moz-border-radius: 5px; -webkit-border-radius: 5px;border-radius:5px; padding:10px 10px; position:relative; top:-5px; font-size:12px; line-height:22px;word-wrap: break-word; word-break: break-all;float:left;}

.dh_user2 .user_con { margin-right:25px; background:#f9f7f7; color:#333;border:#eaebec 1px solid; margin-top:10px;word-wrap: break-word; word-break: break-all;}
.dh_user2 .user_name{margin-right:25px; float:right;}
.dh_user2 .user_img { float:right;}
.dh_user1 .im-con {  position:relative; width:auto; display:inline-block; }
.dh_user2 .im-con { width:auto; display:inline-block; float:right;}

.user_con p,.dh_user2 .user_con p { color:#333; margin:0px; padding:0px;}

#Tab1{margin:0px;padding:0px;}
/*菜单class*/
.Menubox {width:100%;height:35px;line-height:35px; background:#f2f2f2;}
.Menubox ul{margin:0px;padding:0px;}
.Menubox li{ float:left;display:block; cursor:pointer; width:40%;text-align:center; color:#787878; font-weight:bold;}
.Menubox li.hover{ padding:0px; width:40%; border:#E6E6E6 1px solid; border-bottom:none; border-top:none;background: #Fff;color:#787878; font-weight:bold; height:35px;line-height:35px; position:relative; top:1px; z-index:999;}
.Contentbox{clear:both; border:1px solid #E6E6E6;position:relative; padding:5px 0; border-bottom:none; font-family:"宋体"; font-size:12px;}
.Contentbox table {border-right:1px solid #E6E6E6;  border-top:1px solid #E6E6E6; line-height:25px; margin:10px 0; width:99%;}
.Contentbox table tr th,.Contentbox table tr td { border-left: 1px solid #E6E6E6;  border-bottom: 1px solid #E6E6E6; padding:5px 0; }
.Contentbox table tr th { background:#F2F2F2; text-align:right;  color:#666;}
.Contentbox table tr td { padding-left:10px; text-align:left;}




.persons .pic_t2 { background:url(../images/car01.png)  no-repeat;  height:250px;}
.persons .title { background:#F5F5F5; color:#666; font-size:14px; font-weight:bold; height:35px; line-height:35px;  border-top:#e5e5e5  1px solid; text-align:center;}


/*对话中*/
.dh_tab { font-size:14px; background:#F5F5F5; height:40px; line-height:40px; border-bottom:#CCC 1px solid; }
.dh_tab span { margin:0 12px;}
.dh_tab span em.bule{ font-style:normal; color:#006699; font-weight:bold;}
.dh_tab span em.red{ font-style:normal; color:#900; font-weight:bold;}


/*短信图标添加*/
.fw_news{ background:url(../images/fw_pic.png) 1px -144px no-repeat; display:block; float:left; display:inline;}
.fw_news:hover{ background:url(../images/fw_pic.png) -23px -144px no-repeat; display:block; float:left; display:inline;}

/*2015-04-12*修改*/

/*弹出框*/
.open_yinyin{background:url(../images/yybg.png) no-repeat 0 0; float:left; clear:both; padding:0 3px 2px 0; float:left;position:absolute; margin-top: -25px; z-index:100;}
.open_cg{border:1px solid #BFBFBF; padding:5px 10px; background:#fff; _width:120px; position:relative;}
.open_cg a.close{background:url(../images/all_other.png) no-repeat 0 -473px; width:10px; height:10px; text-indent:-9999px; overflow:hidden; display:block; margin:5px 0 0; position:absolute; right:5px; top:5px;}
.opensccg{margin:20px 10px 5px; /*_width:120px; min-width:120px; */ white-space:nowrap;}
.opensccg strong{ display:block; color:#57960A; font-weight:bold;background:url(../images/all_other.png) no-repeat 0 -520px; font-size:14px; padding:0 0 0 25px;}



.inputwidht{ width:15px;}

