<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="All"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\Log.Log"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>


  <appSettings>

    <!--数据库连接串-->
    <add key="Sys_ConnectionStrings" value="server=192.168.15.62\test;uid=sa;pwd=sa;database=SysRightsManager;Max Pool Size=300;"/>
    <add key="ConnectionStrings_IMDMS2014" value="server=192.168.15.62\develop;uid=sa;pwd=sa;database=IM_2015;Max Pool Size=300;"/>
    <add key="ConnectionStrings_CC" value="server=192.168.15.62\develop;uid=sa;pwd=sa;database=CC2012;Max Pool Size=300;"/>
    <add key="ConnectionStrings_CRM" value="server=192.168.15.62\develop;uid=sa;pwd=sa;database=CRM2009;Max Pool Size=300;"/>
    <add key="BD_ConnectionStrings" value="server=192.168.0.143;uid=sa;pwd=Sa123456;database=BusinessDataStatistics;Max Pool Size=300;" />
    <add key="WorkOrderUrl" value="http://ncc.sys1.bitauto.com/CustBaseInfo/AddCustBaseInfo.aspx"/>
    <add key="EditCustBaseInfoUrl" value="http://ncc.sys1.bitauto.com/CustBaseInfo/EditCustBaseInfo.aspx"/>
    <add key="WorkOrderViewUrl" value="http://ncc.sys1.bitauto.com/WorkOrder/WorkOrderViewPersonal.aspx"/>
    <add key="CrmMemberDetail" value="http://ncc.sys1.bitauto.com/CustCheck/CrmCustSearch/MemberDetail.aspx"/>
    <!--<add key="IsDebug" value="true"/>-->

    <!--Hbase拉取数据接口——工单记录查询用-->
    <!--<add key="HbaseInterface" value="http://192.168.15.46:8080/queryServer/qryorder"/>-->
    <add key="HbaseInterface" value="http://192.168.104.246:8080/queryServer/qryorder"/>
    <!-- 外网正式服务地址 -->
    <add key="OrganizationService" value="tcp://59.151.102.27:20007/OrganizationService"/>
    <!--易湃签入CC页面惠买车，APPID-->
    <add key="EPEmbedCCHBuyCar_APPID" value="2"/>
    <!--易湃签入CC页面惠买车，URL地址-->
    <add key="EPEmbedCCHBugCar_URL" value="http://op.maiche.biz/customerservice/login.aspx"/>
    <!--易湃返现接口-->
    <add key="YPFanXianURL" value="http://test.fanxian.bitauto.com/api/FaixianForCC.svc?wsdl"/>
    <!--系统编号-->
    <add key="CCSysID" value="SYS024"/>
    <!--易湃签入CC页面，授权MD5加密串-->
    <add key="EPEmbedCC_AuthMD5" value="!@#$%^&amp;*()_+QWERaSDFXsdfghxcvb"/>
    <!--易湃签入CC页面，生成URL参数时，加密DES字符串-->
    <add key="EPEmbedCC_DesStr" value="#*d@_c&amp;?"/>
    <!--易湃签入CC页面，生成URL参数时，跳转加密MD5加密串-->
    <add key="EPEmbedCC_GenURLParaMD5" value="WR#%^&amp;*()_(_*(%^&amp;*UYUIOad"/>

    <!--汽车金融签入CC页面易车车贷，URL地址-->
    <add key="CarFinancial_URL" value="http://testcc.chedai.bitauto.com/Account/LogOn"/>


    <!--长连接超时时间(秒)-->
    <add key="TimeOut" value="10"/>
    <!--网友空闲时间,也就是多久网友无发送消息 网友对象将被清除(秒)-->
    <add key="TimeidleSendMessage" value="800"/>
    <!--网友空闲时间,也就是没有长连接多久网友对象将被清除(秒)-->
    <add key="TimeidleUser" value="60"/>
    <!--坐席空闲时间,也就是没有长连接多久坐席对象将被清除(秒)-->
    <add key="TimeidleAgent" value="320"/>
    <!--聊天记录多久插入一次数据库，单位秒(秒)-->
    <add key="TimeInDB" value="10"/>
    <!--客服最大同时排队量-->
    <add key="MaxQueue" value="100"/>
    <!--客服最大同时会话量-->
    <add key="MaxDialogueN" value="5"/>
    <!--系统编号-->
    <add key="ThisSysID" value="SYS032"/>
    <!-- 外网正式服务地址 -->
    <add key="OrganizationService" value="tcp://59.151.102.27:20007/OrganizationService"/>
    <!--提示“没有权限访问”的页面地址-->
    <add key="NotAccessMsgPagePath" value="~/ErrorPage/NotAccessMsgPage.aspx"/>
    <!-- 系统登录操作日志模块ID -->
    <add key="LoginLogModuleID" value="LM034001"/>
    <!--调用接口授权码-->
    <add key="AgentInfoAuthorizeCode" value="B8C9EC64-0B98-4C59-B423-C68B0854E3A6"/>
    <!--lihf授权码-->
    <add key="AgentInfoAuthorizeCode1" value="B8C9EC64-0B98-4C59-B423-C68B0854E3A6"/>
    <!--模拟登陆域账号-->
    <add key="SimulateADName" value="qizq"/>
    <!--退出系统地址-->
    <add key="ExitAddress" value="/Login.aspx"/>
    <!--易湃解密秘钥-->
    <add key="EPDESEncryptorKey" value="tcim!@#$"/>
    <!--发送邮件模板-->
    <add key="MailTemplatePath" value="~/MailTemplat"/>
    <add key="MailServerAddress" value="mail.hd.bitauto.com"/>
    <add key="MailSendAddress" value="isdc@bitauto.com"/>
    <add key="MailSendPassword" value="@WSX2wsx2012"/>
    <!--系统报错邮件接收者masj@bitauto.com;liuxuewen@bitauto.com;qizq@bitauto.com;yangyh@bitauto.com;weisz@bitauto.com;liuping@bitauto.com-->
    <add key="ReceiveErrorEmail" value="qizq@bitauto.com;yangxl@bitauto.com"/>
    <!--业务线-->
    <add key="SourceType" value="易车网,1|惠买车,2|易车商城,3|二手车,6|易车视频,4|易车报价,5|易车贷款,7|易车问答,8|易车口碑,9|易车养护,10|易车论坛,11|易车车友会,12|我的易车,13|易车购车类,15|易车惠,16"/>
    <!--发送短信接口-->
    <add key="SMSServiceURL" value="http://mobile.bitauto.com/smsplatform/interface/MsgService.asmx"/>
    <add key="SMSKey" value="Ytt1TEy3hnYIgqTOOIGEc0MFL9wrN0yJJuUUPVfjyM+dkY3ei/8WUc8L7qFqgCbp"/>
    <!--惠买车用户信息地址-->
    <add key="HMC_CookieURL" value="http://ycajax.maiche.biz/GetUserInfo.ashx"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceWithConfigBasicBehavior">
          <!--公共元数据方式1，在服务器行为中添加 httpGetUrl="http://localhost:8105/MetaAddr"   -->
          <serviceMetadata httpGetEnabled="true"  httpGetUrl="http://127.0.0.1:8105/MetaAddr" />

          <serviceThrottling maxConcurrentCalls="300" maxConcurrentInstances="2147483647" maxConcurrentSessions="3000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindConfig"        closeTimeout="00:02:00"        openTimeout="00:02:00"        receiveTimeout="00:10:00"        sendTimeout="00:02:00"        transactionFlow="false"
        transferMode="Buffered"        transactionProtocol="OleTransactions"        hostNameComparisonMode="StrongWildcard"        listenBacklog="10"
                 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="1000"  maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true"          inactivityTimeout="00:10:00"          enabled="false" />
          <security mode="None">

          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="serviceWithConfigBasicBehavior"
        name="BitAuto.DSC.IM_2015.MainWindowsService.IMServices">
        <clear />
        <!--<endpoint address="CommAddr" binding="basicHttpBinding" contract="BitAuto.DSC.IM_2015.MainInterface.IIMServices" />-->

        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->

        <endpoint address="TcpAddr" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig"
          contract="BitAuto.DSC.IM_2015.MainInterface.IIMServices" />

        <endpoint address="net.tcp://127.0.0.1:8114/TcpService/MEX" binding="mexTcpBinding" contract="IMetadataExchange" />

        <!--<endpoint address="netpipeAddr" binding="netNamedPipeBinding"
          bindingConfiguration="" contract="BitAuto.DSC.IM_2015.MainInterface.IIMServices" />-->

        <host>
          <baseAddresses>
            <!--<add baseAddress="http://127.0.0.1:8103/ServiceWithConfigBaseAddr/" />-->
            <!--<add baseAddress="net.tcp://localhost:8104/TcpService/" />-->
            <add baseAddress="net.tcp://127.0.0.1:8104/TcpService/" />
            <!--<add baseAddress="net.pipe://127.0.0.1/NetPipeService/" />-->
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>

