body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:740px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:160px;
  top:0px;
  width:990px;
  height:740px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:740px;
}
#u3 {
  position:absolute;
  left:2px;
  top:362px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:160px;
  top:0px;
  width:990px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:165px;
  top:4px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:262px;
  top:92px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:324px;
  top:90px;
  width:220px;
  height:22px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:747px;
  top:210px;
  width:73px;
  height:22px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11_input:disabled {
  color:grayText;
}
#u12 {
  position:absolute;
  left:820px;
  top:210px;
  width:73px;
  height:22px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12_input:disabled {
  color:grayText;
}
#u13 {
  position:absolute;
  left:893px;
  top:210px;
  width:73px;
  height:22px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13_input:disabled {
  color:grayText;
}
#u14 {
  position:absolute;
  left:685px;
  top:212px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:324px;
  top:130px;
  width:220px;
  height:22px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16_input:disabled {
  color:grayText;
}
#u17 {
  position:absolute;
  left:262px;
  top:132px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:679px;
  top:92px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:741px;
  top:90px;
  width:220px;
  height:22px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:286px;
  top:172px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:324px;
  top:170px;
  width:220px;
  height:22px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:709px;
  top:172px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:758px;
  top:172px;
  width:58px;
  height:16px;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:852px;
  top:172px;
  width:58px;
  height:16px;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:286px;
  top:212px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:324px;
  top:210px;
  width:108px;
  height:22px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:251px;
  top:252px;
  width:73px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:324px;
  top:250px;
  width:220px;
  height:22px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  position:absolute;
  left:678px;
  top:253px;
  width:69px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:748px;
  top:250px;
  width:220px;
  height:22px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u40 {
  position:absolute;
  left:195px;
  top:50px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:195px;
  top:335px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1105px;
  top:50px;
  width:25px;
  height:25px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:180px;
  top:71px;
  width:956px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:939px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:956px;
  height:1px;
}
#u47 {
  position:absolute;
  left:180px;
  top:354px;
  width:956px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:939px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:956px;
  height:1px;
}
#u48 {
  position:absolute;
  left:1105px;
  top:330px;
  width:25px;
  height:25px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:262px;
  top:384px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:324px;
  top:385px;
  width:58px;
  height:16px;
}
#u53 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u52_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u54 {
  position:absolute;
  left:437px;
  top:385px;
  width:58px;
  height:16px;
}
#u55 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u54_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u56 {
  position:absolute;
  left:324px;
  top:420px;
  width:73px;
  height:22px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u56_input:disabled {
  color:grayText;
}
#u57 {
  position:absolute;
  left:397px;
  top:420px;
  width:73px;
  height:22px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u57_input:disabled {
  color:grayText;
}
#u58 {
  position:absolute;
  left:748px;
  top:420px;
  width:220px;
  height:22px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u58_input:disabled {
  color:grayText;
}
#u59 {
  position:absolute;
  left:262px;
  top:422px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:687px;
  top:422px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:470px;
  top:420px;
  width:74px;
  height:22px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u63_input:disabled {
  color:grayText;
}
#u64 {
  position:absolute;
  left:685px;
  top:463px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:746px;
  top:464px;
  width:100px;
  height:16px;
}
#u67 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u66_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u68 {
  position:absolute;
  left:254px;
  top:423px;
  width:7px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:17px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:679px;
  top:423px;
  width:7px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:17px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:262px;
  top:501px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:748px;
  top:500px;
  width:220px;
  height:22px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u75 {
  position:absolute;
  left:262px;
  top:540px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:324px;
  top:540px;
  width:644px;
  height:100px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u78 {
  position:absolute;
  left:552px;
  top:671px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:642px;
  top:671px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:685px;
  top:132px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:758px;
  top:132px;
  width:58px;
  height:16px;
}
#u85 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u84_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u86 {
  position:absolute;
  left:862px;
  top:132px;
  width:58px;
  height:16px;
}
#u87 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u86_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u88 {
  position:absolute;
  left:436px;
  top:210px;
  width:108px;
  height:22px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89 {
  position:absolute;
  left:324px;
  top:461px;
  width:220px;
  height:22px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u89_input:disabled {
  color:grayText;
}
#u90 {
  position:absolute;
  left:273px;
  top:463px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:262px;
  top:464px;
  width:7px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:17px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:660px;
  top:502px;
  width:85px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:651px;
  top:504px;
  width:7px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:17px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:324px;
  top:500px;
  width:220px;
  height:22px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u99 {
  position:absolute;
  left:254px;
  top:502px;
  width:7px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:17px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:254px;
  top:541px;
  width:7px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:17px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
