<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--数据库连接串-->
    <add key="Sys_ConnectionStrings" value="server=192.168.0.130\sql2005qiye;uid=sa;pwd=sa;database=SysRightsManager;Max Pool Size=300;" />
    <add key="ConnectionStrings_CC" value="server=192.168.0.130\sql2005qiye;uid=sa;pwd=sa;database=IM2014;Max Pool Size=300;" />
  
  </appSettings>
</configuration>