<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />-->
    <add key="ThisSysID" value="SYS006" />
    <!--<add key="ConnectionStrings_IP" value="server=192.168.3.152\TEST,5000;uid=sa;pwd=123.abc;database=Chitunion_IP2017;Max Pool Size=300;Application Name=Chitunion_IP2017" />-->
    <add key="ConnectionStrings_IP" value="server=192.168.3.152\DEV,4000;uid=sa;pwd=123.abc;database=Chitunion_IP2017;Max Pool Size=300;Application Name=Chitunion_IP2017" />
    <add key="ConnectionStrings_ITSC" value="server=192.168.3.152\DEV,4000;uid=sa;pwd=123.abc;database=Chitunion2017;Max Pool Size=300;Application Name=Chitunion2017" />
    <add key="ConnectionStrings_BaseData2017" value="server=192.168.3.152\DEV,4000;uid=sa;pwd=123.abc;database=BaseData2017;Max Pool Size=300;Application Name=BaseData2017" />
    <!--验证登陆时，MD5加密key-->
    <add key="LoginPwdKey" value="1234567890ABC" />
    <!--登陆后，写入Cookies作用域-->
    <add key="WebDomain" value="chitunion.com" />
    <!--系统退出地址-->
    <add key="ExitAddress" value="http://sys1.chitunion.com" />
    <!--发送邮件模板-->
    <add key="MailTemplatePath" value="~/MailTemplat" />
    <add key="MailServerAddress" value="smtp.xingyuanauto.com" />
    <add key="MailSendAddress" value="isdc@xingyuanauto.com" />
    <add key="MailSendPassword" value="1qaz@WSX" />
    <!--员工统计接收者,用"；"分隔-->
    <add key="ReceiveErrorEmail" value="masj@xingyuanauto.com;lix@xingyuanauto.com;hant@xingyuanauto.com;lihf@xingyuanauto.com;zhanglb@xingyuanauto.com" />
    <!--接口调用时，IP白名单-->
    <add key="IPSIgnore" value="127.0.222.*,192.168.112.*,192.168.0.*,127.0.0.*,192.168.6.*" />
    <!--登录Cookies过期时间，单位：分钟-->
    <add key="loginOverdueTime" value="1440" />
    <!--是否要设置跨域-->
    <add key="IsSetCrossSite" value="true" />

    <!--上传文件存放物理路径-->
    <add key="UploadFilePath" value="D:\wwwroot\XYAuto.BUOC.BOP2017.Upload" />
    <add key="DomainUrl" value="http://ip1.chitunion.com" />

    <!--文章中替换图片url后的域名url前缀，测试环境：http://192.168.3.71 线上环境：http://img4.qcdqcdn.com-->
    <add key="CleanImgURLPrefix" value="http://192.168.3.71/" />
    <!--获取文章摘要关键词接口地址-->
    <!--<add key="InterfaceGetSummaryKeyWord" value="http://192.168.3.51:10099/NLP/api/nlp/SummaryAndKeyword?id={0}&amp;summaryLength={1}&amp;keywordSize={2}" />-->
    <add key="InterfaceGetSummaryKeyWord" value="http://192.168.3.51:10099/NLP/api/nlp/differentArticleSummaryAndKeyword?id={0}&amp;summaryLength={1}&amp;keywordSize={2}&amp;articleType={3}" />
    <!--http://192.168.3.51:10099/NLP/api/nlp/differentArticleSummaryAndKeyword?id=1&summaryLength=1&keywordSize=2&articleType=1-->
  </appSettings>
</configuration>