<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!--数据库-->
    <add key="ConnectionStrings" value="server=192.168.15.62\develop;uid=sa;pwd=sa;database=CRM2009;Max Pool Size=300;" />
    <add key="ConnectionStrings_CC" value="server=192.168.15.62\test;uid=sa;pwd=sa;database=CC2012;Max Pool Size=300;" />
    <add key="BD_ConnectionStrings" value="server=192.168.0.143;uid=sa;pwd=Sa123456;database=BusinessDataStatistics;Max Pool Size=300;" />
    <!--月和天任务相关配置 Start-->
    <!--轮询时间，单位：分钟-->
    <add key="RegularTime" value="60"/>
    <!--定分执行-->
    <add key="MinutePoint" value="0"/>
    <!--定时执行-->
    <add key="HourPoint" value="3"/>
    <!--定天执行-->
    <add key="DayPoint" value="1"/>
    <!--月和天任务相关配置 End-->

    <!--周任务相关配置 Start-->
    <!--每周几执行-->
    <add key="DayOfWeek" value="1"/>
    <!--几点执行-->
    <add key="HourOfWeek" value="2"/>
    <!--   正数代表后几周，负数代表前几周   -->
    <add key="StartWeek" value="-1"/>
    <!--  1-7代表周一到周日   -->
    <add key="StartDayOfWeek" value="1"/>
    <!--   正数代表后几周，负数代表前几周   -->
    <add key="EndWeek" value="0"/>
    <!--  1-7代表周一到周日   -->
    <add key="EndDayOfWeek" value="7"/>
    <!--  周任务中执行SQL的超时时间（秒）   -->
    <add key="TimeOutSeconds" value="300"/>
    <!--  生成的CSV文件存放的位置   -->
    <add key="TempCsvFilePath" value="temp\ReportFiles\"/>
    <!--  生成的压缩文件存放的位置  -->
    <add key="TempZipFilePath" value="temp\ReportZipFiles\"/>
    <!--CC话务报表压缩数据邮件接收人-->
    <add key="ReceiveCCReportDataEmail" value="bif@bitauto.com"/>
    <!--CC话务报表压缩数据邮件抄送人-->
    <add key="CopyToCCReportDataEmail" value="anyy@bitauto.com"/>
    <!--周任务相关配置 End-->

    <!--天任务相关配置 Start-->
    <!--保存方式：Local/FTP-->
    <add key="SaveType" value="Local"/>
    <!--FTP配置-->
    <add key="FtpUrl" value="ftp://192.168.0.130"/>
    <add key="FtpUser" value=""/>
    <add key="FtpPwd" value=""/>
    <add key="FtpEncoding" value="ASCII"/>
    <!--FTP目录-->
    <add key="CCData" value="CC_CallRecord_Data"/>
    <!--本地文件目录-->
    <add key="BDData" value="E:\FTP\FTP_CC_CallRecord_Data"/>
    <!--天任务相关配置 End-->

    <!--发送邮件模板-->
    <add key="MailTemplatePath" value="MailTemplat"/>
    <add key="MailServerAddress" value="mail.hd.bitauto.com"/>
    <add key="MailSendAddress" value="isdc@bitauto.com"/>
    <add key="MailSendPassword" value="@WSX2wsx2012"/>
    <!--错误邮件接收人-->
    <add key="ReceiveErrorEmail" value="masj@bitauto.com;qiangfei@bitauto.com"/>
  </appSettings>
  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\log_" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="RollingStyle" value="Composite" />
      <!--一个月一个文件记录日志-->
      <datePattern value="yyyy_MM_dd'.log'"/>
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>