<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!--ConnectionStrings_ITSC-->
  <!--
  <add key="ConnectionStrings_ITSC" value="server=192.168.3.152\DEV,4000;uid=sa;pwd=123.abc;database=Chitunion2017;Max Pool Size=300;Application Name=media" />
  -->
  <!--BaseData2017-->
  <!--
  <add key="ConnectionStrings_BaseData2017" value="192.168.3.152\DEV,4000;uid=sa;pwd=123.abc;database=BaseData2017;Max Pool Size=300;Application Name=BaseData2017" />
  -->
  <!--Chitunion_DataSystem2017-->
  <!--
  <add key="ConnectionStrings_DataSystem2017" value="server=192.168.3.152\DEV,4000;uid=sa;pwd=123.abc;database=Chitunion_DataSystem2017;Max Pool Size=300;Application Name=m" />
  -->
  <!--Chitunion_OP2017-->
  <!--
  <add key="ConnectionStrings_Chitunion_OP2017" value="server=192.168.3.152\DEV,4000;uid=sa;pwd=123.abc;database=Chitunion_OP2017;Max Pool Size=300;Application Name=m" />-->

  <!--ConnectionStrings_ITSC-->
  <add key="ConnectionStrings_ITSC" value="server=192.168.3.152,6000;uid=sa;pwd=123.abc;database=Chitunion2017;Max Pool Size=300;Application Name=media" />
  <!--BaseData2017-->
  <add key="ConnectionStrings_BaseData2017" value="server=192.168.3.152,6000;uid=sa;pwd=123.abc;database=BaseData2017;Max Pool Size=300;Application Name=BaseData2017" />
  <!--Chitunion_DataSystem2017-->
  <add key="ConnectionStrings_DataSystem2017" value="server=192.168.3.152,6000,5000;uid=sa;pwd=123.abc;database=Chitunion_DataSystem2017;Max Pool Size=300;Application Name=m" />
  <!--Chitunion_OP2017-->
  <add key="ConnectionStrings_Chitunion_OP2017" value="server=192.168.3.152,6000,5000;uid=sa;pwd=123.abc;database=Chitunion_OP2017;Max Pool Size=300;Application Name=m" />

  <!--拉取服务相关配置 START -->

  <!--可配置指定日期偏移量拉取： 当前时间减2天或者加2天-->
  <add key="ExcuteDateOffset" value="-36" />

  <!-- 同步青鸟数据（昨天） -->
  <add key="ExcuteDateOffset_QingNiao" value="10" />

  <!--每天{0}小时开始执行：23:30 -->
  <add key="AtEveryDayHourRange" value="13:25" />

  <!-- 拉取智慧云接口数据偏移量（8天） -->
  <add key="PullDataQueryDateOffset" value="10" />

  <!--发送邮件模板-->
  <add key="MailTemplatePath" value="~/MailTemplat" />
  <add key="MailServerAddress" value="smtp.xingyuanauto.com" />
  <add key="MailSendAddress" value="isdc@xingyuanauto.com" />
  <add key="MailSendPassword" value="1qaz@WSX" />
  <!--员工统计接收者,用"；"分隔-->
  <add key="ReceiveErrorEmail" value="masj@xingyuanauto.com;lix@xingyuanauto.com" />
</appSettings>