<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--客户端接口地址-->
    <add key="AgentInfoServiceURL" value="http://ncc.sys1.bitauto.com/CallRecordService/GetCallRecordList.asmx"/>
    <!--调用接口授权码-->
    <add key="AgentInfoAuthorizeCode" value="B8C9EC64-0B98-4C59-B423-C68B0854E3A6"/>
  </appSettings>
</configuration>