 
/*表情层*/
.yc_Emotiondiv
{
    margin:0px; padding:0px;
    width:338px; 
    
    border:#eee 3px solid;
    z-index:999;
    
    background-color:#fafafa;
}

/*表情菜单容器*/
.yc_Emotiondiv .menuContentbox { float:left; clear:both; width:260px;height:30px;line-height:30px;background: #fafafa;position: relative; }

.yc_Emotiondiv .menuContentbox ul{margin:0px;padding:0px;}
.yc_Emotiondiv .menuContentbox li{ margin:0px;padding:0px;float:left;display:block; cursor:pointer; width:85px;text-align:center; color:#333; font-weight:bold; border-right:#E6E6E6 1px solid;}
.yc_Emotiondiv .menuContentbox li.hover{ padding:0px; width:86px; border-right:#E6E6E6 1px solid;border-bottom:#E6E6E6 1px solid; background: #Fff;color:#787878; font-weight:bold; height:30px;line-height:30px;}
/*表情容器*/

.yc_Emotiondiv .imgContentbox{float:left; clear:both; background:#FFF;border-radius: 4px 4px 4px 4px; width:338px;height: 195px;margin:0px auto;scrollbar-arrow-color:#ffffff;scrollbar-3dlight-color: #D8D8D8;scrollbar-shadow-color: #D8D8D8; }
.yc_Emotiondiv .imgContentbox .imgDiv{ position:absolute; width: 60px; height: 60px;border: solid 1px #999; z-index: 99999999; background-color: #fcfcfc;display: none;}                            
.yc_Emotiondiv .imgContentbox ul{ list-style:none; border-top: 1px solid #ccc;border-left: 1px solid #ccc;margin-left: 8px;margin-top: 5px;margin-right: 6px;}
.yc_Emotiondiv .imgContentbox ul li{ float:left; margin:0px; padding:0px;cursor: pointer; width:45px; height:45px;display: table-cell;*display: block; text-align:center; vertical-align:middle;  ;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc; }
.yc_Emotiondiv .imgContentbox ul li span{display: inline-block;width: 24px;height: 24px;background: url("../../Images/biaoqingall.png") no-repeat right 0;text-indent: -9999px;overflow: hidden;margin-top: 10px;}
.yc_Emotiondiv .imgContentbox ul li:hover{ border-bottom-color: #999;background-color: #fcfcfc;}
.yc_Emotiondiv .imgContentbox ul li img{margin:0px auto; padding:0px;  width:30px; height:30px; display:block; text-align:center; vertical-align:middle; padding:8px 0px; cursor:pointer;}
.yc_Emotiondiv .imgContentbox ul li:hover span{ margin-top: 12px; }




