* {
  cursor: pointer;
}
.note_gray {
  color: #a8a8a8;
  font-size: .32rem;
  padding-top: .44rem;
}
.PersonalInformation > main .personalSupplement {
  margin-top: 0;
}
.PersonalInformation > main .personalSupplement > div > div > .upload_text:first-child input {
  color: #adadad;
}
.PersonalInformation > main .personalSupplement > div > div > .info_edit:first-child {
  background: url("/images/info_edit.png") center right no-repeat;
  background-size: .33rem .32rem;
  color: #000;
}
.PersonalInformation > main .personalSupplement > div > div > .info_edit:first-child input {
  color: #000;
}
.userinfo-wrap input {
  text-align: left;
}
.userinfo-wrap > main .personalData > div:first-child,
.userinfo-wrap > main .personalData > div:first-child input {
  color: #000;
}
.personalSupplement p {
  color: #adadad;
  text-align: right;
  padding: 0 0.07rem;
}
.personalSupplement .info_edit p {
  color: #000;
}
