<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="SmtpERRORAppender" />
    <appender-ref ref="BaseLog" />
    <appender-ref ref="ZHYLog" />
    <appender-ref ref="GDTLog" />
  </root>
  <!--additivity 可选，取值是true或false，默认值是true。设置为false时将阻止父logger中的appender-->
  <logger additivity="false" name="ZHYLog">
    <level value="DEBUG" />
    <appender-ref ref="ZHYLog" />
  </logger>
  <logger additivity="false" name="GDTLog">
    <level value="DEBUG" />
    <appender-ref ref="GDTLog" />
  </logger>
  <!-- 赤兔系统基本的日志输出 -->
  <appender name="BaseLog" type="log4net.Appender.RollingFileAppender">
    <file value="Log\" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <datePattern value="&quot;Chitunion_WebApi_&quot;yyyyMMdd&quot;.log&quot;" />
    <layout type="log4net.Layout.PatternLayout">
      <!--输出格式-->
      <conversionPattern value="%d [%t] %-5p %c [%x] - %m%n" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="BaseLog" />
    </filter>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <!-- 智慧云接口相关日志 -->
  <appender name="ZHYLog" type="log4net.Appender.RollingFileAppender">
    <file value="Log\ZHY\" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <datePattern value="'zhy_'yyyyMMdd'.txt'" />
    <layout type="log4net.Layout.PatternLayout">
      <!--输出格式-->
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="ZHYLog" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <!-- 广点通接口相关日志 -->
  <appender name="GDTLog" type="log4net.Appender.RollingFileAppender">
    <file value="Log\GDT\" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <datePattern value="'gdt_'yyyyMMdd'.txt'" />
    <layout type="log4net.Layout.PatternLayout">
      <!--输出格式-->
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="GDTLog" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <appender name="SmtpERRORAppender" type="log4net.Appender.SmtpAppender">
    <authentication value="Basic" />
    <to value="lix@xingyuanauto.com" />
    <from value="isdc@xingyuanauto.com" />
    <username value="isdc@xingyuanauto.com" />
    <password value="1qaz@WSX" />
    <subject value="赤兔-商业运营中心-广点通数据拉取服务错误" />
    <smtpHost value="smtp.xingyuanauto.com" />
    <bufferSize value="0" />
    <lossy value="true" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR" />
    </evaluator>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="BaseLog" />
      <loggerToMatch value="ZHYLog" />
      <loggerToMatch value="GDTLog" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>
</log4net>