


.cont_cx div.spliter {
    margin-left: 30px;
    width: 880px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
    clear:both;
    height:10px;
}

.cont_cx ul.infoBlock li {
    width: 447px;
}

.cont_cx ul.infoBlock li.singleRow {
    width: 900px;
    height: auto;
}
.cont_cx ul.infoBlock li em {
    color: Red;
}
.cont_cxjg table.cxjg { border-right:1px solid #ccc;  border-top:1px solid #ccc; width:97.85%; margin:0 auto 20px; *border-collapse:collapse;}
.cont_cxjg table.cxjg tr.color_hui{ background:#EBEBEB;}
.cont_cxjg table.cxjg tr th{ background:#eee;}
.cont_cxjg table.cxjg tr th,.cont_cxjg table.cxjg tr td{border-left:1px solid #ccc; border-bottom:1px solid #ccc; text-align:center; height:28px; line-height:28px; overflow: hidden;color:#333;}
.cont_cxjg table.cxjg tr td.l { padding:0 0 0 10px; text-align:left;}
.cont_cxjg table.cxjg tr td a { margin:0px 0px 0px 5px; text-decoration:underline;}
.cont_cxjg .quanxuan{ float:left; margin:0 10px; _margin:0 5px;}
.cont_cxjg .quanxuan ul li{ float:left; margin:0 10px 0 0;}
.cont_cxjg .quanxuan ul li a{ text-decoration:underline;}
.cont_cx ul li label em{ color:#cc0000; margin:0 5px 0 0}


.cont_cx ul li textarea.fullRow, .cont_cx ul li div.fullRow, .cont_cx ul li input.fullRow {
    width: 793px;
}

/*弹出框*/
.open_yinyin{background:url(../images/yybg.png) no-repeat 0 0; float:left; clear:both; padding:0 3px 2px 0; float:left;position:absolute; margin-top: -25px; z-index:100;}
.open_cg{border:1px solid #BFBFBF; padding:5px 10px; background:#fff; _width:120px; position:relative;}
.open_cg a.close{background:url(../images/all_other.png) no-repeat 0 -473px; width:10px; height:10px; text-indent:-9999px; overflow:hidden; display:block; margin:5px 0 0; position:absolute; right:5px; top:5px;}
.opensccg{margin:20px 10px 5px; /*_width:120px; min-width:120px; */ white-space:nowrap;}
.opensccg strong{ display:block; color:#57960A; font-weight:bold;background:url(../images/all_other.png) no-repeat 0 -520px; font-size:14px; padding:0 0 0 25px;}
