
.cont_cxjg{ clear:both; position:relative; margin:10px 0 0 0; overflow:hidden; zoom:1; padding:0 0 20px 0;  color:#333;}
.cont_cxjg h2{ height:30px; background:url(../images/cx_h2bg_r.gif) repeat-x 0 0; margin:0 10px;  border-right:1px solid #ccc;  border-top:1px solid #ccc;  border-left:1px solid #ccc; }
.cont_cxjg h2 span{ height:30px; line-height:30px; margin:0 0 0 12px; font-size:13px; color:#164a84; }
.cont_cxjg h2 small{ font-size:12px; font-weight:normal; margin:0 0 0 10px;  color:#333;}
.cont_cxjg table.cxjg { border-right:1px solid #ccc;  border-top:1px solid #ccc; width:97.85%; margin:0 auto 20px; *border-collapse:collapse;}
.cont_cxjg table.cxjg tr.color_hui{ background:#EBEBEB;}
.cont_cxjg table.cxjg tr th{ background:#eee;}
.cont_cxjg table.cxjg tr th,.cont_cxjg table.cxjg tr td{border-left:1px solid #ccc; border-bottom:1px solid #ccc; text-align:center; height:28px; line-height:28px; overflow: hidden;color:#333;}
.cont_cxjg table.cxjg tr td.l { padding:0 0 0 10px; text-align:left;}
.cont_cxjg table.cxjg tr td a { margin:0px 0px 0px 5px; text-decoration:underline;}
.cont_cxjg .quanxuan{ float:left; margin:0 10px; _margin:0 5px;}
.cont_cxjg .quanxuan ul li{ float:left; margin:0 10px 0 0;}
.cont_cxjg .quanxuan ul li a{ text-decoration:underline;}
.pages{ float:right; margin:0 10px; _margin:0 5px;}
.pages span.down{ color:#999; float:none;}
.pages span em{ color:#333;}
.pages a{  margin:0 3px;}
.pages a.current{ color:#cc0000; text-decoration:underline; font-weight:bold;}
.cont_cxjg .daochu{position:absolute; right:125px; top:5px;}
.cont_cxjg .daochu a{ text-decoration:underline;}
.cont_cxjg .xinzeng{ position:absolute; right:13px; top:5px;}
.cont_cxjg .xinzeng span{ background:#fff url(../images/all.gif) no-repeat 62px 6px; padding:1px 20px 1px 10px; cursor:pointer; color:#164a84;text-decoration:underline;  border:1px solid #ccc; display:block;}
.cont_cxjg .xinzeng ul{ background:#fff; border:1px solid #ccc; border-top:none; padding:0 0 0 10px;}
.cont_cxjg .xinzeng ul li{ padding:2px 0;}