<?xml version="1.0" encoding="utf-8" ?>
<AppClientConfig>
  <ServiceBusUrl>http://servicebus.xyauto.com/api</ServiceBusUrl>
  <ServiceBusAppKey>ChitulianmengInvoker</ServiceBusAppKey>
  <ServiceBusAppSecret>15c40207bdde423b9485a4e8fa1bbcf8</ServiceBusAppSecret>
</AppClientConfig>

<!--<AppClientConfig>
  --><!--ServiceBus服务的路径-->
  <!--
  <ServiceBusUrl>http://api.kr.xingyuanauto.com/ServiceBus/api</ServiceBusUrl>
  -->
  <!--调用方Key--><!--
  <ServiceBusAppKey>ChitulianmengInvoker</ServiceBusAppKey>
  --><!--调用方密钥--><!--
  <ServiceBusAppSecret>bd3c7c7aeeeb420db2f9245e5a5cb852</ServiceBusAppSecret>
</AppClientConfig>-->