html,body,div,span,
applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dd,dl,dt,li,ol,ul,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: normal;
	font-size: 12px;
	color:#ffffff   ;
	font-family:microsoft yahei;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol,ul {
	list-style: none;
}
q:before,q:after,
blockquote:before,blockquote:after {
	content: "";
}



body {
  font-family : Arial, Helvetica, Sans-Serif;
  overflow-y: auto;
  position:static;
  left:0px;
  top:0px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
a {
  cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0px 9px 0px 0px;
    vertical-align: bottom;
}

input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.layout  {TEXT-ALIGN:left;}
.center { MARGIN-RIGHT: auto; MARGIN-LEFT: auto; }

div.hx  
{
    height: 2px;
    background-image:url('../images/u296.png');
    background-repeat:repeat;
    width:auto;
}

div.hxgray
{
    height: 2px;
    background-image:url('../images/u771.png');
    background-repeat:repeat;
    width:auto;
    margin-left: 10px; 
    margin-right: 10px;
}


/* 平台覆盖用户--------Add=Masj,Date=2016-11-08----------------开始 */

.moddleTop
{
    display: inline;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align:left;
    width: auto;   
}

.moddleTop p 
{  
    background: url("../images/u132.png") no-repeat 0 center;
    padding-left: 10px;  
    float:left;
    font-weight: bold;
    margin-left: 10px;
}




.middleSub
{
    display: inline;
    float: left;
    height: auto;
    line-height: 20px;
    margin-top: 5px;
    margin-left: 10px; 
    margin-bottom: 5px;
    margin-right: 10px;
    text-align:left;
    width: auto;   
}

.middleSub p
{
    margin-left: 22px;    
}

.ulitem
{
   margin : 0 auto;
   position : relative;
   list-style-type:none;
   overflow:hidden;
}


.ulitem li
{
    display:inline;
    background-color: rgba(73, 71, 84, 1);
    border-color: rgba(73, 71, 84, 1);
    border-width: 2px;
    border-radius: 0;
    border-style: solid;
    width: 46%;
    height: 60px;
    float:left;
    margin:5px 5px 5px 5px;
    list-style: outside none none;
}

.ulitem li.selected
{
    border-color: rgba(102, 255, 255, 1);
    border-width: 2px;
    border-radius: 0;
    border-style: solid;
    height: 60px;
    width: 46%;
}

div.clear20
{
    height:20px;   
    clear:both; 
}

div.clear10
{
    height:10px;
    clear:both ;   
}

div.charttitle2
{
    padding-top: 22px; 
    padding-bottom: 24px;
    text-align:left;
    background-color:rgba(73, 71, 84, 1);
    
}

div.charttitle2 p span
{
   font-weight: bold;
   margin-left: 15px;
}

.charthelper
{
    float:right; 
    margin-right: 20px; 
    margin-top: 3px;
}

/* 平台覆盖用户--------Add=Masj,Date=2016-11-08----------------结束 */


/* 人员情况--------Add=Masj,Date=2016-11-09----------------开始 */

.ryqkSex
{
    position: static; 
    visibility: visible; 
    margin-left: 100px; 
    margin-top: -40px;
}


.ryqkSex img
{
    margin-left: 3%; 
    margin-right: 3%;
    width:29px;
}






.mp
{
    border: 0px solid red;
    list-style: none;
    padding: 10px;
    min-width:175px;
    max-width:600px;
}

.mp li
{
    border: 0px solid red;
    display: inline-block;
    width: 30px;
    height: 50px;
    margin-right: 0%;
}

.mp li div
{
    border: 0px solid red;
    float: left;
    height: 100%;
    width: 100%;
}

.mp .mp_down
{
}

.mp .mp_up
{
    width: 0px;
    position: relative;
    top: -100%;
    left: 0px;
    z-index: 2;
}
.mp .pic1
{
    background: url(/Images/u3269.png) no-repeat;
}
.mp .pic2
{
    background: url(/Images/u3261.png) no-repeat;
}
 .mp .pic3 {
                background: url(/Images/u3277.png) no-repeat;
                background-size:30px 50px;
            }

.mp .pic4 {
                background: url(/Images/u3259.png) no-repeat; 
		background-size:30px 50px;
            }





#divryzs
{
    background-attachment: inherit;
    background-clip: inherit;
    background-color: rgba(81, 81, 81, 1);
    background-image: inherit;
    background-origin: inherit;
    background-position: inherit;
    background-repeat: inherit;
    background-size: inherit;
    border: medium none;
    border-radius: 5px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.35);
    height: 150px;
    left: 0;
    position: relative;
    top: 0;
    margin-left: 12px;
    text-align:center;
    width: 40%;
}

#divruzhi
{
    background-attachment: inherit;
    background-clip: inherit;
    background-color: rgba(81, 81, 81, 1);
    background-image: inherit;
    background-origin: inherit;
    background-position: inherit;
    background-repeat: inherit;
    background-size: inherit;
    border: medium none;
    border-radius: 5px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.35);
    height: 70px;
    left: 0;
    position:absolute;
    width: 40%;
    text-align:center;
    margin-left: 50%;
    top: 45px;
}

#divlizhi
{
    background-attachment: inherit;
    background-clip: inherit;
    background-color: rgba(81, 81, 81, 1);
    background-image: inherit;
    background-origin: inherit;
    background-position: inherit;
    background-repeat: inherit;
    background-size: inherit;
    border: medium none;
    border-radius: 5px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.35);
    height: 70px;
    left: 0;
    position:absolute;
    width: 40%;
    text-align:center;
    margin-left: 50%;
    top: 125px;
}
/* 人员情况--------Add=Masj,Date=2016-11-09----------------结束 */


/* 商机监控--------Add=Masj,Date=2016-11-10----------------开始 */
#divsjjk_title
{
    background-attachment: inherit;
    background-clip: inherit;
    background-color: rgba(67, 67, 67, 1);
    background-image: inherit;
    background-origin: inherit;
    background-position: inherit;
    background-repeat: inherit;
    background-size: inherit;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    height: 47px;
    left: 0;
    top: 0;
    width: 100%;
    
}

#divsjjk_title ul
{
    height: 47px;
    line-height:47px;
    text-align: center;
}

#divsjjk_title ul li
{
    width: 50%;
    float: left;
    border-bottom:solid 2px rgba(107, 107, 107, 100);
}

#divsjjk_title ul li a
{
    text-decoration:none;
    font-weight:bold;
    color:#c9c9c9;
}

#divsjjk_title ul li.selected
{
    border-bottom:solid 2px rgba(15, 225, 215, 100);
}

#divsjjk_title ul li.selected a
{
    color:#ffffff;
}

/* 商机监控--------Add=Masj,Date=2016-11-10----------------结束 */


/* 新车会员合作--------Add=Masj,Date=2016-11-10----------------开始 */
.div_AR_Table
{
    width:90%; 
    text-align:center;
    margin-left: auto;
    margin-right: auto;    
}


.div_AR_Table table tr td
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgb(150,150,150);
    border-image: none;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    text-align: center;

    
}

.div_AR_Table table tr.tableHeader
{
    background-color:rgb(81,81,81);
}

.dataloading
{
     margin-left: auto;    
     margin-right: auto; 
     text-align:center; 
     line-height:40px; 
     height:40px;
     color:#e4e4e4;
}

/* 新车会员合作--------Add=Masj,Date=2016-11-10----------------结束 */


/* 交易量--------Add=Masj,Date=2016-11-10----------------结束 */

.ywxjyl
{
    width:100%;    
    text-align:center;
}

.ywxjyl ul
{
    width:90%;
    margin-left: auto;         
    margin-right: auto;      
    
}

.ywxjyl ul li
{
   margin-bottom: 10px; 
   margin-top: 10px;
}

.ywxjyl ul li div.tag
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: inherit;
    background-clip: inherit;
    background-color: rgba(24, 72, 168, 1);
    background-image: inherit;
    background-origin: inherit;
    background-position: inherit;
    background-repeat: inherit;
    background-size: inherit;
    border-color: -moz-use-text-color;
    border-image: none;
    border-radius: 4px 0 0 4px;
    border-style: none;
    border-width: medium 0 medium medium;
    box-shadow: none;
    height: 45px;
    line-height:45px;
    position: absolute;
    text-align:center;
    width: 45px;
}

.ywxjyl ul li div.huimaiche
{
    background-color: rgba(24, 72, 168, 1);
}

.ywxjyl ul li div.huimaiche_color
{
    background-color:rgba(24, 72, 168, 0.298);
}

.ywxjyl ul li div.yixin
{
    background-color: rgba(234, 68, 72, 1);
}

.ywxjyl ul li div.yixin_color
{
    background-color:rgba(234, 68, 72, 0.298);
}

.ywxjyl ul li div.tag_right
{
    width:100%;
    height: 45px;
    border-radius: 4px;
    line-height:45px;
}

.ywxjyl ul li div.tag_right p.bname
{
    float: left; 
    margin-left: 50px;    
    position: absolute;
    width: 48%;
    text-align: left;
}   

.ywxjyl ul li div.tag_right p.bname span
{
    padding-left: 5px; 
}

.ywxjyl ul li div.tag_right p.bname span.daxie
{
    font-weight:bold;
    font-size:14px;  
    float: right;
}


.ywxjyl ul li div.tag_right p.rightTop
{
    margin-left: 0px; 
    line-height: 22px;
    float: right; 
    margin-right: 20px; 
    text-align: right;
}

.ywxjyl ul li div.tag_right p.rightTop span,
.ywxjyl ul li div.tag_right p.rightBottom span
{
    font-size:11px;
}

.ywxjyl ul li div.tag_right p.rightBottom
{
    margin-left: 0px; 
    height: 50px; 
    line-height: 50px;
    float: right; 
    margin-right: 20px; 
}



.highColor
{
    color:#df5a49;
}

.lowColor
{
    color:#59c89d;
}


/* 交易量--------Add=Masj,Date=2016-11-10----------------结束 */



/* 运营日报--------Add=Masj,Date=2016-11-11----------------结束 */
.ywxjyl ul li div.fgyys
{
    background-color: rgba(239, 121, 220, 1);
}

.ywxjyl ul li div.fgyys_color
{
    background-color:rgba(239, 121, 220,0.298);
}


.ywxjyl ul li div.leads
{
    background-color: rgba(51, 134, 255, 1);
}

.ywxjyl ul li div.leads_color
{
    background-color:rgba(51, 134, 255,0.298);
}


.ywxjyl ul li div.xds
{
    background-color: rgba(255, 152, 76, 1);
}

.ywxjyl ul li div.xds_color
{
    background-color:rgba(255, 152, 76,0.298);
}


.ywxjyl ul li div.jyl
{
    background-color: rgba(106, 200, 208, 1);
}

.ywxjyl ul li div.jyl_color
{
    background-color:rgba(106, 200, 208,0.298);
}



/* 运营日报--------Add=Masj,Date=2016-11-11----------------结束 */


