.cont_cx ul.firstPart {
    margin-top: 10px;
}

.cont_cx div.spliter {
    margin-left: 30px;
    margin-bottom: 10px;
    width: 880px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #cccccc;
}

.cont_cx ul.infoBlock li {
    width: 447px;
}

.cont_cx ul.infoBlock li.singleRow {
    width: 900px;
    height: auto;
}

.cont_cx ul.infoBlock li em {
    color: Red;
}

.cont_cx ul.infoBlock li input, .cont_cx ul.infoBlock li select {
    width: 252px;
    margin-right: 5px;
}

/*checkbox*/
.cont_cx ul.infoBlock li input.checkbox {
    width: auto;
    height: auto;
}

.cont_cx ul.infoBlock li select.area, .cont_cx ul.infoBlock li select.lastArea {
    width: 84px;
    margin-right: 0px;
}

.cont_cx ul.infoBlock li select.lastArea {
    margin-right: 5px;
}

.cont_cx ul li textarea.fullRow, .cont_cx ul li div.fullRow, .cont_cx ul li input.fullRow {
    width: 703px;
}
