<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BitAuto.ISDC.CC2015.HollySync.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Sys_ConnectionStrings" value="server=192.168.15.62\test;uid=sa;pwd=sa;database=SysRightsManager;Max Pool Size=300;" />
    <add key="ConnectionStrings_CC" value="server=192.168.15.62\test;uid=sa;pwd=sa;database=CC2012;Max Pool Size=300;" />
    <add key="ConnectionStrings" value="server=192.168.15.62\test;uid=sa;pwd=sa;database=CRM2009;Max Pool Size=300;" />
    <add key="MJ_ConnectionStrings" value="server=192.168.15.62\test;uid=sa;pwd=sa;database=MJ2009;Max Pool Size=300;" />
    <add key="BD_ConnectionStrings" value="server=192.168.0.143;uid=sa;pwd=Sa123456;database=BusinessDataStatistics;Max Pool Size=300;" />
    <!--=========================================数据库=======================================-->
    <add key="ConnectionStrings_Holly_Report" value="server=192.168.112.219;uid=HOLLYUSER;pwd=1qaz@WSX;database=HOLLYREPORT;Max Pool Size=300;" />
    <add key="ConnectionStrings_Holly_Business" value="server=192.168.15.62\test;uid=sa;pwd=sa;database=CC2012_Synch;Max Pool Size=300;" />

    <!--=========================================任务1配置=======================================-->
    <!--轮询时间，单位：分钟-->
    <add key="RegularTime" value="10"/>
    <!--定点执行-->
    <add key="MinutePoint" value="9"/>
    <!--定时执行-->
    <add key="HourPoint" value="16"/>

    <!--最大传送数据行数-->
    <add key="MaxTransRow_Miss" value="5000"/>
    <add key="MaxTransRow_Call" value="1000"/>
    <!--录音地址-->
    <add key="RecordURl" value="http://192.168.112.208"/>
    <!--=========================================任务1配置=======================================-->

    <!--=========================================任务2配置=======================================-->
    <!--北京到西安同步周期：分钟-->
    <add key="Job2BJToXA" value="1"/>
    <!--西安到北京同步周期：分钟-->
    <add key="Job2XAToBJ" value="5"/>
    <!--结束暂停项目的API接口-->
    <add key="StopProjectAPI" value="http://apincc.sys1.bitauto.com/hollycrm/HaltStop?pid={0}&amp;sas={1}"/>
    <!--=========================================任务2配置=======================================-->

    <!--=========================================任务3配置=======================================-->
    <!--合力MongoDB地址-->
    <add key="MongodbAddress" value="mongodb://192.168.15.84:27017"/>
    <!--技能组统计：秒-->
    <add key="Job3_skillstat_reg" value="15"/>
    <!--热线统计：分钟-->
    <add key="Job3_linestat_reg" value="10"/>
    <!--=========================================任务3配置=======================================-->

    <!--=========================================接口配置=======================================-->
    <!--呼叫中心通知接口地址-->
    <add key="CallReportServiceUrl" value="http://ncc.sys1.bitauto.com/WebServices/CallReportService.asmx"/>
    <add key="BlackWhiteServiceUrl" value="http://ncc.sys1.bitauto.com/WebServices/BlackWhiteService.asmx"/>
    <add key="AutoCallServiceUrl" value="http://ncc.sys1.bitauto.com/WebServices/AutoCallSyncDataService.asmx"/>
    <add key="SyncHelyBigScreenUrl" value="http://apincc.sys1.bitauto.com/WebServices/SyncHelyBigScreenData.asmx"/>

    <!--接口验证-->
    <add key="CCServiceTimeout" value="60"/>
    <add key="CCServiceKey" value="2D55A797-6386-4D35-A6B6-B340CF425B2E"/>
    <!--=========================================接口配置=======================================-->
  </appSettings>
  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="RollingFileAppender1" />
      <appender-ref ref="RollingFileAppender2" />
      <appender-ref ref="RollingFileAppender3" />
    </root>
    <appender name="RollingFileAppender1" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\log_同步合力数据_" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="5MB" />
      <param name="RollingStyle" value="Composite" />
      <datePattern value="yyyy_MM_dd'.log'"/>
      <param name="StaticLogFileName" value="false" />
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="同步合力数据" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="RollingFileAppender2" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\log_自动外呼同步_" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="5MB" />
      <param name="RollingStyle" value="Composite" />
      <datePattern value="yyyy_MM_dd'.log'"/>
      <param name="StaticLogFileName" value="false" />
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="自动外呼同步" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="RollingFileAppender3" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\log_合力监控统计_" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="RollingStyle" value="Composite" />
      <datePattern value="yyyy_MM_dd'.log'"/>
      <param name="StaticLogFileName" value="false" />
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="合力监控统计" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>