/*2016-06-15 工单 by chengxianghua*/

/*标签选择*/
.biaoqian_xz { float:inherit; clear:none; margin:0; padding:0;}
.biaoqian_xz .Menubox_left { float:left; clear:both;width:114px;background:#f2f2f2;height:100%; min-height:260px;}
.biaoqian_xz .Menubox_left ul{margin:0px;padding:0px; padding-top:15px;}
.biaoqian_xz .Menubox_left li{ float:left; display:block; clear:both; cursor:pointer; width:104px;color:#949694; font-weight:bold; text-align:right; padding-right:10px; line-height:35px; }
.biaoqian_xz .Menubox_left li.hover{ background:#fff; width:104px;  color:#666;;font-weight:bold;}
.biaoqian_xz .Contentbox_right{ float:left; clear:none;  padding-top:8px;width:645px; margin:10px 20px;}
.biaoqian_xz .Contentbox_right ul li { float:left; clear:none; width:190px; margin-right:10px; padding:5px; }
.biaoqian_xz .Contentbox_right ul li:hover,.biaoqian_xz .Contentbox_right ul li.current { background:#00a8d6;}
.biaoqian_xz .Contentbox_right ul li:hover a,.biaoqian_xz .Contentbox_right ul li.current a { color:#FFF;}
