<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="StorageGroupConfig" type="Xy.ImageFastDFS.Config.StorageGroupConfig,Xy.ImageFastDFS"></section>
  </configSections>
  <appSettings>
    <add key="ThisSysID" value="SYS001" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--微信第三方平台调接口时候用-->
    <add key="Component_Appid" value="wxdf993ec648bdec82" />
    <add key="Component_Secret" value="9fbac5faf70193bcf6968d20964b0525" />
    <add key="CatchDomain" value="http://spiderapi.chitunion.com" />
    <!--渠道价格税-->
    <add key="TaxScale" value="1.06" />
    <add key="TemplatePath" value="D:\wwwroot\XYAuto.ITSC.Chitunion2017.Web\ArticleTemplete" />
    <!--<add key="ConnectionStrings_ITSC" value="server=192.168.3.51;uid=sa;pwd=123.abc;database=Chitunion2017;Max Pool Size=300;Application Name=media" />-->
    <add key="ConnectionStrings_ITSC_ReadOnly" value="server=192.168.3.152\DEV,4000;uid=sa;pwd=123.abc;database=Chitunion2017;Max Pool Size=300;Application Name=media_test" />
    <add key="ConnectionStrings_ITSC" value="server=192.168.3.152\DEV,4000;uid=sa;pwd=123.abc;database=Chitunion2017;Max Pool Size=300;Application Name=media_test" />
    <!--BaseData2017-->
    <add key="ConnectionStrings_BaseData2017" value="server=192.168.3.152\DEV,4000;uid=sa;pwd=123.abc;database=BaseData2017;Max Pool Size=300;Application Name=media_test" />
    <!--验证登陆时，MD5加密key-->
    <add key="LoginPwdKey" value="1234567890ABC" />
    <!--登陆后，写入Cookies作用域-->
    <add key="WebDomain" value="chitunion.com" />
    <!--系统退出地址-->
    <add key="ExitAddress" value="http://www.chitunion.com" />
    <!--发送邮件模板-->
    <add key="MailTemplatePath" value="~/MailTemplat" />
    <add key="MailServerAddress" value="smtp.xingyuanauto.com" />
    <add key="MailSendAddress" value="isdc@xingyuanauto.com" />
    <add key="MailSendPassword" value="1qaz@WSX" />
    <!--员工统计接收者,用"；"分隔-->
    <add key="ReceiveErrorEmail" value="masj@xingyuanauto.com;lix@xingyuanauto.com;hant@xingyuanauto.com;lihf@xingyuanauto.com;zhanglb@xingyuanauto.com" />
    <!--接口调用时，IP白名单-->
    <add key="IPSIgnore" value="127.0.222.*,192.168.112.*,192.168.0.*,127.0.0.*,192.168.6.*" />
    <!--登录Cookies过期时间，单位：分钟-->
    <add key="loginOverdueTime" value="1440" />
    <!--是否要设置跨域-->
    <add key="IsSetCrossSite" value="true" />
    <!--上传文件存放物理路径-->
    <add key="UploadFilePath" value="D:\GitRoot（C）\A5信息系统研发\销售业务管理平台\赤兔联盟系统\XYAuto.ITSC.Chitunion2017.Upload" />
    <!--<add key="UploadFilePath" value="D:\GitRoot（C）\A5信息系统研发\销售业务管理平台\赤兔联盟系统\XYAuto.ITSC.Chitunion2017.Upload" />-->
    <!--登陆Cookies有效期，默认为1天-->
    <add key="LoginCookieOverdueDays" value="1" />
    <!--Cache失效时间，默认为1天（单位：天）-->
    <add key="CacheDataTime" value="1" />
    <!--验证来自其它系统表求的应用ID及加密内容配置-->
    <add key="KeyFromOtherSys" value="1,encyptStr;2,ZhySecretTest" />
    <add key="EmbedChiTu_DesStr" value="8A40B180-5E3A-41EA-9EC6-4BE8F810C961" />
    <!--库存经纪人接口配置-->
    <add key="StockBrokerUrlLogin" value="http://api.xingyuanauto.com/chitunion/Login?appkey={0}&amp;signature={1}&amp;timestamp={2}" />
    <add key="StockBrokerUrlDealer" value="http://api.xingyuanauto.com/chitunion/DealerBusinessLicence?appkey={0}&amp;signature={1}&amp;timestamp={2}" />
    <add key="StockBrokerKey" value="chitunion" />
    <!--库存经纪人接口密钥-->
    <add key="StockBrokerAppSecret" value="38B5BB53-0719-4691-9BB8-48224EB27A80" />
    <!--榜单列表查询接口，指定UserId -->
    <add key="RankListQueryByUserId" value="1192" />
    <!--文章中替换图片url后的域名url前缀-->
    <add key="CleanImgURLPrefix" value="http://img4.qcdqcdn.com/" />
    <!--获取文章摘要关键词接口地址-->
    <add key="InterfaceGetSummaryKeyWord" value="http://192.168.3.51:10099/NLP/api/nlp/SummaryAndKeyword?id={0}&amp;summaryLength={1}&amp;keywordSize={2}" />
    <!--广点通-接口url前缀 正式：https://api.e.qq.com/   沙箱：https://sandbox-api.e.qq.com/-->
    <add key="GDT_URL" value="https://sandbox-api.e.qq.com/" />
    <!--广点通-接口版本-->
    <add key="GDT_API_VERSION" value="v1.0" />
    <!--广点通-客户端ID 正式：1106267651   沙箱：1105941209-->
    <add key="GDT_Client_ID" value="1105941209" />
    <!--广点通-访问令牌（测试）-->
    <add key="GDT_Access_Token" value="39d1314ff788dce84f7b533f23d39b0b" />
    <!--广点通-账户ID-->
    <add key="GDT_Account_ID" value="1308" />
    <!--广点通-Authorization域名-->
    <add key="GDT_AuthorizeUrl" value="https://developers.e.qq.com/oauth/authorize" />
    <!--广点通-客户端ID-->
    <add key="GDT_Client_Secret" value="0e26d8cd94ca6e2f9b4745aec0cffdff" />

    <!--请求智慧云接口相关配置 START -->
    <!-- 验签的开关：打开：true -->
    <add key="ZhySignOff" value="false" />
    <add key="ZhyApiAppKey" value="chituads" />
    <add key="ZhyApiAppSecret" value="C581F7FC-1639-4298-9C3C-570BCC4D9A11" />
    <add key="ZhyApiUrl" value="http://api.xingyuanauto.com/" />
    <add key="InterfaceGetSummaryKeyWord" value="http://192.168.3.51:10099/NLP/api/nlp/SummaryAndKeyword?id={0}&amp;summaryLength={1}&amp;keywordSize={2}" />
    <!--请求智慧云接口相关配置 END -->
  </appSettings>

  <!-- log4net配置 -->
  <!--<log4net configSource="ConfigFile\log4net.config" />-->

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="SmtpERRORAppender" />
      <appender-ref ref="BaseLog" />
      <appender-ref ref="ZHYLog" />
      <appender-ref ref="GDTLog" />
    </root>
    <!--additivity 可选，取值是true或false，默认值是true。设置为false时将阻止父logger中的appender-->
    <logger additivity="false" name="ZHYLog">
      <level value="DEBUG" />
      <appender-ref ref="ZHYLog" />
    </logger>
    <logger additivity="false" name="GDTLog">
      <level value="DEBUG" />
      <appender-ref ref="GDTLog" />
    </logger>
    <!-- 赤兔系统基本的日志输出 -->
    <appender name="BaseLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern  value="&quot;Chitunion_WebApi_&quot;yyyyMMdd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="BaseLog" />
      </filter>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <!-- 智慧云接口相关日志 -->
    <appender name="ZHYLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log\ZHY\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="'zhy_'yyyyMMdd'.txt'" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="ZHYLog" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <!-- 广点通接口相关日志 -->
    <appender name="GDTLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log\GDT\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="'gdt_'yyyyMMdd'.txt'" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="GDTLog" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="SmtpERRORAppender" type="log4net.Appender.SmtpAppender">
      <authentication value="Basic" />
      <to value="lix@xingyuanauto.com" />
      <from value="isdc@xingyuanauto.com" />
      <username value="isdc@xingyuanauto.com" />
      <password value="1qaz@WSX" />
      <subject value="赤兔api接口错误" />
      <smtpHost value="smtp.xingyuanauto.com" />
      <bufferSize value="0" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>

  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" />
    <authentication mode="None" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomerServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomerServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.3.51:8003/CustomerService.asmx" binding="basicHttpBinding" bindingConfiguration="CustomerServiceSoap" contract="CRMWebService.CustomerServiceSoap" name="CustomerServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>