<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>查看任务-内容分发-任务管理-赤兔联盟</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <script type="text/javascript" src='/js/jquery.1.11.3.min.js'></script>
    <script type="text/javascript" src="/api/check.ashx?NotCheckModule=true&NotRedirectURL=false"></script>
    <script type="text/javascript" src="/js/jquery.browser.js"></script>
    <script type="text/javascript" src="/js/ejs.min.js"></script>
    <script type="text/javascript" src='/js/Common_chitu.js'></script>
    <script type="text/javascript" src="/js/layer/layer.js"></script>
    <script type="text/javascript" src="/js/laydate.js"></script>
    <script type="text/javascript" src="/js/jquery.pagination.js"></script>
    <script type="text/javascript" src="js/detail-order.js"></script>
    <style type="text/css">
        .OrderList tr{
            cursor: default;
        }
    </style>
</head>
<body>

<!-- 顶部导航-->
<!--#include virtual="/base/header.html" -->


<div class="contaner_body">
    <!--左侧菜单-->
    <!--#include virtual="/base/Menu.html" -->

    <div class="main_right">
        <h2 class="tit">基本信息</h2>
        <ul class='basic_info'></ul>
        <h2 class="tit">收入详情</h2>
        <div class="Personal_table">
            <table border="0" cellspacing="1" cellpadding="0" class="FullOrder">
                <thead>
                <tr>
                    <th>日期</th>
                    <th>有效阅读</th>
                    <th>阅读收益</th>
                </tr>
                </thead>
                <tbody class="OrderList"></tbody>
            </table>

            <!-- loading -->
            <p id="listLoading"></p>
            <div class="last_money">
                <p class="real_debit money" style='display: none;'>质检扣款：0元</p>
                <p class="real_income money">实际收入：<span class="red totalmoney">50.4元</span></p>
            </div>
        </div>

    </div>
</div>

<!--底部-->
<!--#include virtual="/base/footer.html" -->
<script type="text/template" id="order-info">
    <li>任务ID：<%= OrderId %></li>
    <li>任务名称：<span id='taskName'><%= OrderName %></span></li>
    <li>专属链接：<a href="<%= OrderUrl %>" target='_blank' id='taskUrl'><%= OrderUrl %></a></li> 
    <li class="share">
        <span>分享：</span>
        <span>
            <img src="/images/icons/btn_wechat_nor.png" class="-mob-share-weixin">
            <img src="/images/icons/btn_weibo_nor.png" class="-mob-share-weibo">
            <img src="/images/icons/btn_qq_nor.png" class="-mob-share-qq">
            <img src="/images/icons/btn_kongjian_nor.png" class="-mob-share-qzone">
            <img src="/images/icons/icon_dou.png" class="-mob-share-douban">
            <img src="/images/icons/icon_note.png" class="-mob-share-youdao">
        </span>
    </li>
    <li>计费规则：<%= CPCPrice %>元/有效阅读</li>
    <li>状态：<%= OrderStatus %></li>
    <li>领取时间：<%= ReceiveTime %></li>
    <%var  _share =  _share  ||  [];
    (function()  {
        var  msile  =  document.createElement("script");
        msile.src  =  "http://f1.webshare.mob.com/code/mob-share.js?appkey=242ff4369a214?v="+Math.random();
        msile.id="-mob-share";
        var  s  =  document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(msile,  s);
    })();%>
</script>

<script type="text/template" id="order-list">
    <% List.forEach(function(item){%>
    <tr AccountStatus='<%= item.AccountStatus %>'>
        <td><%= item.Date.substr(0,10) %></td>
        <td><%= item.CPCCount %></td>
        <td>
            <%if(item.CPCTotalPrice == null || item.CPCTotalPrice == 0){%>
                0元
            <%}else{%>
                <%= item.CPCTotalPrice %>元
            <%}%>
        </td>
    </tr>
    <%}) %>
    <tr>
        <td>总计</td>
        <td><%= Extend.TotalCPCCount?Extend.TotalCPCCount:0 %></td>
        <td><%= Extend.TotalCPCTotalPrice?Extend.TotalCPCTotalPrice:0 %>元</td>
    </tr>
</script>

<script type="text/javascript">
    window.onload = function(){
         mobShare.config( {
            debug: true, // 开启调试，将在浏览器的控制台输出调试信息
            appkey: '242ff4369a214', // appkey
            params: {
                url: $('#taskUrl').text(), // 分享链接
                title: $('#taskName').text(), // 分享标题
                description: '', // 分享内容
                pic: '', // 分享图片，使用逗号,隔开
                reason:'',//自定义评论内容，只应用与QQ,QZone与朋友网
            }
        } );
    }
</script>

</body>
</html>