<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="赤兔联盟广告在线交易平台">
    <meta name="keywords" content="赤兔联盟">
    <title>效果数据</title>
    <link rel="stylesheet" type="text/css" href="/css/resetNew.css" />
    <link rel="stylesheet" type="text/css" href="/css/layoutNew.css" />
    <script type="text/javascript" src="/js/jquery.1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/laydate.js"></script>
    <script type="text/javascript" src="/js/ejs.min.js"></script>
    <script language="javascript" src="/api/check.ashx?NotCheckModule=true"
            type="text/javascript"></script>
    <script type="text/javascript" src="/js/jquery.browser.js"></script>
    <script type="text/javascript" src="/js/ejs.min.js"></script>
    <script type="text/javascript" src="/js/Common_chitu.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/jquery.pagination.js"></script>
    <script type="text/javascript" src="/js/laydate.js"></script>
    <script type="text/javascript" src="js/demand_data.js"></script>
    <script type="text/javascript" src="/js/layer/layer.js"></script>
    <script type="text/javascript" src="/js/echarts.min.js"></script>
</head>
<style>
</style>
<body style="box-sizing:border-box;">
    <!--#include file="/base/header.html" -->
    <!--中间内容-->
    <div class="order">
        <!--左侧菜单-->
        <!--#include file="/base/Menu.html" -->
        <!-- 插入模板的位置 -->
        <div class="order_r">
            <div class="new_box">
                <div class="list">
                    <h2>效果数据 </h2>
                </div>
                <div class="install effet">
                    <!-- 上部分 -->
                    <div class="effect_left effect_left_two">
                        <div class="effect_left_top" style="cursor:pointer">
                            整体情况
                        </div>
                        <div class="effect_left_bottom">
                            <div class="effect_ad">
                                <div class="">
                                    <span DemandBillNo="1" class="accurate_requirement"><b>智慧云广告投放</b></span><span class="img_switch"><img src="/ImagesNew/up_click.png"><img src="../ImagesNew/down_click.png" style="display:none"></span>
                                </div>
                                <ul>
                                    <li>广点通广告名称1</li>
                                    <li>广点通广告名称2</li>
                                    <li>广点通广告名称3</li>
                                </ul>
                            </div>
                            <div class="effect_ad">
                                <div class="">
                                    <span><b>智慧云广告投放</b></span><img src="../ImagesNew/up_click.png" style="display:none"><span class="img_switch"><img src="/ImagesNew/up_click.png" style="display:none"><img src="../ImagesNew/down_click.png" ></span>
                                </div>
                                <ul style="display:none">
                                    <li class="accurate_advertising" AdgroupId="1">广点通广告名称1</li>
                                    <li>广点通广告名称2</li>
                                    <li>广点通广告名称3</li>
                                </ul>
                            </div>

                        </div>
                        <div class="bottom_info" >
                                            数据延迟约1小时
                        </div>
                    </div>
                    <div class="effect_right">
                        <div class="effect_right_bottom" style="margin-top:0px">
                            <div class="effect_right_bottom_one" >
                                <div class="demand_info">
                                    <p><b>关联广告数量</b></p>
                                    <p><b>13000000</b></p>
                                </div>
                                <div class="demand_info">
                                    <p><b>累计曝光量</b></p>
                                    <p><b>13000000</b></p>
                                </div>
                                <div class="demand_info">
                                    <p><b>累计点击量</b></p>
                                    <p><b>13000000</b></p>
                                </div>
                                <div class="demand_info">
                                    <p><b>累计平均点击率</b></p>
                                    <p><b>13000000</b></p>
                                </div>
                                <div class="demand_info">
                                    <p><b>累计页面PV</b></p>
                                    <p><b>13000000</b></p>
                                </div>
                                <div class="demand_info">
                                    <p><b>页面UV</b></p>
                                    <p><b>13000000</b></p>
                                </div>
                                <div class="demand_info">
                                    <p><b>累计花费</b></p>
                                    <p><b>13000000</b></p>
                                </div>
                                <div class="demand_info">
                                    <p><b>线索量</b></p>
                                    <p><b>13000000</b></p>
                                </div>
                                <div class="demand_info">
                                    <p><b>线索单价</b></p>
                                    <p><b>13000000</b></p>
                                </div>
                            </div>
                            <div class="effect_right_bottom_two">
                                <div class="effect_right_bottom_two_left">
                                    <ul>
                                        <li><b>需求订单号：</b><span>121313131</span><b style="margin-left:20px">状态：</b><span>投放中</span></li>
                                        <li><b>需求名称：</b><span>121313131</span></li>
                                        <li><b>品牌车型：</b><span>121313131</span></li>
                                        <li><b>省份/城市：</b><span>121313131</span></li>
                                        <li><b>经销商列表：</b><span>121313131</span></li>
                                        <li><b>促销政策：</b><span>时间到了开发就是发卡所肩负的杀了快递费啊沙路口的房间里撒艾克</span></li>
                                        <li><b>投放预算：</b><span>121313131</span></li>
                                        <li><b>线索数量：</b><span>121313131</span></li>
                                        <li><b>时间周期：</b><span>121313131</span></li>
                                        <li><b>创建人：</b><span>121313131</span></li>
                                        <li><b>关联广告：</b><span>121313131</span></li>
                                        <li><b>所属运营：</b><span>121313131</span></li>
                                    </ul>
                                </div>
                                <div class="effect_right_bottom_two_right">
                                    <!-- <ul>
                                        <li><b>日期：</b></li>
                                        <li><input name="Username" type="text" style="width:120px;height:28px;border-radius:5px" class="laydate-iconNew" id="startTime"> 至 <input name="Username" type="text" style="width:120px;height:28px;border-radius:5px" class="laydate-iconNew" id="endTime"></li>
                                        <li><b>指标：</b></li>
                                        <li>
                                            <select class="" name="">
                                              <option value="点击量">点击量</option>
                                              <option value="点击量">曝光量</option>
                                              <option value="点击量">点击率</option>
                                              <option value="点击量">费用</option>
                                              <option value="点击量">话单量</option>
                                              <option value="点击量">订单量</option>
                                            </select>
                                        </li>
                                    </ul> -->
                                    <div class="clear"></div>
                                    <div class="echarts_data">
                                        <ul>
                                            <li class="effect_select special" DataType = "1">今天</li>
                                            <li class="special" DataType = "-1">昨天</li>
                                            <li class="special" DataType = "7">近7天</li>
                                            <li class="special" DataType = "30">近30天</li>

                                            <li style="margin-left:10px"><b>指标：</b></li>
                                            <li>
                                                <select class="select" name="">
                                                    <option value="点击量" DateType = "2">点击量</option>
                                                    <option value="曝光量" DateType = "1">曝光量</option>
                                                    <option value="点击率" DateType = "3">点击率</option>
                                                    <option value="费用" DateType = "4">费用</option>
                                                    <option value="PV" DateType = "7">PV</option>
                                                    <option value="PV" DateType = "8">UV</option>
                                                    <option value="线索量" DateType = "9">线索量</option>
                                                    <option value="线索单价" DateType = "10">线索单价</option>
                                                </select>
                                            </li>
                                        </ul>
                                        <div class="clear"></div>
                                        <div class="" id="echart" style="width:100%;height:411px;margin-left:0">图表部分</div>
                                    </div>
                                </div>


                            </div>
                            <div class="clear">

                            </div>
                        </div>
                        <!-- 下部分 -->
                        <div class="detail_data">
                            <div class="detail_data_tab">
                                <span class="demand_select">广告排行数据</span>
                                <span>需求数据明细</span>
                            </div>
                            <ul class="detail_data_ultwo" style="display:none">
                                <li><b>日期：</b><input name="Username" type="text" style="width:120px;height:28px;border-radius:5px" class="laydate-iconNew" id="startTime"> 至 <input name="Username" type="text" style="width:120px;height:28px;border-radius:5px" class="laydate-iconNew" id="endTime"></li>
                                <li><button type="button" name="button" id="search" style="outline:none">查询 </button></li>
                                <li id="down_data"><img src="../ImagesNew/icon19.png" alt=""><a href="javascript:void(0)">下载报表</a></li>
                            </ul>

                            <div class="clear"></div>
                            <div  class="table">
                                <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#ddd">
                                    <tr>

                                        <th width="30%" ><b>广告名称</b></th>
                                        <th width="15%" ><span class="OrderBy_status" OrderBy="2"><b>点击量</b>&nbsp;<img src="/ImagesNew/btn_default.png"></span></th>
                                        <th width="15%" ><span class="OrderBy_status" OrderBy="1"><b>曝光量</b>&nbsp;<img src="/ImagesNew/btn_down.png"></span></th>
                                        <th width="15%" ><span class="OrderBy_status" OrderBy="3"><b>点击率</b>&nbsp;<img src="/ImagesNew/btn_default.png"></span></th>
                                        <th width="15%" ><span class="OrderBy_status" OrderBy="4"><b>花费</b>&nbsp;<img src="/ImagesNew/btn_default.png"></span></th>
                                        <th width="13%" ><span class="OrderBy_status" OrderBy="7"><b>PV</b>&nbsp;<img src="/ImagesNew/btn_default.png"></span></th>
                                        <th width="13%" ><span class="OrderBy_status" OrderBy="8"><b>UV</b>&nbsp;<img src="/ImagesNew/btn_default.png"></span></th>
                                        <th width="15%" ><span class="OrderBy_status" OrderBy="9"><b>线索量</b>&nbsp;<img src="/ImagesNew/btn_default.png"></span></th>
                                        <th width="20%" ><span class="OrderBy_status" OrderBy="10"><b>线索单价</b>&nbsp;<img src="/ImagesNew/btn_default.png"></span></th>
                                        <th width="15%" ><b>广告状态</b></th>
                                    </tr>
                                </table>
                                <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#ddd" class="Weirdo"></table>
                            </div>

                            <!-- 需求数据明细表格 -->

                            <div class="table" style="display:none">
                                <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#ddd">
                                    <tr>

                                        <th width="30%" ><b>时间</b></th>
                                        <th width="15%" ><b>点击量</b></th>
                                        <th width="15%" ><b>曝光量</b></th>
                                        <th width="15%" ><b>PV</b></th>
                                        <th width="15%" ><b>UV</b></th>
                                        <th width="15%" ><b>平均点击率</b></th>
                                        <th width="15%" ><b>花费</b></th>
                                        <th width="15%" ><b>线索量</b></th>
                                        <th width="15%" ><b>线索单价</b></th>

                                    </tr>
                                </table>
                                <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#ddd" class="Weirdo_two"></table>
                            </div>

                            <div class="green-black" id="pageContainer" >
                                <span class="disabled">上一页</span>
                                <span class="current">1</span>
                                <a href="#?page=2">2</a>
                                <a href="#?page=3">3</a>...
                                <a href="#?page=200">100</a>
                                <a href="#?page=2">下一页</a>
                                <span class="NormalText">共有<b style="font-weight:normal" id="number">3</b>条数据</span>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <!--#include file="/base/footer.html" -->
</body>
<!-- 左侧信息模板 -->
<!-- 左侧信息模板 -->
<script type="text/template" id="advertising">
    <%for(var i=0;i<data.length;i++){%>
        <div class="effect_ad">
            <div class="" style="cursor:pointer">
                <span style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;float:left;width:85%" class="accurate_requirement" DemandBillNo = "<%=data[i].DemandBillNo%>"><b style="width:50%"><%=data[i].Name%></b></span><span class="img_switch" style="display:block;float:right;margin-right:6%"><img src="/ImagesNew/up_click.png" style="display:none"><img src="../ImagesNew/down_click.png" ></span>
            </div>
            <ul style="display:none">
                <%for(var j=0;j<data[i].ADGroupList.length;j++){%>
                    <li style="cursor:pointer" class="accurate_advertising" AdgroupId="<%=data[i].ADGroupList[j].AdgroupId%>"><%=data[i].ADGroupList[j].AdgroupName%></li>
                <%}%>
            </ul>
        </div>
    <%}%>
  </script>


<script type="text/template" id="center_data">
    <div class="demand_info">
        <p><b>关联广告数量</b></p>
        <p><b><%=data.ADGroupCount%></b></p>
    </div>
    <div class="demand_info">
        <p><b>累计曝光量</b></p>
        <p><b><%=data.TotalImpression%></b></p>
    </div>
    <div class="demand_info">
        <p><b>累计点击量</b></p>
        <p><b><%=data.TotalClick%></b></p>
    </div>
    <div class="demand_info">
        <p><b>累计平均点击率</b></p>
        <p><b><%= formatMoney(data.AvgClickPercent*100,2,'') %>%</b></p>
    </div>
    <div class="demand_info">
        <p><b>累计页面PV</b></p>
        <p><b><%=data.PV%></b></p>
    </div>
    <div class="demand_info">
        <p><b>页面UV</b></p>
        <p><b><%=data.UV%></b></p>
    </div>
    <div class="demand_info">
        <p><b>累计花费</b></p>
        <p><b><%= formatMoney(data.TotalCost/100,2,'¥') %></b></p>
    </div>
    <div class="demand_info">
        <p><b>线索量</b></p>
        <p><b><%=data.ClueCount%></b></p>
    </div>
    <div class="demand_info">
        <p><b>线索单价</b></p>
        <p><b><%= formatMoney(data.CluePrice/100,2,'¥') %></b></p>
    </div>
</script>

<!-- 中间的需求详情 -->
<script type="text/template" id="demand_tmp">
    <ul>
        <li><b>需求订单号：</b><span><%=data.Demand.DemandBillNo%></span><b style="margin-left:20px">状态：</b><span><%=data.Demand.AuditStatusName%></span></li>
        <li><b>需求名称：</b><span><%=data.Demand.Name%></span></li>
        <li><b>品牌车型：</b><span id="brand_model"><%=data.Demand.BrandAndCarSerialList%></span></li>
        <li><b>省份/城市：</b><span id="city"><%=data.Demand.ProvinceAndCityList%></span></li>
        <li><b>经销商列表：</b><span id="dealers"><%=data.Demand.DistributorList%></span></li>
        <li><b>促销政策：</b>
            <span>
                <%if(data.Demand.PromotionPolicy){%>
                    <%=data.Demand.PromotionPolicy%>
                <%}else{%>
                    --
                <%}%>
            </span>
        </li>
        <li><b>投放预算：</b>
            <span>
                <%=data.Demand.TotalBudget/100%>元
            </span>
        </li>
        <li><b>线索数量：</b><span><%=data.Demand.ClueNumberStr%></span></li>
        <li><b>时间周期：</b><span><%=data.Demand.DuringDate%></span></li>
        <li><b>创建人：</b><span><%=data.Demand.CreateUserName%></span></li>
        <li><b>关联广告：</b><span id="correlate_ad"><%=data.Demand.Name%></span></li>
        <li><b>所属运营：</b><span><%=data.Demand.BelongYY%></span></li>
    </ul>
</script>

<!-- 广告数据排行 -->
<script type="text/template" id="Weirdo_tmp">
    <%for(var i=0;i<data.length;i++){%>
        <tr>
            <td width="30%"><%=data[i].AdgroupName%></td>
            <td width="15%"><%=data[i].TotalClick%></td>
            <td width="15%"><%=data[i].TotalImpression%></td>
            <td width="15%"><%= formatMoney(data[i].AvgClickPercent*100,2,'') %>%</td>
            <td width="15%"><%= formatMoney(data[i].TotalCost/100,2,'¥') %></td>
            <td width="13%"><%=data[i].PV%></td>
            <td width="13%"><%=data[i].UV%></td>
            <td width="15%"><%= data[i].ClueCount %></td>
            <td width="20%"><%= formatMoney(data[i].CluePrice/100,2,'¥') %></td>
            <td width="15%"><%=data[i].SystemStatusName%></td>
        </tr>
    <%}%>

</script>
<!-- 需求数据明细 -->
<script type="text/template" id="Weirdo_tmp_two">
    <%for(var i=0;i<data.length;i++){%>
        <tr>
            <td width="30%"><%=data[i].AdgroupDate%></td>
            <td width="15%"><%=data[i].TotalClick%></td>
            <td width="15%"><%=data[i].TotalImpression%></td>
            <td width="15%"><%=data[i].PV%></td>
            <td width="15%"><%=data[i].UV%></td>
            <td width="15%"><%= formatMoney(data[i].AvgClickPercent*100,2,'') %>%</td>
            <td width="15%"><%= formatMoney(data[i].TotalCost/100,2,'¥') %></td>
            <td width="15%"><%=data[i].ClueCount%></td>
            <td width="15%"><%= formatMoney(data[i].CluePrice/100,2,'¥') %></td>
        </tr>
    <%}%>

</script>
</html>
