<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key="ConnectionStrings_ITSC" value="server=192.168.3.51;uid=sa;pwd=123.abc;database=Chitunion2017;Max Pool Size=300;Application Name=media_test" />-->
    <add key="ConnectionStrings_ITSC" value="server=192.168.3.152\DEV,6000;uid=sa;pwd=123.abc;database=Chitunion2017;Max Pool Size=300;Application Name=media_test;Connect Timeout=500;" />

    <!--BaseData2017-->
    <add key="ConnectionStrings_BaseData2017" value="server=192.168.3.152\DEV,4000;uid=sa;pwd=123.abc;database=BaseData2017;Max Pool Size=300;Application Name=media_test1" />
    <!--间隔时间 单位小时-->
    <add key="TimeInterval" value="2" />

    <!--最后一次更新时间 -->
    <add key="LastTime" value="1900-01-01 00:00:00.000" />

    <add key="ConfigArgsPath" value="D:\项目文件\信息系统研发\销售业务\赤兔联盟系统\sln\XYAuto.ITSC.Chitunion2017.LuceneMediaConsole\bin\Debug" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
