@charset "utf-8";
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; /*vertical-align: baseline;*/ }
html { font-size: 62.5%; }
body { font-family: "STHeiti",Helvetica,Arial,sans-serif; line-height: 1.0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
legend { display: none; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; }

html{-webkit-text-size-adjust:none; } /*禁用iphone中safari的字号自动调整*/
input[type="text"], input[type="button"], input[type="submit"], input[type="search"], input[type="number"]{-webkit-appearance:none; border-radius:0;} /*去除iphone默认样式（input的圆角）*/
input[type="checkbox"]{margin:0 3px 3px 4px;}
img{max-width:100%;} /*液态图片*/
video{margin-left:auto; margin-right:auto; max-width:100%} /*液态视频*/

a { text-decoration: none; color: #333; }
ins { text-decoration: none; }
a.underline { text-decoration: underline; }
.pull-right { float: right; }
.pull-left { float: left; }

.clear { clear: both; height: 0; overflow: hidden; }
.active { display: block !important; }
.t_active { display: table !important; }
.notbottom { border-bottom: none !important; }

.through { text-decoration: line-through !important; font-style: normal; }

.bf8f8f8 { background-color: #f8f8f8 !important; }
.b0a4e8a { background-color: #0a4e8a !important; }
.bf0f0f0 { background-color: #f0f0f0 !important; }
.bcc0000 { background-color: #cc0000 !important; }
.bfff { background-color: #fff !important; }

.h10 { height: 10px; }
.h32 { height: 32px; }
.h35 { height: 35px; }
.h80 { height: 80px; }
.h40 { height: 40px; }
.h45 { height: 45px; }
.h50 { height: 50px; }
.h55 { height: 55px; }
.h60 { height: 60px; }
.h80 { height: 80px; }
.font_red { color: #cc0000 !important; font-style: normal; }
.font_blue { color: #0a4e8a !important; font-style: normal; }
.font_orange { color: #f5ae5c !important; font-style: normal; }

.w50 { width: 50px !important; }
.w112 { width: 112px !important; }
.w242 { width: 242px !important; }



.w90x60 { width: 90px; height: 60px; }
.w90x135 { width: 90px; height: 135px; }
.mt10 { margin-top: 10px !important; }
.ml60 { margin-left: 60px !important; }

/*图片规格*/
.w150x100 { width: 150px !important; height: 100px !important; }
.w120x80 { width: 120px !important; height: 80px !important; }
.w210x140 { width: 210px !important; height: 140px !important; }
.w90x60 { width: 90px !important; height: 60px !important; }
.w300x200 { width: 300px !important; height: 200px !important; }


.w145x81 { width: 145px !important; height: 81px !important; }
.w286x101 { width: 286px !important; height: 101px !important; }
.w284x188 { width: 284px !important; height: 188px !important; }
.w180x280 { width: 180px !important; height: 270px !important; }
/*图标*/
.w60x60 { width: 60px !important; height: 60px !important; }


.pl10r30 { padding: 0 30px 0 10px; }
a.default { cursor: default !important; text-decoration: none; }
a.def { color: #e9e9e9 !important; cursor: default !important; text-decoration: none; }
/*reset end
===================================================================================================================*/
html { -webkit-text-size-adjust: none; }
/*禁用iphone中safari的字号自动调整*/
input[type="text"], input[type="button"], input[type="submit"], input[type="search"], input[type="number"] { -webkit-appearance: none; border-radius: 0; }
/*去除iphone默认样式（input的圆角）*/
input[type="checkbox"] { margin: 0 3px 3px 4px; }
img { max-width: 100%; }
/*液态图片*/
video { margin-left: auto; margin-right: auto; max-width: 100%; }
body { background-color: #fff; }
/*液态视频*/
.container { float: left; width: 100%; }

.bg_eee { background-color: #eee; }
/*左右结构的图片与文字样式*/
.media { margin-top: 0; display: table; width: 100%; }
    .media .pull-left { margin-right: 10px; display: table-cell; }
    .media .media-body { display: table; }



/*上下结构*/
.thumbnail { display: block; }
    .thumbnail .caption { display: block; }


.z-box { border: none; }

.gray-box { border: 1px solid #e9e9e9; }


.gray_line { border-bottom: 1px solid #e9e9e9; }

/*单箭头左*/
.arrows-left { position: relative; width: 20px; height: 20px; display: block; }
    .arrows-left i { border-right: 4px solid #000; border-top: 4px solid #000; content: ""; height: 8px; left: 50%; margin-left: -4px; margin-top: -6px; position: absolute; top: 50%; transform: rotate(-135deg); -webkit-transform: rotate(-135deg); -o-transform: rotate(-135deg); -moz-transform: rotate(-135deg); width: 8px; }

/*单箭头向右*/
.arrows-right { position: relative; width: 20px; height: 20px; display: block; }
    .arrows-right i { border-right: 4px solid #000; border-top: 4px solid #000; content: ""; height: 8px; left: 50%; margin-left: -10px; margin-top: -6px; position: absolute; top: 50%; transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); -moz-transform: rotate(45deg); width: 8px; }

/*单箭头向上*/
.arrows-top { position: relative; width: 20px; height: 20px; display: block; }
    .arrows-top i { border-right: 4px solid #000; border-top: 4px solid #000; content: ""; height: 8px; left: 50%; margin-left: -6px; margin-top: -6px; position: absolute; top: 50%; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); -moz-transform: rotate(-45deg); width: 8px; }

/*单箭头向下*/
.arrows-bottom { position: relative; width: 20px; height: 20px; display: block; }
    .arrows-bottom i { border-right: 4px solid #000; border-top: 4px solid #000; content: ""; height: 8px; left: 50%; margin-left: -6px; margin-top: -8px; position: absolute; top: 50%; transform: rotate(-225deg); -webkit-transform: rotate(-225deg); -o-transform: rotate(-225deg); -moz-transform: rotate(-225deg); width: 8px; }

/*双箭头左*/
.arrows-left-2 { position: relative; width: 20px; height: 20px; display: block; }
    .arrows-left-2 i:before, .arrows-left-2 i:after { border-right: 4px solid #000; border-top: 4px solid #000; position: absolute; width: 8px; height: 8px; content: ""; top: 4px; left: 3px; transform: rotate(-135deg); -webkit-transform: rotate(-135deg); -o-transform: rotate(-135deg); -moz-transform: rotate(-135deg); }
    .arrows-left-2 i:after { left: 13px; }

/*双箭头右*/
.arrows-right-2 { position: relative; width: 20px; height: 20px; display: block; }
    .arrows-right-2 i:before, .arrows-right-2 i:after { border-right: 4px solid #000; border-top: 4px solid #000; position: absolute; width: 8px; height: 8px; content: ""; top: 4px; left: -3px; transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); -moz-transform: rotate(45deg); }
    .arrows-right-2 i:after { left: 7px; }

/*双箭头上*/
.arrows-top-2 { position: relative; width: 20px; height: 20px; display: block; top: 5px; }
    .arrows-top-2 i:before, .arrows-top-2 i:after { border-right: 4px solid #000; border-top: 4px solid #000; position: absolute; width: 8px; height: 8px; content: ""; top: 0px; left: 3px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); -moz-transform: rotate(-45deg); }
    .arrows-top-2 i:after { left: 3px; top: 8px; }

/*双箭头下*/
.arrows-bottom-2 { position: relative; width: 20px; height: 20px; display: block; top: 5px; }
    .arrows-bottom-2 i:before, .arrows-bottom-2 i:after { border-right: 4px solid #000; border-top: 4px solid #000; position: absolute; width: 8px; height: 8px; content: ""; top: -4px; left: 3px; transform: rotate(-225deg); -webkit-transform: rotate(-225deg); -o-transform: rotate(-225deg); -moz-transform: rotate(-225deg); }
    .arrows-bottom-2 i:after { left: 3px; top: 4px; }

.overflow { overflow: hidden !important; position: relative !important; display: block !important; }

.center { display: block !important; margin: 0 auto !important; }

.border_e6e6e6 { border: 1px solid #e6e6e6 !important; padding: 2px !important; }
