<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" restartOnExternalChanges="true" />
  </configSections>
  <log4net configSource="Config\log4net.config"/>
  <appSettings>
    <add key="ConnectionStrings_ITSC" value="server=192.168.3.152\DEV,4000;uid=sa;pwd=123.abc;database=Chitunion2017;Max Pool Size=300;Application Name=tt" />
    <!-- 微信公众号URL对接信息 -->
    <add key="WeixinToken" value="weixin" />
    <add key="WeixinEncodingAESKey" value="应用服务器（开发者服务器）URL对应的消息加解密密钥" />
    <!-- 高级接口信息 -->
    <add key="WeixinAppId" value="wx3b4d1cdb1de3d00c" />
    <add key="WeixinAppSecret" value="2326e662d87034cab3ac09abfcdb12c1" />
    <!--文章中替换图片url后的域名url前缀:http://imgcdn.chitunion.com/-->
    <add key="CleanImgURLPrefix" value="http://192.168.3.76/" />
    <!--上传文件存放物理路径-->
    <add key="UploadFilePath" value="D:\wwwroot\XYAuto.ITSC.Chitunion2017.Upload" />
    <add key="Domin" value="http://wxtest-ct.qichedaquan.com" />
    <add key="CutHeadImage" value="http://192.168.3.19:8066/api/InsideUtil/CutHeadImage"/>
    <add key="ActivityQRcodeImg" value="D:\GitRoot（C）\A5信息系统研发\销售业务管理平台\赤兔联盟系统\XYAuto.BUOC.Chitunion2017.WebAPIWeChat\Images\demoIcon.jpg"/>
    <add key="ActivityImgX" value="192" />
    <add key="ActivityImgY" value="632" />
    <add key="ImgZoomWidth" value="180" />
    <add key="ImgZoomHight" value="180" />
    <!--微信临时图片-->
    <add key="LocalImg" value="D:\wwwroot\XYAuto.BUOC.Chitunion2018.WebAPIWeChat\Images"/>
    <!--可访问临时图片用于图片上传CDN-->
    <add key="LocalWebImage" value="http://wxtest-ct.qichedaquan.com/api/Images/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>