<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="appFiles" type="XY.Framework.Configuration.ConfigFilesSection, XY.Framework" />
    <section name="KrFundsConfig" type="XYAuto.ChiTu2018.Settlement.ThirdApi.Config.KrFundsConfigSection,XYAuto.ChiTu2018.Settlement" />
  </configSections>
  <connectionStrings>
    <add name="Chitunion2017" connectionString="data source=192.168.3.152\TEST,5000;initial catalog=Chitunion2017;user id=sa;password=123.abc;MultipleActiveResultSets=True;App=EntityFramework,Application Name=ef" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings configSource="ConfigFile\appSettings.config"></appSettings>
  <!-- log4net配置 -->
  <!--<log4net configSource="ConfigFile\log4net.config" />-->
  <!-- 库容资金调用配置 -->
  <KrFundsConfig configSource="ConfigFile\KrFundsConfig.config" />
  
  <appFiles>
    <file name="AppClientConfig" path="ConfigFile/AppClientConfig.config" />
  </appFiles>


  <!--暂未解决分离出去不起作用的bug，别的项目可以-->
  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="BaseLog" />
    </root>
    <logger name="BaseLog" additivity="false">
      <level value="ALL" />
      <appender-ref ref="SmtpERRORAppender" />
      <appender-ref ref="BaseLog" />
    </logger>
    <logger name="DBLog" additivity="false">
      <level value="INFO" />
      <appender-ref ref="DBLog" />
    </logger>
    <!-- 赤兔系统基本的日志输出 -->
    <appender name="BaseLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="10MB" />
      <!--可以为:Once|Size|Date|Composite-->
      <!--Composite为Size和Date的组合-->
      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="yyyy-MM-dd/&quot;Chitunion_&quot;yyyy-MM-dd&quot;.log&quot;" />
      <!--置为true,当前最新日志文件名永远为file节中的名字CC_yyyy-MM-dd.LOG-->
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <!-- 智慧云接口相关日志 -->
    <appender name="DBLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\DBLog\" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="10MB" />
      <!--可以为:Once|Size|Date|Composite-->
      <!--Composite为Size和Date的组合-->
      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="yyyy-MM-dd/&quot;zhy_&quot;yyyy-MM-dd&quot;.log&quot;" />
      <!--置为true,当前最新日志文件名永远为file节中的名字CC_yyyy-MM-dd.LOG-->
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="DBLog" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="SmtpERRORAppender" type="log4net.Appender.SmtpAppender">
      <authentication value="Basic" />
      <to value="lix@xingyuanauto.com,lx501361941@qq.com" />
      <from value="buoc@xingyuanauto.com" />
      <username value="buoc@xingyuanauto.com" />
      <password value="@WSX2wsx" />
      <subject value="XYAuto.ChiTu2018.API错误" />
      <smtpHost value="smtp.xingyuanauto.com" />
      <bufferSize value="0" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>