@charset "utf-8";
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,button,article, aside, canvas, details, embed, figure,figcaption, footer, header, hgroup, menu, nav,output, ruby, section, summary, time, mark,audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

button {
    background: transparent;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

strong {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    max-width: 100%;
}

html {
    line-height: initial;
}

body {
    font-size: 0.32rem;
    background-color: #fff;
}




.box {
    width: 6.20rem;
    margin:0.45rem  auto;
}
.box h2{
    font-size: 0.24rem;
    font-weight: 400;
    color: #0f0f0f;
    border-bottom:solid #9a9a9a 1px;
    padding-bottom:0.1rem;

}
.box ul{
    margin-top:0.1rem;
    color: #797979;
    font-size: 0.16rem;
    font-weight: 400;
}
.box ul li{
    float: left;
    margin-right: 0.3rem;
}

.box ul li a{
    color: #2973e3;
    text-decoration:none;
}
.box img{
    margin-top: 0.3rem;
    margin-bottom:0.1rem;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
}
.box p{
    font-size: 0.16rem;
    font-weight: 400;
    color: #0f0f0f;
    /*line-height: 0.3rem;*/
    text-indent: 2em;
    margin-top:0.1rem;
}
